{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}Vehicle Issue Tracker | {% endif %}
{% endblock %}

{% block auth_content %}
{% load static %}
<div class="row">
    <div class="col">
        <h2>Vehicle Issue Tracker</h2>
    </div>
    <div class="col-auto">
        <a class="btn btn-primary" href="{% url 'vehicle-status' %}"><span class="oi oi-arrow-thick-left mr-2"></span>Return to Vehicle Status</a>
    </div>
</div>
<hr/>
{% include "ajax_loading.html" %}
<div id="vehicle_issues">
</div>

<script type="text/javascript">
    var params = new URLSearchParams(location.search);

    var issue_page = params.get('issue_page');
    if (issue_page == null)
        issue_page = 1;

    var ajax_loader = new AjaxLoader("{%url 'ajax-vehicle-issue-tracker' %}?issue_page=" + issue_page, "#vehicle_issues");

    // Fetch the initial data and repeat every 10 seconds
    ajax_loader.run();
    ajax_loader.start(10000);
</script>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
