<h3>Drivers <a class="btn btn-secondary" href="{% url 'driver-create' %}">Add new</a></h3>
{% if drivers %}
<table class="mytable">
    <thead>
        <td></td>
        <td></td>
        <td>Name</td>
        <td>Is logged?</td>
    </thead>
    {% for driver in drivers %}
    <tr style="background: {{ driver.color }};">
        <td class="mytable-col-arrows">
            <a id="driver_{{ driver.id }}"></a>
            <div class="btn-group-vertical">
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0" onclick="ajax_loader.run('{{ driver.id }}', 'mv', 'u')"><span class="oi oi-chevron-top"></span></button>
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0" onclick="ajax_loader.run('{{ driver.id }}', 'mv', 'd')"><span class="oi oi-chevron-bottom"></span></button>
            </div>
        </td>
        <td class="mytable-col-xs">
            <a class="btn btn-outline-dark btn-sm" href="{% url 'driver-edit' driver.id %}">Edit</a>
        </td>
        <td class="mytable-col-lg">{{ driver.name }}</td>
        <td class="mytable-col-sm"><span class="oi {% if driver.is_logged %}oi-check{% elif driver.is_logged is False %}oi-x{% endif %}"></span></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
