<h3>Drivers <a class="btn btn-success btn-sm" href="{% url 'driver-create' %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
{% if drivers %}
<script type="text/javascript">
    var row_mover = new RowMover("RowMover", ajax_loader);
</script>
<table class="mytable">
    <thead>
        <td></td>
        <td></td>
        <td>Name</td>
        <td>Is logged?</td>
    </thead>
    {% for driver in drivers %}
    {% if driver.sort_index == 0 %}
    <tr class="RowMover mytable-sort mytable-sort-hidden" onclick="row_mover.moveItem('')"><td colspan="4"></td></tr>
    {% endif %}
    <tr style="background: #{{ driver.get_color }};">
        <td class="mytable-col-arrows">
            <a id="driver_{{ driver.id }}"></a>
            <button class="btn btn-outline-dark btn-sm btn-row-mover" onclick="row_mover.toggle(this, '{{ driver.id }}')"><span class="oi oi-resize-height"></span></button>
        </td>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu">
                    <a href="{% url 'driver-edit' driver.id %}" class="dropdown-item">Edit driver</a>
                    {% if perms.transit.can_delete_driver %}
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'driver-delete' driver.id %}" class="dropdown-item text-danger">Delete driver</a>
                    {% endif %}
                </div>
            </div>
        </td>
        <td class="mytable-col-lg">{{ driver.name }}</td>
        <td class="mytable-col-sm"><span class="oi {% if driver.is_logged %}oi-check{% elif driver.is_logged is False %}oi-x{% endif %}"></span></td>
    </tr>
    <tr class="RowMover mytable-sort mytable-sort-hidden" onclick="row_mover.moveItem('{{ driver.id }}')"><td colspan="4"></td></tr>
    {% endfor %}
</table>
{% endif %}
