<h3>Drivers <a class="btn btn-secondary" href="{% url 'driver-create' %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
{% if drivers %}
<table class="mytable">
    <thead>
        <td></td>
        <td></td>
        <td>Name</td>
        <td>Is logged?</td>
    </thead>
    {% for driver in drivers %}
    <tr style="background: #{{ driver.get_color }};">
        <td class="mytable-col-arrows">
            <a id="driver_{{ driver.id }}"></a>
            <div class="btn-group-vertical">
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0 sort-arrow" onclick="ajax_loader.run('{{ driver.id }}', 'mv', 'u')"><span class="oi oi-caret-top"></span></button>
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0 sort-arrow" onclick="ajax_loader.run('{{ driver.id }}', 'mv', 'd')"><span class="oi oi-caret-bottom"></span></button>
            </div>
        </td>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu">
                    <a href="{% url 'driver-edit' driver.id %}" class="dropdown-item">Edit driver</a>
                    {% if perms.transit.can_delete_driver %}
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'driver-delete' driver.id %}" class="dropdown-item text-danger">Delete driver</a>
                    {% endif %}
                </div>
            </div>
        </td>
        <td class="mytable-col-lg">{{ driver.name }}</td>
        <td class="mytable-col-sm"><span class="oi {% if driver.is_logged %}oi-check{% elif driver.is_logged is False %}oi-x{% endif %}"></span></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
