{% extends "base_generic.html" %}

{% block auth_content %}
<div id="driver_list">
</div>

{% block javascript %}
<script type="text/javascript">
    function ajaxDriverList(driver_id="", driver_action="", driver_data="") {
        $.ajax({
            type: "GET",
            url: "{% url 'ajax-driver-list' %}",
            data: {
                "driver_id":driver_id,
                "driver_action": driver_action,
                "driver_data": driver_data,
            }
        })
        .done(function(response) {
            $("#driver_list").html("");
            $("#driver_list").append(response);
            var hash = window.location.hash.substr(1);
            if (hash)
                document.getElementById(hash).scrollIntoView();
        });
    }

    // Fetch the initial data
    ajaxDriverList();

    // Refresh every 10 seconds
    setInterval(ajaxDriverList, 10000);
</script>
{% endblock %}
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
