{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}Drivers | {% endif %}
{% endblock %}

{% block auth_content %}
{% include "ajax_loading.html" %}
<div id="driver_list">
</div>

<script type="text/javascript">
    var ajax_loader = new AjaxLoader("{%url 'ajax-driver-list' %}", "#driver_list");

    // Fetch the initial data and repeat every 10 seconds
    ajax_loader.run();
    ajax_loader.start(10000);
</script>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
