{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}Client Payments from {{ client.name }} | {% endif %}
{% endblock %}

{% block auth_content %}
{% include "ajax_loading.html" %}

<h3>
    <a href="{% url 'clients' %}" class="btn btn-outline-secondary btn-sm"><span class="oi oi-chevron-left"></span></a>
    Payments from {{ client.name }}
    <a class="btn btn-success btn-sm" href="{% url 'client-payment-create' client.id %}"><span class="oi oi-plus mr-2"></span>New</a>
</h3>
<div class="alert alert-info">
    <strong>NOTE:</strong> Payments listed here <strong>do not</strong> include money given directly to drivers.<br/>
    For that information, please refer to the <a class="alert-link" href="{% url 'client-report-this-month' client.id %}">Client Report</a> or the global <a class="alert-link" href="{% url 'report-this-month' %}">Report</a>.
</div>

<div id="client_payment_list">
</div>

<script type="text/javascript">
    var ajax_loader = new AjaxLoader("{%url 'ajax-client-payment-list' parent %}", "#client_payment_list");

    // Fetch the initial data and repeat every 10 seconds
    ajax_loader.run();
    ajax_loader.start(10000);
</script>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
