<div class="container ml-0 pl-0">
{% for vehicle in logged_vehicles %}
<div class="card mb-5">
    <div class="card-header bg-secondary text-light">
        <a id="vehicle_{{ vehicle.id }}" data-scrollintoview="start" />
        <h3>{{vehicle.name}}</h3>
        {% if vehicle.description %}<div>{{vehicle.description}}</div>{% endif %}
    </div>
    <div class="card-body">
        <div class="row">
        <div class="col-sm-5">
        <div class="row">
            <div class="col">
                <h4>Maintainence</h4>
            </div>
            <div class="col-auto">
                <a href="{% url 'vehicle-maintain-edit' vehicle.id %}" class="btn btn-primary btn-sm">
                    <span class="oi oi-wrench mr-2"></span>Update{% if vehicle in notify_vehicle_oil_changes or vehicle in notify_vehicle_inspections %}<span class="ml-2 oi oi-warning"></span>{% endif %}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col text-muted">Next Oil Change</div>
            <div class="col">
                {% if vehicle in notify_vehicle_oil_changes %}
                <span class="text-danger font-weight-bold">
                {% else %}
                <span>
                {% endif %}
                {{ vehicle.oil_change_miles }}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col text-muted">State Inspection Sticker</div>
            <div class="col">
                {% if vehicle in notify_vehicle_inspections %}
                <span class="text-danger font-weight-bold">
                {% else %}
                <span>
                {% endif %}
                {{ vehicle.inspection_date|date:"n / Y" }}
                </span>
            </div>
        </div>
        {% if vehicle.maintainence_notes %}
        <div class="row pl-4 pr-4 pt-2">
            <div class="col alert alert-secondary m-0">
                <div class="text-muted text-bold">Additional Notes</div>
                <hr class="mt-0 mb-2"/>
                {{ vehicle.maintainence_notes|linebreaks }}
            </div>
        </div>
        {% endif %}
        <hr/>
        <div class="row mt-4">
            <div class="col">
                <h4>Recent Driver Inspections</h4>
            </div>
            <div class="col-auto">
                <a href="{% url 'vehicle-pretrip-create-no-shift' vehicle.id %}" class="btn btn-success btn-sm"><span class="oi oi-plus mr-2"></span>New Inspection{% if vehicle in notify_vehicle_pretrips %}<span class="ml-2 oi oi-warning"></span>{% endif %}</a>
            </div>
        </div>
        {% for vd in vehicle_data %}
        {% if vd.id == vehicle.id %}
        {% if vd.pretrips %}
        <div class="list-group mb-4">
            {% for pretrip in vd.pretrips %}
            <div class="p-1 list-group-item">
                <span class="badge badge-light border mr-1">{{ pretrip.date }} | {{ pretrip.inspect_type_str }}</span>
                <span class="badge badge-light border mr-1" style="background: #{{ pretrip.driver.get_color }}">{{ pretrip.driver }}</span>
                {% if pretrip.status == 2 %}
                <span class="badge badge-success"><strong>Passed</strong></span>
                {% elif pretrip.status == 1 %}
                <span class="badge badge-danger"><strong>Failed</strong></span>
                <ul class="small text-muted mb-0 mt-1">
                {% for fail in pretrip.failure_list %}
                <li>{{ fail.label }}{% if fail.issue_id %} [<a href="{% url 'vehicle-issue-edit' fail.issue_id %}">View Issue</a>]{% endif %}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>There are no logged driver inspections.</p>
        {% endif %}
        {% endif %}
        {% endfor %}
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col">
                    <h4>Open Issues</h4>
                </div>
                <div class="col-auto">
                    <a class="btn btn-success btn-sm" href="{% url 'vehicle-issue-create' %}?vehicle={{ vehicle.id }}"><span class="oi oi-plus mr-2"></span>New Issue</a>
                </div>
            </div>
            {% for vd in vehicle_data %}
            {% if vd.id == vehicle.id %}
            {% if vd.issues %}
            <div class="list-group">
                {% for issue in vd.issues %}
                <a href="{% url 'vehicle-issue-edit' issue.id %}" class="p-1 list-group-item list-group-item-action {% if issue.priority == 2 %}bg-danger text-light{% elif issue.priority == 1 %}bg-warning{% endif %}">
                    <span class="badge badge-light border mr-1">{{ issue.date }}</span>
                    <span class="badge badge-light border mr-1" style="background: #{{ issue.driver.get_color }}">{{ issue.driver }}</span>
                    {% if issue.category > 0 %}
                    <span class="badge badge-light border text-muted mr-1">{{ issue.get_category_str }}</span>
                    {% endif %}
                    <span class="small">{{ issue.description }}</span>
                </a>
                {% endfor %}
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
