<h3>Maintainence Information</h3>
{% if logged_vehicles %}
<table class="mytable mytable-striped">
    <thead>
        <td>Vehicle</td>
        <td>Last Oil Change</td>
        <td>Inspection Sticker</td>
        <td></td>
    </thead>
{% for vehicle in logged_vehicles %}
    <tr>
        <td class="mytable-col-lg">{{vehicle.name}}</td>
        <td class="mytable-col-lg">{{ vehicle.oil_change_miles }}</td>
        <td class="mytable-col-lg">{{ vehicle.inspection_date|date:"n / Y" }}</td>
        <td class="mytable-col-md">
            <a href="{% url 'vehicle-maintain-edit' vehicle.id %}" class="btn btn-secondary w-100">Update</a>
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>There are no logged vehicles.</p>
{% endif %}
<hr/>
<h3>Reported Issues <a class="btn btn-secondary" href="{% url 'vehicle-issue-create' %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
<div class="container-fluid border p-2 mb-3" style="background: #eee;">
    <div class="row">
        <div class="col">
            <h5>Filter</h5>
        </div>
        {% if is_filtered %}
        <div class="col-auto">
            <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_reset', '')"><span class="oi oi-delete mr-2"></span>Reset Filter</button>
        </div>
        {% endif %}
    </div>
    <div class="mt-2">
        <button class="btn {% if filter_show_resolved %}btn-outline-dark{% else %}btn-primary{% endif %} btn-sm" onclick="ajax_loader.run('', 'filter_toggle_resolved', '')">
            Hide Resolved
        </button>
    </div>
</div>
{% if vehicle_issues %}
<table class="mytable">
    <thead>
        <td></td>
        <td></td>
        <td>Date</td>
        <td>Vehicle</td>
        <td>Driver</td>
        <td>Description</td>
    </thead>
    {% for issue in vehicle_issues %}
    {% if issue.priority == 2 and not issue.is_resolved %}
    <tr class="bg-danger text-light">
    {% elif issue.priority == 1 and not issue.is_resolved %}
    <tr class="bg-warning text-dark">
    {% elif issue.is_resolved %}
    <tr class="text-muted">
    {% else %}
    <tr>
    {% endif %}
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn {% if issue.priority is 2 and not issue.is_resolved %}btn-outline-light{% else %}btn-outline-dark{% endif %} btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu">
                    <a href="{% url 'vehicle-issue-edit' issue.id %}" class="dropdown-item">Edit issue</a>
                    <a href="#_" onclick="ajax_loader.run('{{ issue.id }}', 'toggle_resolved', '')" class="dropdown-item">{% if issue.is_resolved %}Set as not resolved{% else %}Set as resolved{% endif %}</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'vehicle-issue-delete' issue.id %}" class="dropdown-item text-danger">Delete issue</a>
                </div>
            </div>
        </td>
        <td class="mytable-col-xs">{% if issue.is_resolved %}<span class="text-success oi oi-check"></span>{% endif %}</td>
        <td class="mytable-col-md">{{ issue.date }}</td>
        <td class="mytable-col-md">{{ issue.vehicle }}</td>
        <td class="mytable-col-md">{{ issue.driver }}</td>
        <td class="mytable-col-xl">{{ issue.description }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no reported vehicle issues.</p>
{% endif %}
