{% extends "base_generic.html" %}

{% block auth_content %}
{% load static %}
<h2>Vehicle Status</h2>
<hr/>
<div id="vehicle_status">
</div>

{% block javascript %}
<script type="text/javascript">
    var params = new URLSearchParams(location.search);
    var pretrip_page = params.get('pretrip_page');
    if (pretrip_page == null)
        pretrip_page = 1;

    var ajax_loader = new AjaxLoader("{%url 'ajax-vehicle-status' %}?pretrip_page=" + pretrip_page, "#vehicle_status");

    // Fetch the initial data and repeat every 10 seconds
    ajax_loader.run();
    ajax_loader.start(10000);
</script>
{% endblock %}
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
