<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col p-1">
            <h5>{{ date|date:"l"}}, <strong>{{ date|date:"F d" }}</strong>, {{ date|date:"Y" }}</h5>
        </div>
        <div class="col p-1">
            <h5>Van Daily Log</h5>
        </div>
        {% if shifts %}
        <div class="col-auto p-1" id="print-shiftselect">
            <span class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if current_shift %}
                    {{ current_shift.driver }} / {{ current_shift.vehicle }}
                    {% else %}
                    All Shifts
                    {% endif %}
                </button>
                <div class="dropdown-menu dropdown-menu-right shadow">
                    <button class="dropdown-item {% if current_shift == None %}active{% endif %}" onclick="ajax_loader.run('', 'select_all', '');">All Shifts</button>
                    {% for shift in shifts %}
                    <button class="dropdown-item {% if shift.id == current_shift.id %}active{% endif %}" onclick="ajax_loader.run('', 'select_id', '{{ shift.id }}');">
                        {{ shift.driver }} / {{ shift.vehicle }}
                    </button>
                    {% endfor %}
                </div>
            </span>
        </div>
        {% if not current_shift %}
        <div class="col-auto p-1" id="print-shiftselect">
            <div class="alert alert-warning p-2 small"><span class="oi oi-arrow-left mr-2"></span>View a single shift</div>
        </div>
        {% endif %}
        {% endif %}
        <div class="col-auto p-1" id="print-print">
            <button class="btn btn-info" onclick="window.print()"><span class="oi oi-print mr-2"></span>Print</button>
        </div>
    </div>
</div>
<hr class="mt-0" />
<div class="container ml-0">
{% if shifts %}
    {% for shift in shifts %}
    {% if current_shift == None or current_shift == shift %}
    <div class="row">
        <div class="col">
            <h5>Driver</h5>
            <div class="blank-field">
                {{ shift.driver }}
            </div>
        </div>
        <div class="col">
            <h5>Vehicle</h5>
            <div class="blank-field">
                {{ shift.vehicle }}
            </div>
        </div>
        <div class="col">
            <h5>Start Mileage</h5>
            <div class="blank-field">
                {{ shift.start_miles }}
            </div>
        </div>
        <div class="col">
            <h5>End Mileage</h5>
            <div class="blank-field">
                {{ shift.end_miles }}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <hr/>
    <div class="row mb-4">
        <div class="col">
            <h4 class="text-center">Riders</h4>
            <p class="text-center text-muted small">Note: Rider counts are divided into three values: riders that have been on a vehicle at least once, those who haven't (e.g. deliveries), and a grand total.</p>
        </div>
    </div>
    {% if not settings.simple_daily_logs %}
    <div class="row mb-3">
        <div class="col">
            Elderly Ambulatory riders
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ report.unique_riders.elderly_ambulatory.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ report.unique_riders.elderly_ambulatory.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                {{ report.unique_riders.elderly_ambulatory.total }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Elderly Non-Ambulatory riders (wheel chair)
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ report.unique_riders.elderly_nonambulatory.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ report.unique_riders.elderly_nonambulatory.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                {{ report.unique_riders.elderly_nonambulatory.total }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Non-Elderly Ambulatory riders
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ report.unique_riders.nonelderly_ambulatory.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ report.unique_riders.nonelderly_ambulatory.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                {{ report.unique_riders.nonelderly_ambulatory.total }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Non-Elderly Non-Ambulatory riders (wheel chair)
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ report.unique_riders.nonelderly_nonambulatory.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ report.unique_riders.nonelderly_nonambulatory.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                {{ report.unique_riders.nonelderly_nonambulatory.total }}
            </div>
        </div>
    </div>
    {% if report.unique_riders.unknown.total > 0 %}
    <div class="row mb-3">
        <div class="col">
            Unknown riders (missing data)
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ report.unique_riders.unknown.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ report.unique_riders.unknown.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                {{ report.unique_riders.unknown.total }}
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="row mb-3">
        <div class="col">
            <strong>Total Riders</strong>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ report.unique_riders.total.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ report.unique_riders.total.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-bold">{{ report.unique_riders.total.total }}</span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row mb-4">
        <div class="col">
            <h4 class="text-center">Trips</h4>
            <p class="text-center text-muted small">Note: Trip counts are divided into three values: trips with passengers, trips without passengers, and a grand total.</p>
        </div>
    </div>
    {% if not settings.simple_daily_logs %}
    <div class="row mb-3">
        <div class="col">
            Medical (Dr. appts., blood pressure clinic, podiatry, etc.)
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_medical.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_medical.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                {{ trips_medical.total }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Employment
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_employment.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_employment.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                {{ trips_employment.total }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Nutrition (meal site, food pantry)
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_nutrition.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_nutrition.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                {{ trips_nutrition.total }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Social/Recreation (adult day health, movie, lunch bunch)
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_social.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_social.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                {{ trips_social.total }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Education (talks, SHINE, lawyer, tax, classes)
        </div>
        <div class="col-1">
            <div class="blank-field">
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Shopping (groceries, etc.)
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_shopping.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_shopping.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                {{ trips_shopping.total }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Other (errands, barber/hairdresser, bank, etc.)
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_other.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_other.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                {{ trips_other.total }}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row mb-3">
        <div class="col">
            <strong>Total Trips</strong>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_total.passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-muted small">{{ trips_total.no_passenger }}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="blank-field">
                <span class="text-bold">{{ trips_total.total }}</span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row mb-4">
        <div class="col">
            <h4 class="text-center">Money Collected</h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Total Cash Collected
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ money_cash }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Total Checks Collected
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ money_check }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            Total Both Cash &amp; Checks Collected
        </div>
        <div class="col-3">
            <div class="blank-field">
                <strong>{{ money_total }}</strong>
            </div>
        </div>
    </div>
    {% if report.report_errors.errors %}
    <hr/>
    <div class="row mb-4">
        <div class="col">
            <h4 class="text-center">Errors</h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {% for error in report.report_errors.errors %}
            <div class="text-bold text-danger mb-3">{% if error.error_shift %}{{error.error_shift.driver}} / {{error.error_shift.vehicle}}{%endif%}{% if error.error_trip and error.error_shift %} - {%endif%}{% if error.error_trip %}{{error.error_trip.name}} from {{error.error_trip.address}} to {{error.error_trip.destination}}{%endif%}<br/>{{ error.error_msg }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if drivers %}
    <hr/>
    {% for driver in drivers %}
    <div class="row mb-3">
        <div class="col">
            <h5 class="mb-3">Name</h5>
            <div class="blank-field">
                {{ driver }}
            </div>
        </div>
        <div class="col-7">
            <h5 class="mb-3">Signature</h5>
            <div class="blank-field">
            </div>
        </div>
        <div class="col">
            <h5 class="mb-3">Date</h5>
            <div class="blank-field">
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
{% else %}
<p>There are no completed shifts for this day.</p>
{% endif %}
</div>
