{% if message %}
<div class="alert alert-info p-1">
    <div class="row">
        <div class="col">
            <strong style="font-size: 1.3em">{{ message }}</strong>
        </div>
    </div>
</div>
<hr/>
{% endif %}
<h3>Shifts <a class="btn btn-secondary" href="{% url 'shift-create' 'view' date.year date.month date.day %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
{% if shifts %}
    {% for shift in shifts %}
    <div class="card mb-3 border-secondary" style="background: #{{ shift.get_driver_color }}; max-width: 960px;">
        <div class="card-body p-0">
            <div class="d-flex flex-wrap">
                <div class="p-1">
                    <div class="dropdown ajax-blocker">
                        <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-pencil"></span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="{% url 'shift-edit' 'view' shift.id %}" class="dropdown-item">Edit Shift</a>
                        </div>
                    </div>
                </div>
                <div class="p-1">
                    <h4 class="card-text">{{ shift.driver }} ({{ shift.vehicle }})</h4>
                </div>
                <div class="text-right p-1 card-footer w-100">
                    <a href="{% url 'shift-start' shift.id %}" class="btn {% if shift.start_miles %}btn-secondary disabled{% else %}btn-primary{% endif %}">Start</a>
                    <a href="{% url 'shift-end' shift.id %}" class="btn {% if not shift.start_miles or shift.end_miles %}btn-secondary disabled{% else %}btn-success{% endif %}">End</a>
                    <a href="{% url 'shift-fuel' shift.id %}" class="btn btn-info">Fuel</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
<p>There are no shifts for this day.</p>
{% endif %}
<hr/>
<h3 class="mt-4">
    Trips
    <span class="btn-group dropdown ajax-blocker">
        <a class="btn btn-secondary" href="{% url 'trip-create' 'view' date.year date.month date.day %}"><span class="oi oi-plus mr-2"></span>New</a>
        <a href="#_" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'trip-create' 'view' date.year date.month date.day %}">New Trip</a>
            <a class="dropdown-item" href="{% url 'trip-create-activity' 'view' date.year date.month date.day %}">New Activity</a>
        </div>
    </span>
</h3>
<div class="container-fluid border p-2 mb-3" style="background: #eee;">
    <div class="row">
        <div class="col">
            <h5>Filter{% if filtered_count < unfiltered_count %} ({{filtered_count}}/{{unfiltered_count}} visible){% endif %}</h5>
        </div>
        {% if is_filtered %}
        <div class="col-auto">
            <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_reset', '')"><span class="oi oi-delete mr-2"></span>Reset Filter</button>
        </div>
        {% endif %}
    </div>
    <div class="mt-2">
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_driver is None %}All Drivers{% else %}{% for driver in drivers %}{% if filter_driver == driver %}{{ driver }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item {% if filter_driver is None %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_driver', '')">All Drivers</a>
                {% for driver in drivers %}
                <a class="dropdown-item {% if filter_driver == driver %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_driver', '{{driver.id}}')">{{driver}}</a>
                {% endfor %}
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_vehicle is None %}All Vehicles{% else %}{% for vehicle in vehicles %}{% if filter_vehicle == vehicle %}{{ vehicle }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item {% if filter_vehicle is None %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_vehicle', '')">All Vehicles</a>
                {% for vehicle in vehicles %}
                <a class="dropdown-item {% if filter_vehicle == vehicle %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_vehicle', '{{vehicle.id}}')">{{vehicle}}</a>
                {% endfor %}
            </div>
        </span>
    </div>
    <div class="mt-2">
        <button class="btn {% if filter_hide_completed %}btn-outline-dark{% else %}btn-primary{% endif %} btn-sm" onclick="ajax_loader.run('', 'filter_toggle_completed', '')">
            Completed
        </button>
        <button class="btn {% if filter_hide_canceled %}btn-outline-dark{% else %}btn-primary{% endif %} btn-sm" onclick="ajax_loader.run('', 'filter_toggle_canceled', '')">
            Canceled
        </button>
        <button class="btn {% if filter_hide_nolog %}btn-outline-dark{% else %}btn-primary{% endif %} btn-sm" onclick="ajax_loader.run('', 'filter_toggle_nolog', '')">
            Non-logged
        </button>
    </div>
    <div class="mt-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modal_filter_search">
                <span class="oi oi-magnifying-glass mr-2"></span>Search
            </button>

            <!-- Modal -->
            <div class="modal ajax-blocker" id="modal_filter_search" tabindex="-1" role="dialog" aria-labelledby="modal_filter_search_title" aria-hidden="true">
                <div class="modal-dialog modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_filter_search_title">Filter trips by name/address</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="filter_search_form">
                            <div class="modal-body">
                                <input id="filter_search" type="text" class="form-control" placeholder="Enter search terms"></input>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">
                                    <span class="oi oi-magnifying-glass mr-2"></span>Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#filter_search_form').on('submit', function(e){
                    e.preventDefault();
                    $('#modal_filter_search').modal('hide');
                    ajax_loader.run('', 'filter_search', $('#filter_search').val());
                });
                $('#modal_filter_search').on('show.bs.modal', function(){
                    $('#filter_search').val('{{filter_search}}');
                });
                $('#modal_filter_search').on('shown.bs.modal', function(){ 
                    $('#filter_search').focus();
                    $('#filter_search').select();
                });
            </script>
    {% if filter_search %}
    <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_search', '')"><span class="oi oi-delete mr-2"></span>Remove filter: <strong>{{ filter_search }}</strong></button>
    {% endif %}
    </div>
</div>
{% if trips %}
    {% for trip in trips %}
    <div class="card mb-3 border-secondary" style="background: #{{ trip.get_driver_color }}; max-width: 960px;">
        <div class="card-body p-0">
            <div style="background: rgba(255,255,255,.3); border-bottom: 1px solid rgba(0,0,0,.125);">
            <a id="trip_{{ trip.id }}"></a>
            <div>
                <div class="d-flex">
                    <div class="p-1">
                        <div class="dropdown ajax-blocker">
                            <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-pencil"></span>
                            </button>
                            <div class="dropdown-menu">
                                {% if trip.is_activity %}
                                <a href="{% url 'trip-edit-activity' 'view' trip.id %}" class="dropdown-item">Edit activity</a>
                                <div class="dropdown-divider"></div>
                                {% if trip.status > 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '0')" class="dropdown-item">Reset Status</a>{% endif %}
                                {% if trip.status == 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '1')" class="dropdown-item">Set as canceled</a>{% endif %}
                                {% else %}
                                <a href="{% url 'trip-edit' 'view' trip.id %}" class="dropdown-item">Edit trip</a>
                                <div class="dropdown-divider"></div>
                                {% if trip.status > 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '0')" class="dropdown-item">Reset Status</a>{% endif %}
                                {% if trip.status == 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '1')" class="dropdown-item">Set as canceled</a>{% endif %}
                                {% if trip.status == 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '2')" class="dropdown-item">Set as no show</a>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="p-1">
                        <h4 class="card-title mb-0">
                            {% if trip.is_activity %}
                            {{ trip.note }}
                            {% else %}
                            {{ trip.name }}
                            {% endif %}
                        </h4>
                    </div>
                </div>
            </div>
            </div>
                <div class="d-flex flex-wrap">
                    <div class="p-1 w-100" style="max-width: 540px;">
                        <div class="list-group list-group-flush" style="max-width: 540px;">
                            {% if trip.is_activity %}
                                {% if trip.appointment_time %}
                                <div class="list-group-item bg-transparent d-flex justify-content-between align-items-center p-1">
                                    {% if trip.appointment_time %}
                                    <span class="badge badge-info">
                                        <span class="oi oi-clock mr-1"></span><strong>{{ trip.appointment_time }}</strong>
                                    </span>
                                    {% endif %}
                                    </span>
                                </div>
                                {% endif %}
                            {% else %}
                            {% if trip.address or trip.pick_up_time %}
                            <div class="list-group-item bg-transparent p-1" style="display: table;">
                                <div class="pr-2" style="width: 90px; display: table-cell;">
                                    {% if trip.pick_up_time %}
                                    <span class="badge badge-primary">
                                        <span class="oi oi-home"></span>
                                        <strong>{{ trip.pick_up_time }}</strong>
                                    </span>
                                    {% else %}
                                    <span class="badge w-100 text-left">
                                        <span class="oi oi-home"></span>
                                    </span>
                                    {% endif %}
                                </div>
                                <div style="display: table-cell;">
                                    {% if trip.address %}
                                    <strong>{{ trip.address }}</strong>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% if trip.destination or trip.appointment_time %}
                            <div class="list-group-item bg-transparent p-1 display: table;">
                                <div class="pr-2" style="width: 90px; display: table-cell">
                                    {% if trip.appointment_time %}
                                    <span class="badge badge-success">
                                        <span class="oi oi-arrow-right"></span>
                                        <strong>{{ trip.appointment_time }}</strong>
                                    </span>
                                    {% else %}
                                    <span class="badge w-100 text-left">
                                        <span class="oi oi-arrow-right"></span>
                                    </span>
                                    {% endif %}
                                </div>
                                <div style="display: table-cell">
                                    {% if trip.destination %}
                                    <strong>{{ trip.destination }}</strong>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% if trip.trip_type or trip.status > 0 or trip.tags%}
                            <div class="list-group-item bg-transparent p-1">
                                {% if trip.status == 1 %}
                                <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>Canceled</span>
                                {% elif trip.status == 2 %}
                                <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>No Show</span>
                                {% endif %}
                                {% if trip.trip_type.name == 'Medical' %}
                                <span class="badge badge-danger"><span class="oi oi-medical-cross mr-1"></span>{{trip.trip_type}}</span>
                                {% elif trip.trip_type %}
                                <span class="badge badge-info"><span class="oi oi-bookmark mr-1"></span>{{trip.trip_type}}</span>
                                {% endif %}
                                {% if trip.tags %}
                                {% for tag in trip.get_tag_list %}
                                <span class="badge badge-info"><span class="oi oi-tag mr-1"></span>{{tag}}</span>
                                {% endfor %}
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if not trip.is_activity %}
                    <div class="text-right p-1 card-footer w-100">
                        <a href="{% url 'trip-start' trip.id %}" class="btn {% if trip.status > 0 or trip.start_miles %}btn-secondary disabled{% else %}btn-primary{% endif %}">Pick Up</a>
                        <a href="{% url 'trip-end' trip.id %}" class="btn {% if trip.status > 0 or not trip.start_miles or trip.end_miles %}btn-secondary disabled{% else %}btn-success{% endif %}">Drop off</a>
                        {% if trip.phone_home and trip.phone_cell %}
                        <span class="dropdown ajax-blocker">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Call
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="tel:{{ trip.get_phone_home_number }}" class="dropdown-item">Home Phone <span class="text-muted">({{trip.phone_home}})</span></a>
                                <a href="tel:{{ trip.get_phone_cell_number }}" class="dropdown-item">Cell Phone <span class="text-muted">({{trip.phone_cell}})</span></a>
                            </div>
                        </span>
                        {% elif trip.phone_home %}
                        <a href="tel:{{ trip.get_phone_home_number }}" class="btn btn-info">Call</a>
                        {% elif trip.phone_cell %}
                        <a href="tel:{{ trip.get_phone_cell_number }}" class="btn btn-info">Call</a>
                        {% else %}
                        <a href="#_" class="btn btn-secondary disabled">Call</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
<p>There are no trips for this day. {% if filtered_count < unfiltered_count %}Try <a href="#_" onclick="ajax_loader.run('', 'filter_reset', '')">resetting the filter</a> to view all trips.{% endif %}</p>
{% endif %}
