{% if message %}
<div class="alert alert-info p-1">
    <div class="row">
        <div class="col">
            <strong style="font-size: 1.3em">{{ message }}</strong>
        </div>
    </div>
</div>
<hr/>
{% endif %}
<h3>Shifts <a class="btn btn-secondary" href="{% url 'shift-create' 'view' date.year date.month date.day %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
{% if shifts %}
    {% for shift in shifts %}
    <div class="card mb-2" style="background: {{ shift.get_driver_color }}; max-width: 960px;">
        <div class="card-body p-0">
            <div class="d-flex flex-wrap">
                <div class="p-1">
                    <div class="dropdown" id="edit_shift_{{shift.id}}">
                        <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-pencil"></span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="{% url 'shift-edit' 'view' shift.id %}" class="dropdown-item">Edit Shift</a>
                            <hr/>
                            <a href="{% url 'shift-delete' 'view' shift.id %}" class="dropdown-item text-danger">Delete Shift</a>
                        </div>
                        <script type="text/javascript">
                            $('#edit_shift_{{shift.id}}').on('show.bs.dropdown', ajax_loader.stop);
                            $('#edit_shift_{{shift.id}}').on('hide.bs.dropdown', ajax_loader.restart);
                        </script>
                    </div>
                </div>
                <div class="p-1">
                    <h4 class="card-text">{{ shift.driver }} ({{ shift.vehicle }})</h4>
                </div>
                <div class="ml-auto p-1">
                    <a href="{% url 'shift-start' shift.id %}" class="btn btn-lg {% if shift.start_miles %}btn-secondary disabled{% else %}btn-primary{% endif %}">Start</a>
                    <a href="{% url 'shift-end' shift.id %}" class="btn btn-lg {% if not shift.start_miles or shift.end_miles %}btn-secondary disabled{% else %}btn-success{% endif %}">End</a>
                    <a href="{% url 'shift-fuel' shift.id %}" class="btn btn-info btn-lg">Fuel</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
<p>There are no shifts for this day.</p>
{% endif %}
<hr/>
<h3 class="mt-4">Trips <a class="btn btn-secondary" href="{% url 'trip-create' 'view' date.year date.month date.day %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
<div class="container-fluid border p-2 mb-3" style="background: #eee;">
    <div class="row">
        <div class="col">
            <h5>Filter</h5>
        </div>
        <div class="col-auto">
            <label for="filter_hide_completed">Hide completed</label>
            <input type="checkbox" value="" name="filter_hide_completed" id="id_filter_hide_completed" {% if filter_hide_completed %}checked{% endif %}>
        </div>
        <div class="col-auto">
            <label for="filter_hide_canceled">Hide canceled</label>
            <input type="checkbox" value="" name="filter_hide_canceled" id="id_filter_hide_canceled" {% if filter_hide_canceled %}checked{% endif %}>
        </div>
    </div>
</div>
{% if trips %}
    {% for trip in trips %}
    <div class="card mb-2" style="background: {{ trip.get_driver_color }}; max-width: 960px;">
        <div class="card-body p-0">
            <a id="trip_{{ trip.id }}"></a>
            <div>
                <div class="d-flex">
                    <div class="p-1">
                        <div class="dropdown" id="edit_trip_{{trip.id}}">
                            <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-pencil"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a href="{% url 'trip-edit' 'view' trip.id %}" class="dropdown-item">Edit trip</a>
                                {% if trip.status > 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '0')" class="dropdown-item">Reset Status</a>{% endif %}
                                {% if trip.status == 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '1')" class="dropdown-item">Set as canceled</a>{% endif %}
                                {% if trip.status == 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '2')" class="dropdown-item">Set as no show</a>{% endif %}
                                <hr/>
                                <a href="{% url 'trip-create-return' 'view' trip.id %}" class="dropdown-item">Create Return Trip</a>
                                <hr/>
                                <a href="{% url 'trip-delete' 'view' trip.id %}" class="dropdown-item text-danger">Delete trip</a>
                            </div>
                            <script type="text/javascript">
                                $('#edit_trip_{{trip.id}}').on('show.bs.dropdown', ajax_loader.stop);
                                $('#edit_trip_{{trip.id}}').on('hide.bs.dropdown', ajax_loader.restart);
                            </script>
                        </div>
                    </div>
                    <div class="p-1">
                        <h4 class="card-title mb-0">{{ trip.name }}</h4>
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="p-1 w-100" style="max-width: 540px;">
                        <div class="list-group list-group-flush" style="max-width: 540px;">
                            {% if trip.address or trip.pick_up_time %}
                            <div class="list-group-item bg-transparent d-flex justify-content-between align-items-center p-1">
                                <span class="mr-2">
                                    <span class="oi oi-home"></span>

                                    {% if trip.address %}
                                    <strong>{{ trip.address }}</strong>
                                    {% endif %}
                                </span>

                                {% if trip.pick_up_time %}
                                <span class="badge badge-primary">
                                    <span class="oi oi-clock mr-1"></span><strong>{{ trip.pick_up_time }}</strong>
                                </span>
                                {% endif %}
                            </div>
                            {% endif %}
                            {% if trip.destination or trip.appointment_time %}
                            <div class="list-group-item bg-transparent d-flex justify-content-between align-items-center p-1">
                                <span class="mr-2">
                                    <span class="oi oi-arrow-right"></span>

                                    {% if trip.destination %}
                                    <strong>{{ trip.destination }}</strong>
                                    {% endif %}
                                </span>

                                {% if trip.appointment_time %}
                                <span class="badge badge-success">
                                    <span class="oi oi-clock mr-1"></span><strong>{{ trip.appointment_time }}</strong>
                                </span>
                                {% endif %}
                            </div>
                            {% endif %}
                            {% if trip.trip_type.name == 'Medical' or trip.status > 0 %}
                            <div class="list-group-item bg-transparent p-1">
                                {% if trip.trip_type.name == 'Medical' %}
                                <span class="badge badge-danger"><span class="oi oi-medical-cross mr-1"></span>Medical</span>
                                {% endif %}
                                {% if trip.status == 1 %}
                                <span class="badge badge-secondary">Canceled</span>
                                {% elif trip.status == 2 %}
                                <span class="badge badge-secondary">No Show</span>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ml-auto align-self-end p-1">
                        <a href="{% url 'trip-start' trip.id %}" class="btn btn-lg {% if trip.status > 0 or trip.start_miles %}btn-secondary disabled{% else %}btn-primary{% endif %}">Pick Up</a>
                        <a href="{% url 'trip-end' trip.id %}" class="btn btn-lg {% if trip.status > 0 or not trip.start_miles or trip.end_miles %}btn-secondary disabled{% else %}btn-success{% endif %}">Drop off</a>
                        {% if trip.phone_home and trip.phone_cell %}
                        <span class="dropdown" id="call_{{trip.id}}">
                            <button class="btn btn-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Call
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="tel:{{ trip.get_phone_home_number }}" class="dropdown-item">Home Phone <span class="text-muted">({{trip.phone_home}})</span></a>
                                <a href="tel:{{ trip.get_phone_cell_number }}" class="dropdown-item">Cell Phone <span class="text-muted">({{trip.phone_cell}})</span></a>
                            </div>
                            <script type="text/javascript">
                                $('#call_{{trip.id}}').on('show.bs.dropdown', ajax_loader.stop);
                                $('#call_{{trip.id}}').on('hide.bs.dropdown', ajax_loader.restart);
                            </script>
                        </span>
                        {% elif trip.phone_home %}
                        <a href="tel:{{ trip.get_phone_home_number }}" class="btn btn-info btn-lg">Call</a>
                        {% elif trip.phone_cell %}
                        <a href="tel:{{ trip.get_phone_cell_number }}" class="btn btn-info btn-lg">Call</a>
                        {% else %}
                        <a href="#_" class="btn btn-secondary btn-lg disabled">Call</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
<p>There are no trips for this day. Check the <strong>Filter</strong> settings if this is incorrect.</p>
{% endif %}
<script type="text/javascript">
    var filter_hide_canceled = document.getElementById("id_filter_hide_canceled");
    var filter_hide_completed = document.getElementById("id_filter_hide_completed");

    function updateFilter() {
        if (filter_hide_canceled) {
            ajax_loader.extra_data["filter_hide_canceled"] = filter_hide_canceled.checked;
        }
        if (filter_hide_completed) {
            ajax_loader.extra_data["filter_hide_completed"] = filter_hide_completed.checked;
        }
        ajax_loader.run();
    }
    if (filter_hide_canceled) {
        filter_hide_canceled.addEventListener("change", updateFilter);
    }
    if (filter_hide_completed) {
        filter_hide_completed.addEventListener("change", updateFilter);
    }
</script>
