{% if message %}
<div class="alert alert-info p-1">
    <div class="row">
        <div class="col">
            <strong style="font-size: 1.3em">{{ message }}</strong>
        </div>
    </div>
</div>
<hr/>
{% endif %}
<h3>Shifts</h3>
{% if shifts %}
<table class="mytable">
    <thead>
        <td>Driver</td>
        <td>Vehicle</td>
        <td>Start Miles</td>
        <td>Start Time</td>
        <td>End Miles</td>
        <td>End Time</td>
        <td>Fuel (gal)</td>
        <td>Notes</td>
    </thead>
    {% for shift in shifts %}
    <tr style="background: #{{ shift.get_driver_color }};" data-rowid="{{ shift.id }}">
        <td class="mytable-col-md">
            {{ shift.driver }}
        </td>
        <td class="mytable-col-md">
            {{ shift.vehicle }}
        </td>
        <td class="mytable-col-sm">
            {% if shift.check_start_miles %}
                {{ shift.start_miles }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if shift.check_start_time %}
                {{ shift.start_time }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if shift.check_end_miles %}
                {{ shift.end_miles }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if shift.check_end_time %}
                {{ shift.end_time }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {{ shift.fuel }}
        </td>
        <td class="mytable-col-lg">
            {{ shift.note }}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no shifts for this day.</p>
{% endif %}
<hr/>
<h3>
    Trips
</h3>
</div>
<div class="container ml-0 border p-2 mb-3" style="background: #eee;">
    <div class="row">
        <div class="col">
            <h5>Filter{% if filtered_count < unfiltered_count %} ({{filtered_count}}/{{unfiltered_count}} visible){% endif %}</h5>
        </div>
        {% if is_filtered %}
        <div class="col-auto">
            <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_reset', '')"><span class="oi oi-delete mr-2"></span>Reset Filter</button>
        </div>
        {% endif %}
    </div>
    <div class="mt-2">
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_driver is None %}All Drivers{% else %}{% for driver in drivers %}{% if filter_driver == driver %}{{ driver }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item {% if filter_driver is None %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_driver', '')">All Drivers</a>
                {% for driver in drivers %}
                <a class="dropdown-item {% if filter_driver == driver %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_driver', '{{driver.id}}')">{{driver}}</a>
                {% endfor %}
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_vehicle is None %}All Vehicles{% else %}{% for vehicle in vehicles %}{% if filter_vehicle == vehicle %}{{ vehicle }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item {% if filter_vehicle is None %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_vehicle', '')">All Vehicles</a>
                {% for vehicle in vehicles %}
                <a class="dropdown-item {% if filter_vehicle == vehicle %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_vehicle', '{{vehicle.id}}')">{{vehicle}}</a>
                {% endfor %}
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Show...
            </button>
            <div class="dropdown-menu shadow dropdown-menu-right">
                <a class="dropdown-item" href="#_" onclick="ajax_loader.run('', 'filter_toggle_completed', '')"><span class="mr-2 oi {% if filter_hide_completed %}oi-x{% else %}oi-check{% endif %}"></span>Completed</a>
                <a class="dropdown-item" href="#_" onclick="ajax_loader.run('', 'filter_toggle_canceled', '')"><span class="mr-2 oi {% if filter_hide_canceled %}oi-x{% else %}oi-check{% endif %}"></span>Canceled</a>
                <a class="dropdown-item" href="#_" onclick="ajax_loader.run('', 'filter_toggle_nolog', '')"><span class="mr-2 oi {% if filter_hide_nolog %}oi-x{% else %}oi-check{% endif %}"></span>Non-logged</a>
            </div>
        </span>
    </div>
    <div class="mt-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modal_filter_search">
                <span class="oi oi-magnifying-glass mr-2"></span>Search
            </button>

            <!-- Modal -->
            <div class="modal ajax-blocker" id="modal_filter_search" tabindex="-1" role="dialog" aria-labelledby="modal_filter_search_title" aria-hidden="true">
                <div class="modal-dialog modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_filter_search_title">Filter trips by name/address</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="filter_search_form">
                            <div class="modal-body">
                                <input id="filter_search" type="text" class="form-control" placeholder="Enter search terms"></input>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">
                                    <span class="oi oi-magnifying-glass mr-2"></span>Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    {% if filter_search %}
    <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_search', '')"><span class="oi oi-delete mr-2"></span>Remove filter: <strong>{{ filter_search }}</strong></button>
    {% endif %}
    </div>
</div>
{% if trips %}
<a class="small" href="#_" onclick="(function(){ ajax_loader.run('', 'toggle_extra_columns', ''); })();">
{% if show_extra_columns %}
Hide extra columns
{% else %}
Show extra columns
{% endif %}
</a>
<table class="mytable">
    <thead>
        <td>Pick up</td>
        <td>Appt. time</td>
        <td>Name</td>
        <td>Address</td>
        <td>Phone #</td>
        <td>Destination</td>
        <td>Driver</td>
        <td>Vehicle</td>
        <td>Start Miles</td>
        <td>Start Time</td>
        <td>End Miles</td>
        <td>End Time</td>
        {% if show_extra_columns %}
        <td>Notes</td>
        <td>Trip Type</td>
        <td>Tags</td>
        <td>Passenger on vehicle?</td>
        <td>Money</td>
        <td>Elderly?</td>
        <td>Ambulatory?</td>
        {% else %}
        <td></td>
        {% endif %}
    </thead>
    {% for trip in trips %}
    <tr style="background: #{{ trip.get_driver_color }};" class="{% if trip.is_medical or trip.is_activity %}text-bold{% endif %}" data-rowid="{{ trip.id }}">
        {% if trip.is_activity %}
        <td colspan=2 class="text-center">
            <a id="trip_{{ trip.id }}"></a>
            {% if trip.pick_up_time and trip.appointment_time %}
            {{ trip.pick_up_time }} - {{ trip.appointment_time }}
            {% elif trip.pick_up_time %}
            {{ trip.pick_up_time }}
            {% elif trip.appointment_time %}
            {{ trip.appointment_time }}
            {% endif %}
        </td>
        <td colspan="{% if show_extra_columns %}17{% else %}11{% endif %}" class="text-center">
            {{ trip.note }}
        </td>
        {% else %}
        <td class="mytable-col-sm">
            <a id="trip_{{ trip.id }}"></a>
            {{ trip.pick_up_time }}
        </td>
        <td class="mytable-col-sm">
            {{ trip.appointment_time }}
        </td>
        <td class="mytable-col-md">
            {{ trip.name }}
        </td>
        <td class="mytable-col-lg">
            {{ trip.address }}
            {% if trip.phone_address and trip.address %}<br/>Phone #: {{ trip.phone_address }}{% endif %}
        </td>
        {% if not trip.phone_home and trip.phone_cell %}
        <td class="mytable-col-md" style="white-space: nowrap;">
        {% else %}
        <td class="mytable-col-md" style="white-space: nowrap;">
        {% endif %}
            {{ trip.phone_home }}
            {% if trip.phone_home and trip.phone_cell %}<br/>{% endif %}
            {{ trip.phone_cell }}
        </td>
        <td class="mytable-col-lg">
            {{ trip.destination }}
            {% if trip.phone_destination and trip.destination %}<br/>Phone #: {{ trip.phone_destination }}{% endif %}
        </td>
        <td class="mytable-col-md">
            {{ trip.driver }}
        </td>
        <td class="mytable-col-md">
            {{ trip.vehicle }}
        </td>
        <td class="mytable-col-sm">
            {% if trip.check_start_miles %}
                {{ trip.start_miles }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.check_start_time %}
                {{ trip.start_time }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.check_end_miles %}
                {{ trip.end_miles }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.check_end_time %}
                {{ trip.end_time }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        {% if show_extra_columns %}
        <td class="mytable-col-md">
            {{ trip.note }}
        </td>
        <td class="mytable-col-md">
            {% if trip.trip_type %}
            {% if trip.is_medical %}
            <span class="badge badge-danger"><span class="oi oi-medical-cross mr-1"></span>{{trip.trip_type}}</span>
            {% else %}
            <span class="badge badge-primary"><span class="oi oi-bookmark mr-1"></span>{{trip.trip_type}}</span>
            {% endif %}
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if trip.status > 0 %}
                {% if trip.status == 1 %}
                <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>Canceled</span>
                {% elif trip.status == 2 %}
                <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>No Show</span>
                {% endif %}
            {% endif %}
            {% if trip.tags %}
                {% for tag in trip.get_styled_tag_list %}
                <span class="badge {{ tag.1 }}"><span class="oi oi-tag mr-1"></span>{{ tag.0 }}</span>
                {% endfor %}
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.passenger %}
            <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
            {% elif trip.passenger is False %}
            <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
            {% endif %}
        </td>
        {% if trip.collected_cash == 0 and trip.collected_check > 0 %}
        <td class="mytable-col-sm">
        {% else %}
        <td class="mytable-col-sm">
        {% endif %}
            {% if trip.collected_cash > 0 %}
            Cash: ${{ trip.get_collected_cash_str }}
            {% endif %}
            {% if trip.collected_cash > 0 and trip.collected_check > 0 %}
            <br/>
            {% endif %}
            {% if trip.collected_check > 0 %}
            Check: ${{ trip.get_collected_check_str }}
            {% endif %}
        </td>
        <td class="mytable-col-xs">
            {% if trip.elderly %}
            <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
            {% elif trip.elderly is False %}
            <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
            {% endif %}
        </td>
        <td class="mytable-col-xs">
            {% if trip.ambulatory %}
            <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
            {% elif trip.ambulatory is False %}
            <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
            {% endif %}
        </td>
        {% else %}
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if trip.note %}
                    <span class="oi oi-document"></span>
                    {% endif %}
                    {% if trip.tags %}
                    <span class="oi oi-tag"></span>
                    {% endif %}
                    {% if not trip.tags and not trip.note %}
                    <span class="oi oi-ellipses"></span>
                    {% endif %}
                </button>
                <div class="dropdown-menu shadow dropdown-menu-right p-2">
                    <div class="list-group list-group-flush" style="width: 300px">
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Trip Type</div>
                                <div class="col-auto">
                                    {% if trip.trip_type %}
                                    {% if trip.is_medical %}
                                    <span class="badge badge-danger"><span class="oi oi-medical-cross mr-1"></span>{{trip.trip_type}}</span>
                                    {% else %}
                                    <span class="badge badge-primary"><span class="oi oi-bookmark mr-1"></span>{{trip.trip_type}}</span>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Passenger on vehicle?</div>
                                <div class="col-auto">
                                    {% if trip.passenger %}
                                    <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
                                    {% elif trip.passenger is False %}
                                    <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Elderly?</div>
                                <div class="col-auto">
                                    {% if trip.elderly %}
                                    <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
                                    {% elif trip.elderly is False %}
                                    <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Ambulatory?</div>
                                <div class="col-auto">
                                    {% if trip.ambulatory %}
                                    <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
                                    {% elif trip.ambulatory is False %}
                                    <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if trip.note %}
                        <div class="list-group-item p-1 {% if trip.note %}list-group-item-warning{% endif %}">
                            <div class="row">
                                <div class="col text-muted">Notes</div>
                                <div class="col-auto">{% if trip.note %}{{trip.note}}{% endif %}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trip.collected_cash > 0 or trip.collected_check > 0 %}
                        <div class="list-group-item p-1 list-group-item-success">
                            <div class="row">
                                <div class="col text-muted">Money Collected</div>
                            </div>
                            {% if trip.collected_cash > 0 %}
                            <div class="row">
                                <div class="col text-muted">- Cash</div>
                                <div class="col-auto">${{ trip.get_collected_cash_str }}</div>
                            </div>
                            {% endif %}
                            {% if trip.collected_check > 0 %}
                            <div class="row">
                                <div class="col text-muted">- Check</div>
                                <div class="col-auto">${{ trip.get_collected_check_str }}</div>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if trip.status > 0 %}
                        <div class="list-group-item p-1">
                            {% if trip.status == 1 %}
                            <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>Canceled</span>
                            {% elif trip.status == 2 %}
                            <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>No Show</span>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if trip.tags %}
                        <div class="list-group-item p-1">
                        {% for tag in trip.get_styled_tag_list %}
                        <span class="badge {{ tag.1 }}"><span class="oi oi-tag mr-1"></span>{{ tag.0 }}</span>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </td>
        {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
</table>
<script type="text/javascript">
    setSearchModal('#filter_search_form', '#modal_filter_search', '#filter_search', '{{filter_search}}', function(s) { ajax_loader.run('', 'filter_search', $(s).val()); });
</script>
{% else %}
<p>There are no trips for this day.</p>
{% endif %}
