<h3>Shifts <a class="btn btn-secondary" href="{% url 'shift-create' 'edit' date.year date.month date.day %}">Add new</a></h3>
{% if shifts %}
<table class="mytable">
    <thead>
        <td></td>
        <td>Driver</td>
        <td>Vehicle</td>
        <td>Start Miles</td>
        <td>Start Time</td>
        <td>End Miles</td>
        <td>End Time</td>
        <td>Fuel (gal)</td>
    </thead>
    {% for shift in shifts %}
    <tr style="background: {{ shift.get_driver_color }};">
        <td class="mytable-col-xs"><a class="btn btn-outline-dark btn-sm" href="{% url 'shift-edit' 'edit' shift.id %}">Edit</a></td>
        <td class="mytable-col-md">{{ shift.driver }}</td>
        <td class="mytable-col-md">{{ shift.vehicle }}</td>
        <td class="mytable-col-md">{{ shift.start_miles }}</td>
        <td class="mytable-col-sm">{{ shift.start_time }}</td>
        <td class="mytable-col-md">{{ shift.end_miles }}</td>
        <td class="mytable-col-sm">{{ shift.end_time }}</td>
        <td class="mytable-col-sm">{{ shift.fuel }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<h3 class="mt-4">Trips <a class="btn btn-secondary" href="{% url 'trip-create' 'edit' date.year date.month date.day %}">Add new</a></h3>
{% if trips %}
<table class="mytable">
    <thead>
        <td></td>
        <td></td>
        <td>Pick up</td>
        <td>Appt. time</td>
        <td>Name</td>
        <td>Address</td>
        <td>Phone #</td>
        <td>Destination</td>
        <td>Trip Type</td>
        <td>Driver</td>
        <td>Vehicle</td>
        <td>Start Miles</td>
        <td>Start Time</td>
        <td>End Miles</td>
        <td>End Time</td>
        <td>Notes</td>
    </thead>
    {% for trip in trips %}
    <tr style="background: {{ trip.get_driver_color }};">
        <td class="mytable-col-arrows">
            <a id="trip_{{ trip.id }}"></a>
            <div class="btn-group-vertical">
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0" onclick="ajax_loader.run('{{ trip.id }}', 'mv', 'u')"><span class="oi oi-chevron-top"></span></button>
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0" onclick="ajax_loader.run('{{ trip.id }}', 'mv', 'd')"><span class="oi oi-chevron-bottom"></span></button>
            </div>
        </td>
        <td class="mytable-col-xs"><a class="btn btn-outline-dark btn-sm" href="{% url 'trip-edit' 'edit' trip.id %}">Edit</a></td>
        <td class="mytable-col-sm">{{ trip.pick_up_time }}</td>
        <td class="mytable-col-sm">{{ trip.appointment_time }}</td>
        <td class="mytable-col-md">{{ trip.name }}</td>
        <td class="mytable-col-lg">{{ trip.address }}</td>
        <td class="mytable-col-md">{{ trip.phone }}</td>
        <td class="mytable-col-lg">{{ trip.destination }}</td>
        <td class="mytable-col-md">{% if trip.trip_type %}{{ trip.trip_type }}{% endif %}</td>
        <td class="mytable-col-md">
            <div class="dropdown" id="select_driver_{{trip.id}}">
                <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if trip.driver is None %}---------{% else %}{% for driver in drivers %}{% if trip.driver == driver %}{{ driver }}{% endif %}{% endfor %}{% endif %}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item {% if trip.driver is None %}active{% endif %}" href="#_" onclick="ajax_loader.run('{{trip.id}}', 'set_driver', '---------')">---------</a>
                    {% for driver in drivers %}
                    <a class="dropdown-item {% if trip.driver == driver %}active{% endif %}" href="#_" onclick="ajax_loader.run('{{trip.id}}', 'set_driver', '{{driver.id}}')">{{driver}}</a>
                    {% endfor %}
                </div>
                <script type="text/javascript">
                    $('#select_driver_{{trip.id}}').on('show.bs.dropdown', ajax_loader.stop);
                    $('#select_driver_{{trip.id}}').on('hide.bs.dropdown', ajax_loader.restart);
                </script>
            </div>
        </td>
        <td class="mytable-col-md">
            <div class="dropdown" id="select_vehicle_{{trip.id}}">
                <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if trip.vehicle is None %}---------{% else %}{% for vehicle in vehicles %}{% if trip.vehicle == vehicle %}{{ vehicle }}{% endif %}{% endfor %}{% endif %}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item {% if trip.vehicle is None %}active{% endif %}" href="#_" onclick="ajax_loader.run('{{trip.id}}', 'set_vehicle', '---------')">---------</a>
                    {% for vehicle in vehicles %}
                    <a class="dropdown-item {% if trip.vehicle == vehicle %}active{% endif %}" href="#_" onclick="ajax_loader.run('{{trip.id}}', 'set_vehicle', '{{vehicle.id}}')">{{vehicle}}</a>
                    {% endfor %}
                </div>
                <script type="text/javascript">
                    $('#select_vehicle_{{trip.id}}').on('show.bs.dropdown', ajax_loader.stop);
                    $('#select_vehicle_{{trip.id}}').on('hide.bs.dropdown', ajax_loader.restart);
                </script>
            </div>
        </td>
        <td class="mytable-col-sm">{{ trip.start_miles }}</td>
        <td class="mytable-col-sm">{{ trip.start_time }}</td>
        <td class="mytable-col-sm">{{ trip.end_miles }}</td>
        <td class="mytable-col-sm">{{ trip.end_time }}</td>
        <td class="mytable-col-xs">
            {% if trip.note %}
            <abbr class="oi oi-document" title="{{ trip.note }}"></abbr>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
