<div class="alert {% if message %}alert-info{% else %}alert-secondary{% endif %} p-1">
    <div class="row">
        <div class="col-auto pr-0">
            <a href="{% url 'schedule-message' date.year date.month date.day %}" class="btn btn-outline-dark btn-sm"><span class="oi oi-comment-square mr-2"></span>Edit</a>
        </div>
        <div class="col">
            <strong style="font-size: 1.3em">{{ message }}</strong>
        </div>
    </div>
</div>
<hr/>
<h3>Shifts <a class="btn btn-success btn-sm" href="{% url 'shift-create' 'edit' date.year date.month date.day %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
{% if shifts %}
<table class="mytable">
    <thead>
        <td></td>
        <td>Driver</td>
        <td>Vehicle</td>
        <td>Start Miles</td>
        <td>Start Time</td>
        <td>End Miles</td>
        <td>End Time</td>
        <td>Fuel (gal)</td>
    </thead>
    {% for shift in shifts %}
    <tr style="background: #{{ shift.get_driver_color }};">
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu">
                    <a href="{% url 'shift-edit' 'edit' shift.id %}" class="dropdown-item">Edit shift</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'shift-delete' 'edit' shift.id %}" class="dropdown-item text-danger">Delete shift</a>
                </div>
            </div>
        </td>
        <td class="mytable-col-md">{{ shift.driver }}</td>
        <td class="mytable-col-md">{{ shift.vehicle }}</td>
        <td class="mytable-col-sm">
            {% if shift.check_start_miles %}
                {{ shift.start_miles }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if shift.check_start_time %}
                {{ shift.start_time }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if shift.check_end_miles %}
                {{ shift.end_miles }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if shift.check_end_time %}
                {{ shift.end_time }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">{{ shift.fuel }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no shifts for this day.</p>
{% endif %}
<hr/>
<h3>
    Trips
    <span class="btn-group dropdown ajax-blocker">
        <a class="btn btn-success btn-sm" href="{% url 'trip-create' 'edit' date.year date.month date.day %}"><span class="oi oi-plus mr-2"></span>New</a>
        <a href="#_" class="btn btn-success btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'trip-create' 'edit' date.year date.month date.day %}">New Trip</a>
            <a class="dropdown-item" href="{% url 'trip-create-activity' 'edit' date.year date.month date.day %}">New Activity</a>
        </div>
    </span>
    <span class="dropdown ajax-blocker">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="oi oi-list mr-2"></span>Templates
        </button>
        <div class="dropdown-menu">
            {% if not templates %}
            <span class="dropdown-header">There are no available templates.</span>
            {% endif %}
            {% for template in templates %}
            <a class="dropdown-item" href="#_" onclick="ajax_loader.run('', 'load_template', '{{template.id}}')">{{template}}</a>
            {% endfor %}
        </div>
    </span>
</h3>
</div>
{% if trips %}
<a class="small" href="#_" onclick="ajax_loader.run('', 'toggle_extra_columns', '')">
{% if show_extra_columns %}
Hide extra columns
{% else %}
Show extra columns
{% endif %}
</a>
<table class="mytable">
    <thead>
        <td></td>
        <td></td>
        <td>Pick up</td>
        <td>Appt. time</td>
        <td>Name</td>
        <td>Address</td>
        <td>Phone #</td>
        <td>Destination</td>
        <td>Driver</td>
        <td>Vehicle</td>
        <td>Start Miles</td>
        <td>Start Time</td>
        <td>End Miles</td>
        <td>End Time</td>
        {% if show_extra_columns %}
        <td>Notes</td>
        <td>Trip Type</td>
        <td>Tags</td>
        <td>Money</td>
        <td>Elderly?</td>
        <td>Ambulatory?</td>
        {% else %}
        <td></td>
        {% endif %}
    </thead>
    {% for trip in trips %}
    <tr style="background: #{{ trip.get_driver_color }};" class="{% if trip.is_medical or trip.is_activity %}text-bold{% endif %}">
        <td class="mytable-col-arrows">
            <a id="trip_{{ trip.id }}"></a>
            <div class="btn-group-vertical">
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0 sort-arrow" onclick="ajax_loader.run('{{ trip.id }}', 'mv', 'u')"><span class="oi oi-caret-top"></span></button>
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0 sort-arrow" onclick="ajax_loader.run('{{ trip.id }}', 'mv', 'd')"><span class="oi oi-caret-bottom"></span></button>
            </div>
        </td>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu">
                    {% if trip.is_activity %}
                    <a href="{% url 'trip-edit-activity' 'edit' trip.id %}" class="dropdown-item">Edit activity</a>
                    <div class="dropdown-divider"></div>
                    {% if trip.status > 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '0')" class="dropdown-item">Reset Status</a>{% endif %}
                    {% if trip.status == 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '1')" class="dropdown-item">Set as canceled</a>{% endif %}
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'trip-delete-activity' 'edit' trip.id %}" class="dropdown-item text-danger">Delete activity</a>
                    {% else %}
                    <a href="{% url 'trip-edit' 'edit' trip.id %}" class="dropdown-item">Edit trip</a>
                    <div class="dropdown-divider"></div>
                    {% if trip.status > 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '0')" class="dropdown-item">Reset Status</a>{% endif %}
                    {% if trip.status == 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '1')" class="dropdown-item">Set as canceled</a>{% endif %}
                    {% if trip.status == 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '2')" class="dropdown-item">Set as no show</a>{% endif %}
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'client-create-from-trip' trip.id %}" class="dropdown-item">Create Client</a>
                    <a href="{% url 'trip-create-return' 'edit' trip.id %}" class="dropdown-item">Create Return Trip</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'trip-delete' 'edit' trip.id %}" class="dropdown-item text-danger">Delete trip</a>
                    {% endif %}
                </div>
            </div>
        </td>
        {% if trip.is_activity %}
        <td colspan=2 class="text-center">
            {% if trip.pick_up_time and trip.appointment_time %}
            {{ trip.pick_up_time }} - {{ trip.appointment_time }}
            {% elif trip.pick_up_time %}
            {{ trip.pick_up_time }}
            {% elif trip.appointment_time %}
            {{ trip.appointment_time }}
            {% endif %}
        </td>
        <td colspan={% if show_extra_columns %}16{% else %}11{% endif %} class="text-center">{{ trip.note }}</td>
        {% else %}
        <td class="mytable-col-sm">{{ trip.pick_up_time }}</td>
        <td class="mytable-col-sm">{{ trip.appointment_time }}</td>
        <td class="mytable-col-md">{{ trip.name }}</td>
        <td class="mytable-col-lg">
            {{ trip.address }}
            {% if trip.phone_address and trip.address %}<br/>Phone #: {{ trip.phone_address }}{% endif %}
        </td>
        <td class="mytable-col-md" style="white-space: nowrap;">
            {% if trip.phone_home and trip.phone_cell %}
            {{ trip.phone_home }}<br/>{{ trip.phone_cell }}
            {% elif not trip.phone_home and trip.phone_cell %}
            {{ trip.phone_cell }}
            {% elif trip.phone_home and not trip.phone_cell %}
            {{ trip.phone_home }}
            {% endif %}
        </td>
        <td class="mytable-col-lg">
            {{ trip.destination }}
            {% if trip.phone_destination and trip.destination %}<br/>Phone #: {{ trip.phone_destination }}{% endif %}
        </td>
        <td class="mytable-col-md">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle {% if trip.is_medical %}text-bold{% endif %}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if trip.driver is None %}---------{% else %}{% for driver in drivers %}{% if trip.driver == driver %}{{ driver }}{% endif %}{% endfor %}{% endif %}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item {% if trip.driver is None %}active{% endif %}" href="#_" onclick="ajax_loader.run('{{trip.id}}', 'set_driver', '---------')">---------</a>
                    {% for driver in drivers %}
                    <a class="dropdown-item {% if trip.driver == driver %}active{% endif %}" href="#_" onclick="ajax_loader.run('{{trip.id}}', 'set_driver', '{{driver.id}}')">{{driver}}</a>
                    {% endfor %}
                </div>
            </div>
        </td>
        <td class="mytable-col-md">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle {% if trip.is_medical %}text-bold{% endif %}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if trip.vehicle is None %}---------{% else %}{% for vehicle in vehicles %}{% if trip.vehicle == vehicle %}{{ vehicle }}{% endif %}{% endfor %}{% endif %}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item {% if trip.vehicle is None %}active{% endif %}" href="#_" onclick="ajax_loader.run('{{trip.id}}', 'set_vehicle', '---------')">---------</a>
                    {% for vehicle in vehicles %}
                    <a class="dropdown-item {% if trip.vehicle == vehicle %}active{% endif %}" href="#_" onclick="ajax_loader.run('{{trip.id}}', 'set_vehicle', '{{vehicle.id}}')">{{vehicle}}</a>
                    {% endfor %}
                </div>
            </div>
        </td>
        <td class="mytable-col-sm">
            {% if trip.check_start_miles %}
                {{ trip.start_miles }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.check_start_time %}
                {{ trip.start_time }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.check_end_miles %}
                {{ trip.end_miles }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.check_end_time %}
                {{ trip.end_time }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        {% if show_extra_columns %}
        <td class="mytable-col-md">{{ trip.note }}</td>
        <td class="mytable-col-md">
            {% if trip.trip_type %}
            {% if trip.is_medical %}
            <span class="badge badge-danger"><span class="oi oi-medical-cross mr-1"></span>{{trip.trip_type}}</span>
            {% else %}
            <span class="badge badge-primary"><span class="oi oi-bookmark mr-1"></span>{{trip.trip_type}}</span>
            {% endif %}
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if trip.status > 0 %}
                {% if trip.status == 1 %}
                <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>Canceled</span>
                {% elif trip.status == 2 %}
                <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>No Show</span>
                {% endif %}
            {% endif %}
            {% if trip.tags %}
                {% for tag in trip.get_tag_list %}
                <span class="badge badge-info"><span class="oi oi-tag mr-1"></span>{{tag}}</span>
                {% endfor %}
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.collected_cash > 0 %}
            Cash: ${{ trip.get_collected_cash_str }}
            {% endif %}
            {% if trip.collected_cash > 0 and trip.collected_check > 0 %}
            <br/>
            {% endif %}
            {% if trip.collected_check > 0 %}
            Check: ${{ trip.get_collected_check_str }}
            {% endif %}
        </td>
        <td class="mytable-col-xs">
            {% if trip.elderly %}
            <span class="oi oi-check"></span>
            {% elif trip.elderly is False %}
            <span class="oi oi-x"></span>
            {% endif %}
        </td>
        <td class="mytable-col-xs">
            {% if trip.ambulatory %}
            <span class="oi oi-check"></span>
            {% elif trip.ambulatory is False %}
            <span class="oi oi-x"></span>
            {% endif %}
        </td>
        {% else %}
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if trip.note %}
                    <span class="oi oi-document"></span>
                    {% else %}
                    <span class="oi oi-ellipses"></span>
                    {% endif %}
                </button>
                <div class="dropdown-menu dropdown-menu-right p-2">
                    <div class="list-group list-group-flush" style="width: 300px">
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Trip Type</div>
                                <div class="col-auto">
                                    {% if trip.trip_type %}
                                    {% if trip.is_medical %}
                                    <span class="badge badge-danger"><span class="oi oi-medical-cross mr-1"></span>{{trip.trip_type}}</span>
                                    {% else %}
                                    <span class="badge badge-primary"><span class="oi oi-bookmark mr-1"></span>{{trip.trip_type}}</span>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Elderly?</div>
                                <div class="col-auto">
                                    {% if trip.elderly %}
                                    <span class="oi oi-check"></span>
                                    {% elif trip.elderly is False %}
                                    <span class="oi oi-x"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Ambulatory?</div>
                                <div class="col-auto">
                                    {% if trip.ambulatory %}
                                    <span class="oi oi-check"></span>
                                    {% elif trip.ambulatory is False %}
                                    <span class="oi oi-x"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1 {% if trip.note %}list-group-item-warning{% endif %}">
                            <div class="row">
                                <div class="col text-muted">Notes</div>
                                <div class="col-auto">{% if trip.note %}{{trip.note}}{% endif %}</div>
                            </div>
                        </div>
                        {% if trip.collected_cash > 0 or trip.collected_check > 0 %}
                        <div class="list-group-item p-1 list-group-item-success">
                            <div class="row">
                                <div class="col text-muted">Money Collected</div>
                            </div>
                            {% if trip.collected_cash > 0 %}
                            <div class="row">
                                <div class="col text-muted">- Cash</div>
                                <div class="col-auto">${{ trip.get_collected_cash_str }}</div>
                            </div>
                            {% endif %}
                            {% if trip.collected_check > 0 %}
                            <div class="row">
                                <div class="col text-muted">- Check</div>
                                <div class="col-auto">${{ trip.get_collected_check_str }}</div>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if trip.status > 0 %}
                        <div class="list-group-item p-1">
                            {% if trip.status == 1 %}
                            <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>Canceled</span>
                            {% elif trip.status == 2 %}
                            <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>No Show</span>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if trip.tags %}
                        <div class="list-group-item p-1">
                        {% for tag in trip.get_tag_list %}
                        <span class="badge badge-info"><span class="oi oi-tag mr-1"></span>{{tag}}</span>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </td>
        {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no trips for this day.</p>
{% endif %}
{% if trips or shifts %}
    {% if user.is_superuser %}
    <hr/>
    <h3>For Administrators</h3>
    {% if shifts %}<a class="btn btn-danger btn-sm" href="#_" onclick="deleteAll('shifts')"><span class="oi oi-delete mr-2"></span>Delete all shifts</a>{% endif %}
    {% if trips %}<a class="btn btn-danger btn-sm" href="#_" onclick="deleteAll('trips')"><span class="oi oi-delete mr-2"></span>Delete all trips</a>{% endif %}
    <script type="text/javascript">
        function deleteAll(type) {
            if (type == "shifts") {
                if (confirm("Delete ALL shifts for {{ date }}? This can not be undone!"))
                    ajax_loader.run('', 'delete_all_shifts', '');
            }
            else if (type == "trips") {
                if (confirm("Delete ALL trips for {{ date }}? This can not be undone!"))
                    ajax_loader.run('', 'delete_all_trips', '');
            }
        }
    </script>
    {% endif %}
{% endif %}
