{% extends "base_generic.html" %}

{% block auth_content %}
<div class="container-fluid mt-4 mb-3">
    <div class="row">
        <div class="col p-1">
            <h5><strong>{{ date_str }}</strong> [<a href="{% url 'schedule' 'view' date.year date.month date.day %}">View</a>]</h5>
        </div>
        <div class="col-sm-auto p-1">
            <div class="btn-group" role="group">
                <a class="btn btn-secondary" href="{{ date_prev }}">&lt;&lt; Previous Day</a><a class="btn btn-secondary" href="{{ date_next }}">Next Day &gt;&gt;</a>
            </div>
        </div>
        <div class="col-sm-auto p-1">
            <form action="" method="post" class="date-picker">
                {% csrf_token %}
                {{ date_picker }}
                <input type="submit" value="Go" class="btn btn-secondary align-top">
            </form>
        </div>
    </div>
</div>
<div id="schedule-edit">
</div>

{% block javascript %}
<script type="text/javascript">
    var ajax_loader = new AjaxLoader("{%url 'ajax-schedule-edit' %}", "#schedule-edit");
    ajax_loader.extra_data["year"] = {{date.year}};
    ajax_loader.extra_data["month"] = {{date.month}};
    ajax_loader.extra_data["day"] = {{date.day}};

    // Fetch the initial data and repeat every 10 seconds
    ajax_loader.run();
    ajax_loader.start(10000);
</script>
{% endblock %}
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
