{% extends "base_generic.html" %}

{% block auth_content %}
<div class="container-fluid mt-4 mb-3">
    <div class="row justify-content-between">
        <div class="col-md p-1">
            <h5><strong>{{ date_str }}</strong></h5>
        </div>
        <div class="col-auto p-1">
            <a href="{% url 'schedule-print' date.year date.month date.day %}" target="_blank" class="btn btn-info"><span class="oi oi-print mr-2"></span>Print</a>
        </div>
        <div class="col-auto p-1">
            <div class="btn-group" role="group">
                <a title="Previous day" class="btn btn-secondary" href="{{ date_prev }}">
                    <span class="oi oi-chevron-left"></span>
                </a>
                <div class="btn-group" role="group" id="date_dropdown">
                    <button title="Select a date" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="oi oi-calendar"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="p-2" style="white-space: nowrap;">
                            <form action="" method="post" class="date-picker">
                                {% csrf_token %}
                                {{ date_picker }}
                                <input type="submit" value="Go" class="btn btn-secondary align-top">
                            </form>
                        </div>
                        <a class="dropdown-item" href="{% url 'schedule-today' 'edit' %}">Go to today</a>
                    </div>
                </div>
                <a title="Next day" class="btn btn-secondary" href="{{ date_next }}">
                    <span class="oi oi-chevron-right"></span></span>
                </a>
            </div>
            <script type="text/javascript">
                // Keep the dropdown from closing when picking a date
                $('#date_dropdown option, #date_dropdown select').click(function(e) {
                    e.stopPropagation();
                })
            </script>
        </div>
        <div class="col-auto p-1">
            <a href="{% url 'schedule' 'view' date.year date.month date.day %}" class="btn btn-info"><span class="oi oi-task mr-2"></span>View</a>
        </div>
    </div>
</div>
<hr/>
{% if settings.enable_quick_edit %}
<div class="modal ajax-blocker" id="quick_edit" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quick_edit_title">Quick Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="quick_edit_form">
                <div class="modal-body">
                    <input id="quick_edit_text" type="text" class="form-control"></input>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
<div id="schedule-edit">
</div>

{% block javascript %}
{% if settings.enable_quick_edit %}
{% load static %}
<script type="text/javascript" src="{% static 'js/validate.js' %}"></script>
<script type="text/javascript">
    var QUICK_EDIT_SHIFT = 0;
    var QUICK_EDIT_TRIP = 1;

    var SHIFT_START_MILES = {
        'type': QUICK_EDIT_SHIFT,
        'id': 'start_miles',
        'label': 'Start Miles',
        'validation': 'miles',
    };
    var SHIFT_END_MILES = {
        'type': QUICK_EDIT_SHIFT,
        'id': 'end_miles',
        'label': 'End Miles',
        'validation': 'miles',
    };
    var SHIFT_START_TIME = {
        'type': QUICK_EDIT_SHIFT,
        'id': 'start_time',
        'label': 'Start Time',
        'validation': 'time',
    };
    var SHIFT_END_TIME = {
        'type': QUICK_EDIT_SHIFT,
        'id': 'end_time',
        'label': 'End Time',
        'validation': 'time',
    };
    var SHIFT_FUEL = {
        'type': QUICK_EDIT_SHIFT,
        'id': 'fuel',
        'label': 'Fuel (gal)',
        'validation': 'fuel',
    };

    function quickEdit(cell, field, field_data) {
        if (window.getSelection)
            window.getSelection().removeAllRanges();

        $(cell).addClass('qe_cell_active');

        $('#quick_edit').modal('show');

        $('#quick_edit_text').unbind();
        $('#quick_edit_text').removeAttr('inputmode');
        $('#quick_edit_text').removeAttr('pattern');

        $('#quick_edit_form').unbind('submit');

        $('#quick_edit_title').text('Quick Edit - ' + field['label']);
        $('#quick_edit_text').val(field_data);
        $('#quick_edit_text').focus();
        $('#quick_edit_text').select();

        if (field['validation'] == 'miles') {
            $('#quick_edit_text').on('change', function() { validateMiles(this, (field['type'] == QUICK_EDIT_SHIFT)); });
            $('#quick_edit_text').attr('inputmode', 'numeric');
            $('#quick_edit_text').attr('pattern', '[0-9]*\.[0-9]*');
        }
        else if (field['validation'] == 'time') {
            $('#quick_edit_text').on('change', function() { validateTime(this); });
        }
        else if (field['validation'] == 'fuel') {
            $('#quick_edit_text').on('change', function() { validateFuel(this); });
            $('#quick_edit_text').attr('inputmode', 'numeric');
            $('#quick_edit_text').attr('pattern', '[0-9]*\.[0-9]*');
        }

        $('#quick_edit_form').on('submit', function(e) {
            e.preventDefault();
            $(cell).removeClass('qe_cell_active');
            $('#quick_edit').modal('hide');

            var row_id = $(cell).parent().attr('data-rowid');
            ajax_loader.run(row_id, 'quick_edit', JSON.stringify({
                'type': field['type'],
                'field_id': field['id'],
                'value': $('#quick_edit_text').val(),
            }));
        });

        $('#quick_edit').unbind('hide.bs.modal');
        $('#quick_edit').on('hide.bs.modal', function() {
            $(cell).removeClass('qe_cell_active');
        });
    }
</script>
{% endif %}
<script type="text/javascript">
    var ajax_loader = new AjaxLoader("{%url 'ajax-schedule-edit' %}", "#schedule-edit");
    ajax_loader.extra_data["year"] = {{date.year}};
    ajax_loader.extra_data["month"] = {{date.month}};
    ajax_loader.extra_data["day"] = {{date.day}};

    // Fetch the initial data and repeat every 10 seconds
    ajax_loader.run();
    ajax_loader.start(10000);
</script>
{% endblock %}
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
