{% extends "base_generic.html" %}

{% block auth_content %}
<style type="text/css">
@media print {
    #print-print, #print-close, #print-shiftselect {
        display: none;
    }
}
body.bg-light {
    background: none !important;
}
nav {
    display: none !important;
}
#notify_vehicle_issues {
    display: none;
}
.footer {
    display: none;
}
#global-notifications {
    display: none !important;
}
.blank-field {
    width: 100%;
    border-bottom: 1px solid #343a40;
    min-height: 1.5em;
    text-align: center;
    font-size: 110%;
}
</style>
<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-md p-1">
            <h5>{{ date|date:"l"}}, <strong>{{ date|date:"F d" }}</strong>, {{ date|date:"Y" }}</h5>
        </div>
        <div class="col-md p-1">
            <h5>Van Daily Log</h5>
        </div>
        {% if shifts %}
        <div class="col-auto p-1" id="print-shiftselect">
            {% if not current_shift %}
            <span style="font-size: 1em;" class="badge badge-warning">Click here to view a single shift<span class="oi oi-arrow-right ml-2"></span></span>
            {% endif %}
            <span class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if current_shift %}
                    {{ current_shift.driver }} / {{ current_shift.vehicle }}
                    {% else %}
                    All Shifts
                    {% endif %}
                </button>
                <div class="dropdown-menu dropdown-menu-right shadow">
                    <a class="dropdown-item {% if current_shift == None %}active{% endif %}" href="{% url 'schedule-print-daily-log' date.year date.month date.day %}">All Shifts</a>
                    {% for shift in shifts %}
                    <a class="dropdown-item {% if shift.id == current_shift.id %}active{% endif %}" href="{% url 'schedule-print-daily-log-shift' date.year date.month date.day shift.id %}">
                        {{ shift.driver }} / {{ shift.vehicle }}
                    </a>
                    {% endfor %}
                </div>
            </span>
        </div>
        {% endif %}
        <div class="col-auto p-1" id="print-print">
            <a href="#_" class="btn btn-info" onclick="window.print()"><span class="oi oi-print mr-2"></span>Print</a>
        </div>
        <div class="col-auto p-1" id="print-close">
            <a href="#_" class="btn btn-secondary" onclick="window.close()"><span class="oi oi-x mr-2"></span>Close</a>
        </div>
    </div>
</div>
<hr class="mt-0" />
<div class="container ml-0">
{% if shifts %}
    {% for shift in shifts %}
    {% if current_shift == None or current_shift == shift %}
    <div class="row">
        <div class="col">
            <h5>Driver</h5>
            <div class="blank-field">
                {{ shift.driver }}
            </div>
        </div>
        <div class="col">
            <h5>Vehicle</h5>
            <div class="blank-field">
                {{ shift.vehicle }}
            </div>
        </div>
        <div class="col">
            <h5>Start Mileage</h5>
            <div class="blank-field">
                {{ shift.start_miles }}
            </div>
        </div>
        <div class="col">
            <h5>End Mileage</h5>
            <div class="blank-field">
                {{ shift.end_miles }}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <hr/>
    <div class="row mb-4">
        <div class="col">
            <h4 class="text-center">Riders</h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            Elderly Ambulatory riders
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ report.unique_riders.elderly_ambulatory }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            Elderly Non-Ambulatory riders (wheel chair)
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ report.unique_riders.elderly_nonambulatory }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            Non-Elderly Ambulatory riders
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ report.unique_riders.nonelderly_ambulatory }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            Non-Elderly Non-Ambulatory riders (wheel chair)
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ report.unique_riders.nonelderly_nonambulatory }}
            </div>
        </div>
    </div>
    {% if report.unique_riders.unknown > 0 %}
    <div class="row mb-3">
        <div class="col-md">
            Unknown riders (missing data)
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ report.unique_riders.unknown }}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row mb-3">
        <div class="col-md">
            <strong>Total Riders</strong>
        </div>
        <div class="col-3">
            <div class="blank-field">
                <strong>{{ report.unique_riders.total }}</strong>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row mb-4">
        <div class="col">
            <h4 class="text-center">Types of Passenger Trips</h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            Medical (Dr. appts., blood pressure clinic, podiatry, etc.)
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ trips_medical }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            Nutrition (meal site, food pantry)
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ trips_nutrition }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            Social/Recreation (adult day health, movie, lunch bunch)
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ trips_social }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            Shopping (groceries, etc.)
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ trips_shopping }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            Other (errands, barber/hairdresser, bank, etc.)
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ trips_other }}
            </div>
        </div>
    </div>
    <div class="ml-4 small font-italic">
        <div class="row mb-3">
            <div class="col-md">
                Employment
            </div>
            <div class="col-2">
                <div class="blank-field">
                    {{ trips_employment }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md">
                Education (talks, SHINE, lawyer, tax, classes)
            </div>
            <div class="col-2">
                <div class="blank-field">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            <strong>Total Trips</strong>
        </div>
        <div class="col-3">
            <div class="blank-field">
                <strong>{{ trips_total }}</strong>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row mb-4">
        <div class="col">
            <h4 class="text-center">Money Collected</h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            Total Cash Collected
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ money_cash }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            Total Checks Collected
        </div>
        <div class="col-3">
            <div class="blank-field">
                {{ money_check }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            Total Both Cash &amp; Checks Collected
        </div>
        <div class="col-3">
            <div class="blank-field">
                <strong>{{ money_total }}</strong>
            </div>
        </div>
    </div>
{% else %}
<p>There are no completed shifts for this day.</p>
{% endif %}
</div>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
