{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}Print Schedule | {{ date|date:"l, F d, Y"}} | {% endif %}
{% endblock %}

{% block auth_content %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'transit/css/schedule/print.css' %}">
<style type="text/css">
@media print {
    @page {
        size: landscape;
    }
}
</style>
{% endblock %}

<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="col-auto p-1" id="print-close">
            <button class="btn btn-secondary btn-sm" onclick="window.close()"><span class="oi oi-x mr-2"></span>Close</button>
        </div>
    </div>
</div>

{% include "ajax_loading.html" %}
<div id="print_content">
</div>

<script type="text/javascript">
    var ajax_loader = new AjaxLoader("{%url 'ajax-schedule-print' date.year date.month date.day %}", "#print_content");

    // Fetch the initial data
    ajax_loader.run();
    ajax_loader.start(0);
</script>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
