{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}Schedule (driver view) | {{ date|date:"l, F d, Y"}} | {% endif %}
{% endblock %}

{% block auth_content %}
{% load static %}
<div class="container-fluid mt-4 mb-3">
    <div class="row justify-content-between">
        <div class="col-md p-1">
            <h3 class="alert alert-info text-dark p-1">{{ date|date:"l"}}, <strong>{{ date|date:"F d" }}</strong>, {{ date|date:"Y" }}</h3>
        </div>
        <div class="col-auto p-1">
            <span class="dropdown">
                <a href="#_" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Print the schedule or daily log">
                    <span class="oi oi-cog mr-2"></span>Tools
                </a>
                <div class="dropdown-menu shadow dropdown-menu-right">
                    <h5 class="pl-3 pr-3"><span class="oi oi-graph mr-2"></span>Reports</h5>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'report' date.year date.month date.day date.year date.month date.day %}"><span class="oi oi-target mr-2"></span>Daily Report: <strong>{{ date|date:"F d, Y" }}</strong></a>
                    <a class="dropdown-item" href="{% url 'report-month' date.year date.month %}"><span class="oi oi-calendar mr-2"></span>Monthly Report: <strong>{{ date|date:"F Y" }}</strong></a>
                    <h5 class="pl-3 pr-3 mt-3"><span class="oi oi-print mr-2"></span>Print</h5>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'schedule-print' date.year date.month date.day %}" target="_blank"><span class="oi oi-spreadsheet mr-2"></span>Print Schedule</a>
                    <a class="dropdown-item" href="{% url 'schedule-print-simple' date.year date.month date.day %}" target="_blank"><span class="oi oi-list mr-2"></span>Print Schedule (Simple)</a>
                    <a class="dropdown-item" href="{% url 'schedule-print-daily-log' date.year date.month date.day %}" target="_blank"><span class="oi oi-clock mr-2"></span>Print Daily Log</a>
                    <h5 class="pl-3 pr-3 mt-3"><span class="oi oi-magnifying-glass mr-2"></span>View Mode</h5>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'schedule' 'edit' date.year date.month date.day %}"><span class="oi oi-spreadsheet mr-2"></span>Switch to <strong>Edit</strong></a>
                </div>
            </span>
        </div>
        <div class="col-auto p-1">
            <div class="btn-group" role="group">
                <a title="Previous day" class="btn btn-secondary" href="{% url 'schedule' 'view' date_week.0.year date_week.0.month date_week.0.day %}">
                    <span class="oi oi-chevron-left"></span>
                </a>
                <div class="btn-group" role="group" id="date_dropdown">
                    <button title="Select a date" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="oi oi-calendar"></span>
                    </button>
                    <div class="dropdown-menu shadow dropdown-menu-right">
                        <div class="p-2" style="white-space: nowrap;">
                            <form action="" method="post" class="date-picker">
                                {% csrf_token %}
                                {{ date_picker }}
                                <input type="submit" value="Go" class="btn btn-secondary align-top">
                            </form>
                        </div>
                        <a class="dropdown-item" href="{% url 'schedule-today' 'view' %}">Go to today</a>
                        <div class="dropdown-divider"></div>
                        {% for date_link in date_week %}
                            {% if date_link is not date_week.1 %}
                           <a class="dropdown-item" href="{% url 'schedule' 'view' date_link.year date_link.month date_link.day %}">
                               <span>{{date_link|date:"l"}}, </span>
                               <span><strong>{{date_link|date:"F j"}}, </strong></span>
                               <span>{{date_link|date:"Y"}}</span>
                           </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <a title="Next day" class="btn btn-secondary" href="{% url 'schedule' 'view' date_week.2.year date_week.2.month date_week.2.day %}">
                    <span class="oi oi-chevron-right"></span></span>
                </a>
            </div>
        </div>
    </div>
</div>
<hr/>
{% include "ajax_loading.html" %}
<div id="schedule-view">
</div>

<script type="text/javascript" src="{% static 'transit/js/schedule/common.js' %}"></script>
<script type="text/javascript">
    fixDatePicker();
    setupDatePickerEvents("#id_date_year", "#id_date_month", "#id_date_day");

    var ajax_loader = new AjaxLoader("{%url 'ajax-schedule-view' %}", "#schedule-view");
    ajax_loader.extra_data["year"] = {{date.year}};
    ajax_loader.extra_data["month"] = {{date.month}};
    ajax_loader.extra_data["day"] = {{date.day}};

    // Fetch the initial data and repeat every 10 seconds
    ajax_loader.run();
    ajax_loader.start(10000);
</script>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
