{% extends "base_generic.html" %}

{% block auth_content %}
<h2>Change Password</h2>
<div class="container ml-0">
<form method="post" action="">
{% csrf_token %}
    <div class="row">
        <div class="col-md border m-1 p-2">
            <div class="mb-2">
                <label for="{{ form.old_password.id_for_label }}"><strong>{{ form.old_password.label }}</strong></label>
                <br/>
                <input class="form-control form-control-width-fix" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.html_name }}" autofocus required type="password" />
                {% if form.old_password.errors %}
                <div class="text-danger small mt-2 mb-2">
                {{ form.old_password.errors }}
                </div>
                {% endif %}
            </div>
            <div class="mb-2">
                <label for="{{ form.new_password1.id_for_label }}"><strong>{{ form.new_password1.label }}</strong></label>
                <br/>
                <input class="form-control form-control-width-fix" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" required type="password" />
                {% if form.new_password1.errors %}
                <div class="text-danger small mt-2 mb-2">
                {{ form.new_password1.errors }}
                </div>
                {% endif %}
                <ul class="mt-2 mb-2 small text-muted">
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
            </div>
            <div class="mb-2">
                <label for="{{ form.new_password2.id_for_label }}"><strong>{{ form.new_password2.label }}</strong></label>
                <br/>
                <input class="form-control form-control-width-fix" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" required type="password" />
                {% if form.new_password2.errors %}
                <div class="text-danger small mt-2 mb-2">
                {{ form.new_password2.errors }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="mt-2 mb-2">
        <button class="btn btn-success btn-lg m-2" type="submit"><span class="oi oi-check mr-2"></span>Save Changes</button>
        <a href="{% url 'index' %}" class="btn btn-secondary btn-lg m-2"><span class="oi oi-x mr-2"></span>Cancel Changes</a>
    </div>
</form>
</div>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
