<h3>Trip Types <a class="btn btn-secondary" href="{% url 'triptype-create' %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
{% if triptypes %}
<table class="mytable mytable-striped">
    <thead>
        <td></td>
        <td></td>
        <td>Name</td>
    </thead>
    {% for triptype in triptypes %}
    <tr>
        <td class="mytable-col-arrows">
            <a id="triptype_{{ triptype.id }}"></a>
            <div class="btn-group-vertical">
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0" onclick="ajax_loader.run('{{ triptype.id }}', 'mv', 'u')"><span class="oi oi-chevron-top"></span></button>
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0" onclick="ajax_loader.run('{{ triptype.id }}', 'mv', 'd')"><span class="oi oi-chevron-bottom"></span></button>
            </div>
        </td>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu">
                    <a href="{% url 'triptype-edit' triptype.id %}" class="dropdown-item">Edit Trip Type</a>
                    <hr/>
                    <a href="{% url 'triptype-delete' triptype.id %}" class="dropdown-item text-danger">Delete Trip Type</a>
                </div>
            </div>
        </td>
        <td class="mytable-col-lg">{{ triptype.name }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
