{% extends "base_generic.html" %}

{% block auth_content %}
{% load static %}
<h2>End Shift</h2>
<form class="mb-4" action="" method="post">
    {% csrf_token %}
    <div class="container ml-0">
        <div class="row">
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <legend><span class="small">{{ shift.date }} | {{ shift.driver }} ({{ shift.vehicle }})</span></legend>
                    <div class="mb-2"><label for="{{ form.miles.id_for_label }}"><strong>{{ form.miles.label }}</strong></label><br/>{{ form.miles }}</div>
                    <div id="miles_error">
                    </div>
                    <div class="mb-2"><label for="{{ form.time.id_for_label }}"><strong>{{ form.time.label }}</strong></label>
                        <a href="#_" class="btn btn-sm btn-secondary ml-2" title="Get the current time" onclick="getCurrentTime('id_time')"><span class="oi oi-clock"></span></a>
                        <br/>{{ form.time }}</div>
                </fieldset>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-wrap mt-2">
            <div class="mr-auto mb-3">
                <button class="btn btn-success btn-lg m-2" type="submit" name="save"><span class="oi oi-check mr-2"></span>Save Changes</button>
                <button class="btn btn-secondary btn-lg m-2" type="submit" name="cancel" formnovalidate><span class="oi oi-x mr-2"></span>Cancel Changes</button>
            </div>
        </div>
    </div>
</form>

{% block javascript %}
<script type="text/javascript" src="{% static 'js/validate.js' %}"></script>
<script type="text/javascript">
    function checkMilesError(input) {
        var start_miles = parseFloat("{{ shift.start_miles }}");
        var end_miles = parseFloat(validateMilesString(input.value, false));
        if (start_miles > end_miles)
            $("#miles_error").html('<p class="text-danger"><strong>Warning: End mileage should be greater than the start mileage.</strng></p>');
        else
            $("#miles_error").html('');
    }

    var mile_input = document.getElementById("id_miles");
    mile_input.addEventListener("change", function() { checkMilesError(mile_input); });
    mile_input.addEventListener("input", function() { checkMilesError(mile_input); });

    checkMilesError(mile_input);
</script>
{% endblock %}
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
