{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}Start Shift | {{shift}} | {% endif %}
{% endblock %}

{% block auth_content %}
{% load static %}
<h2>Start Shift</h2>
<form class="mb-4" action="" method="post" onsubmit="return checkForm(this, event);">
    {% csrf_token %}
    <div class="container ml-0">
        <div class="row">
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <legend><span class="small">{{ shift.date }} | {{ shift.driver }} ({{ shift.vehicle }})</span></legend>
                    <div class="mb-2"><label for="{{ form.miles.id_for_label }}"><strong>{{ form.miles.label }}</strong></label><br/>{{ form.miles }}</div>
                    <div id="full_miles_desc"></div>
                    <div id="full_miles" class="full-miles"></div>
                    <div id="mile_suggestion_typo_warning" class="mb-3" style="font-size: 120%; display: none;">
                        <span class="text-danger">
                            <em><strong>Please check for typos.</strong></em>
                        </span>
                    </div>
                    <div id="mile_suggestion" class="mb-3" style="font-size: 120%; display: none;">
                        <span class="text-danger">
                            <em>Did you mean: <span id="mile_suggestion_prefix"></span><strong><span id="mile_suggestion_suffix"></span></strong>?</em>
                            <a id="mile_suggestion_button" href="#_" class="ml-2 btn btn-success" data-suggestion="" onclick="useSuggestion(this, mile_data)">Yes</a>
                        </span>
                    </div>
                    <div id="mile_suggestion_error" class="mb-3" style="font-size: 120%; display: none;">
                        <span class="text-danger">
                            <em>No suggested fixes.</em>
                            <a id="mile_suggestion_error_button" href="#_" class="ml-2 btn btn-danger" data-suggestion="" onclick="mileageErrorTryAgain(mile_data)">Try Again</a>
                        </span>
                    </div>
                    <div class="mb-2"><label for="{{ form.time.id_for_label }}"><strong>{{ form.time.label }}</strong></label>
                        <a href="#_" class="btn btn-sm btn-secondary ml-2" title="Get the current time" onclick="getCurrentTime('id_time')"><span class="oi oi-clock"></span></a>
                        <br/>{{ form.time }}</div>
                </fieldset>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-wrap mt-2">
            <div class="mr-auto mb-3">
                <button class="btn btn-success btn-lg m-2" type="submit" name="save"><span class="oi oi-check mr-2"></span>Save Changes</button>
                <button class="btn btn-secondary btn-lg m-2" type="submit" name="cancel" formnovalidate><span class="oi oi-x mr-2"></span>Cancel Changes</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="{% static 'transit/js/validate.js' %}"></script>
<script type="text/javascript" src="{% static 'transit/js/shift/start_end.js' %}"></script>
<script type="text/javascript">
    var mile_data = { "start":"{{ previous_shift_end_miles }}", "prev":"{{ previous_shift_end_miles }}" };
    setupFormEvents(mile_data);
    showFullMiles(mile_data);
</script>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
