{% extends "base_generic.html" %}

{% block auth_content %}
{% load static %}
<h2>Start Shift</h2>
<form class="mb-4" action="" method="post" onsubmit="return checkForm(this, event);">
    {% csrf_token %}
    <div class="container ml-0">
        <div class="row">
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <legend><span class="small">{{ shift.date }} | {{ shift.driver }} ({{ shift.vehicle }})</span></legend>
                    <div class="mb-2"><label for="{{ form.miles.id_for_label }}"><strong>{{ form.miles.label }}</strong></label><br/>{{ form.miles }}</div>
                    <div id="full_miles_desc"></div>
                    <div id="full_miles" class="full-miles"></div>
                    <div id="mile_suggestion" class="mb-3" style="font-size: 120%; display: none;">
                        <span class="text-danger">
                            <em>Did you mean: <span id="mile_suggestion_prefix"></span><strong><span id="mile_suggestion_suffix"></span></strong>?</em>
                            <a id="mile_suggestion_button" href="#_" class="ml-2 btn btn-success" data-suggestion="" onclick="useSuggestion(this, mile_input)">Yes</a>
                        </span>
                    </div>
                    <div class="mb-2"><label for="{{ form.time.id_for_label }}"><strong>{{ form.time.label }}</strong></label>
                        <a href="#_" class="btn btn-sm btn-secondary ml-2" title="Get the current time" onclick="getCurrentTime('id_time')"><span class="oi oi-clock"></span></a>
                        <br/>{{ form.time }}</div>
                </fieldset>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-wrap mt-2">
            <div class="mr-auto mb-3">
                <button class="btn btn-success btn-lg m-2" type="submit" name="save"><span class="oi oi-check mr-2"></span>Save Changes</button>
                <button class="btn btn-secondary btn-lg m-2" type="submit" name="cancel" formnovalidate><span class="oi oi-x mr-2"></span>Cancel Changes</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="{% static 'js/validate.js' %}"></script>
<script type="text/javascript">
    function showFullMiles(input) {
        var shift_start_miles = "{{ previous_shift_end_miles }}";
        var shift_prev_miles = "{{ previous_shift_end_miles }}";

        $("#full_miles_desc").html("");

        var new_miles = validateMilesString(input.value, false);
        var prefix_miles = "";
        if (new_miles != "") {
            prefix_miles = shift_start_miles.substring(0, shift_start_miles.length - new_miles.length);
            $("#full_miles_desc").append('<span class="text-info">Match to the odometer:</span>');
        }
        var combined_miles = prefix_miles + new_miles;

        $("#full_miles").html("");
        $("#full_miles").append('<span class="text-muted">' + prefix_miles + '</span><strong>' + new_miles + '</strong>');

        $("#mile_suggestion").hide();
        if (shift_prev_miles != "" && combined_miles != "") {
            if (parseFloat(combined_miles) < parseFloat(shift_prev_miles)) {
                var prev_prefix_miles = shift_prev_miles.substring(0, shift_prev_miles.length - new_miles.length);

                if ((combined_miles == prev_prefix_miles + new_miles) || (parseFloat(prev_prefix_miles + new_miles) < parseFloat(shift_prev_miles))) {
                    if (prev_prefix_miles == "") {
                        prev_prefix_miles = "1";
                    }
                    else {
                        prev_prefix_miles = (parseFloat(prev_prefix_miles) + 1).toString();
                    }
                }

                var suggest_prefix = "";
                var suggest_suffix = "";

                var suggest_miles = prev_prefix_miles + new_miles;
                if (suggest_miles.length > combined_miles.length) {
                    suggest_suffix = suggest_miles;
                }
                else {
                    for (var i = 0; i < suggest_miles.length; i++) {
                        if (suggest_miles.charAt(i) == combined_miles.charAt(i)) {
                            suggest_prefix += suggest_miles.charAt(i);
                        }
                        else {
                            break;
                        }
                    }
                    suggest_suffix = suggest_miles.substring(suggest_prefix.length, suggest_miles.length);
                }

                $("#full_miles").append('<span class="text-danger"><strong><span class="ml-3 oi oi-warning"></span></strong></span>');
                $("#mile_suggestion").show();
                $("#mile_suggestion_prefix").html(suggest_prefix);
                $("#mile_suggestion_suffix").html(suggest_suffix);
                $("#mile_suggestion_button").data("suggestion", suggest_suffix);
            }
        }
    }

    function useSuggestion(button, input) {
        input.value = $(button).data("suggestion");
        showFullMiles(input);
    }

    var mile_input = document.getElementById("id_miles");
    mile_input.addEventListener("change", function() { showFullMiles(mile_input); });

    showFullMiles(mile_input);
</script>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
