<h3>Templates <a class="btn btn-success btn-sm" href="{% url 'template-create' %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
{% if templates %}
<script type="text/javascript">
    var row_mover = new RowMover("RowMover", ajax_loader);
</script>
<table class="mytable mytable-striped-sort">
    <thead>
        <td></td>
        <td></td>
        <td>Name</td>
        <td></td>
    </thead>
    {% for template in templates %}
    {% if template.sort_index == 0 %}
    <tr class="RowMover mytable-sort mytable-sort-hidden" onclick="row_mover.moveItem('')"><td colspan="4"></td></tr>
    {% endif %}
    <tr>
        <td class="mytable-col-arrows">
            <button class="btn btn-outline-dark btn-sm btn-row-mover" onclick="row_mover.toggle(this, '{{ template.id }}')"><span class="oi oi-resize-height"></span></button>
        </td>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button id="template_{{ template.id }}" class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu shadow">
                    <a href="{% url 'template-edit' template.id %}" class="dropdown-item"><span class="oi oi-pencil mr-2"></span>Edit template</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'template-delete' template.id %}" class="dropdown-item text-danger"><span class="oi oi-delete mr-2"></span>Delete template</a>
                </div>
            </div>
        </td>
        <td class="mytable-col-lg">{{ template.name }}</td>
        <td class="mytable-col-lg">
            <a href="{% url 'template-trips' template.id %}" class="btn btn-secondary btn-sm w-100"><span class="oi oi-list mr-2"></span>Edit Trips</a>
        </td>
    </tr>
    <tr class="RowMover mytable-sort mytable-sort-hidden" onclick="row_mover.moveItem('{{ template.id }}')"><td colspan="4"></td></tr>
    {% endfor %}
</table>
<script type="text/javascript">
    var hash = window.location.hash;
    if (hash != "") {
        if (hash.startsWith('#template_')) {
            setEditButtonStyleFromHash(hash);
        }
    }
</script>
{% else %}
<p>No templates have been created.</p>
{% endif %}
