<h3>Templates <a class="btn btn-success btn-sm" href="{% url 'template-create' %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
{% if templates %}
<table class="mytable mytable-striped">
    <thead>
        <td></td>
        <td></td>
        <td>Name</td>
        <td></td>
    </thead>
    {% for template in templates %}
    <tr>
        <td class="mytable-col-arrows">
            <a id="template_{{ template.id }}"></a>
            <div class="btn-group-vertical">
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0 sort-arrow" onclick="ajax_loader.run('{{ template.id }}', 'mv', 'u')"><span class="oi oi-caret-top"></span></button>
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0 sort-arrow" onclick="ajax_loader.run('{{ template.id }}', 'mv', 'd')"><span class="oi oi-caret-bottom"></span></button>
            </div>
        </td>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu">
                    <a href="{% url 'template-edit' template.id %}" class="dropdown-item">Edit template</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'template-delete' template.id %}" class="dropdown-item text-danger">Delete template</a>
                </div>
            </div>
        </td>
        <td class="mytable-col-lg">{{ template.name }}</td>
        <td class="mytable-col-lg">
            <a href="{% url 'template-trips' template.id %}" class="btn btn-secondary btn-sm w-100"><span class="oi oi-list mr-2"></span>Edit Trips</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
