<h3>Destinations <a class="btn btn-success btn-sm" href="{% url 'destination-create' %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
<div class="container ml-0 border p-2 mb-3" style="background: #eee;">
    <div class="row">
        <div class="col">
            <h5>Filter{% if filtered_count < unfiltered_count %} ({{filtered_count}}/{{unfiltered_count}} visible){% endif %}</h5>
        </div>
        {% if is_filtered %}
        <div class="col-auto">
            <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_reset', '')"><span class="oi oi-delete mr-2"></span>Reset Filter</button>
        </div>
        {% endif %}
    </div>
    <div class="mt-2">
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_active == 1 %}Active{% elif filter_active == 2 %}Non-Active{% else %}All Statuses{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item {% if filter_active == 0 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_active', '0')">All Statuses</a>
                <a class="dropdown-item {% if filter_active == 1 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_active', '1')">Active</a>
                <a class="dropdown-item {% if filter_active == 2 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_active', '2')">Non-Active</a>
            </div>
        </span>
    </div>
    <div class="mt-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modal_filter_search">
                <span class="oi oi-magnifying-glass mr-2"></span>Search
            </button>

            <!-- Modal -->
            <div class="modal ajax-blocker" id="modal_filter_search" tabindex="-1" role="dialog" aria-labelledby="modal_filter_search_title" aria-hidden="true">
                <div class="modal-dialog modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_filter_search_title">Filter destinations by address</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="filter_search_form">
                            <div class="modal-body">
                                <input id="filter_search" type="text" class="form-control" placeholder="Enter search terms"></input>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">
                                    <span class="oi oi-magnifying-glass mr-2"></span>Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    {% if filter_search %}
    <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_search', '')"><span class="oi oi-delete mr-2"></span>Remove filter: <strong>{{ filter_search }}</strong></button>
    {% endif %}
    </div>
</div>
{% if destinations %}
<table class="mytable mytable-striped">
    <thead>
        <td></td>
        <td>
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '0')">
                {% if sort_mode == 0 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Address
            </a>
        </td>
        <td>
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '1')">
                {% if sort_mode == 1 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Phone
            </a>
        </td>
        <td>
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '2')">
                {% if sort_mode == 2 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Is active?
            </a>
        </td>
    </thead>
    {% for destination in destinations %}
    <tr>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button id="destination_{{ destination.id }}" class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu shadow">
                    <a href="{% url 'destination-edit' destination.id %}" class="dropdown-item"><span class="oi oi-pencil mr-2"></span>Edit Destination</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'search' %}?address={{destination.address|urlencode}}" class="dropdown-item" target="_blank"><span class="oi oi-magnifying-glass mr-2"></span>Search for trips by address</a>
                    <a href="{% url 'search' %}?destination={{destination.address|urlencode}}" class="dropdown-item" target="_blank"><span class="oi oi-magnifying-glass mr-2"></span>Search for trips by destination</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'destination-delete' destination.id %}" class="dropdown-item text-danger"><span class="oi oi-delete mr-2"></span>Delete Destination</a>
                </div>
            </div>
        </td>
        <td class="mytable-col-lg">{{ destination.address }}</td>
        <td class="mytable-col-lg">{{ destination.phone }}</td>
        <td class="mytable-col-sm">
            {% if destination.is_active %}
            <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
            {% elif destination.is_active is False %}
            <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% if destinations.paginator.num_pages > 1 %}
<nav class="mt-2">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{% if destinations.has_previous %}?page={{ destinations.previous_page_number }}{% endif %}">&laquo;</a></li>
        {% for page in destinations.paginator.page_range %}
        {% if page > destination_page_ranges.page_start and page <= destination_page_ranges.page_end %}
        <li class="page-item {% if destinations.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="page-item"><a class="page-link" href="{% if destinations.has_next %}?page={{ destinations.next_page_number }}{% endif %}">&raquo;</a></li>
    </ul>
</nav>
{% endif %}
<p>Showing results {{ destination_page_ranges.item_count_start }}-{{ destination_page_ranges.item_count_end }} of {{ destinations.paginator.count }}</p>
<script type="text/javascript">
    setSearchModal('#filter_search_form', '#modal_filter_search', '#filter_search', '{{filter_search}}', function(s) { ajax_loader.run('', 'filter_search', $(s).val()); });
    setEditButtonStyleFromHash('#destination_', window.location.hash);
</script>
{% else %}
<p>There are no destinations. {% if filtered_count < unfiltered_count %}Try <a href="#_" onclick="ajax_loader.run('', 'filter_reset', '')">resetting the filter</a> to view all destinations.{% endif %}</p>
{% endif %}
