<h3>Destinations <a class="btn btn-success btn-sm" href="{% url 'destination-create' %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
<div class="container ml-0 border p-2 mb-3" style="background: #eee;">
    <div class="row">
        <div class="col">
            <h5>Filter{% if filtered_count < unfiltered_count %} ({{filtered_count}}/{{unfiltered_count}} visible){% endif %}</h5>
        </div>
        {% if is_filtered %}
        <div class="col-auto">
            <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_reset', '')"><span class="oi oi-delete mr-2"></span>Reset Filter</button>
        </div>
        {% endif %}
    </div>
    <div class="mt-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modal_filter_search">
                <span class="oi oi-magnifying-glass mr-2"></span>Search
            </button>

            <!-- Modal -->
            <div class="modal ajax-blocker" id="modal_filter_search" tabindex="-1" role="dialog" aria-labelledby="modal_filter_search_title" aria-hidden="true">
                <div class="modal-dialog modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_filter_search_title">Filter destinations by address</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="filter_search_form">
                            <div class="modal-body">
                                <input id="filter_search" type="text" class="form-control" placeholder="Enter search terms"></input>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">
                                    <span class="oi oi-magnifying-glass mr-2"></span>Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#filter_search_form').on('submit', function(e){
                    e.preventDefault();
                    $('#modal_filter_search').modal('hide');
                    ajax_loader.run('', 'filter_search', $('#filter_search').val());
                });
                $('#modal_filter_search').on('show.bs.modal', function(){
                    $('#filter_search').val('{{filter_search}}');
                });
                $('#modal_filter_search').on('shown.bs.modal', function(){ 
                    $('#filter_search').focus();
                    $('#filter_search').select();
                });
            </script>
    {% if filter_search %}
    <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_search', '')"><span class="oi oi-delete mr-2"></span>Remove filter: <strong>{{ filter_search }}</strong></button>
    {% endif %}
    </div>
</div>
{% if destinations %}
<table class="mytable mytable-striped">
    <thead>
        <td></td>
        <td>Address</td>
        <td>Phone</td>
    </thead>
    {% for destination in destinations %}
    <tr>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu">
                    <a href="{% url 'destination-edit' destination.id %}" class="dropdown-item">Edit Destination</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'destination-delete' destination.id %}" class="dropdown-item text-danger">Delete Destination</a>
                </div>
            </div>
        </td>
        <td class="mytable-col-lg">{{ destination.address }}</td>
        <td class="mytable-col-lg">{{ destination.phone }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no destinations. {% if filtered_count < unfiltered_count %}Try <a href="#_" onclick="ajax_loader.run('', 'filter_reset', '')">resetting the filter</a> to view all destinations.{% endif %}</p>
{% endif %}
