<div class="row">
    <div class="col">
        <h3>
            <a href="{% url 'templates' %}" class="btn btn-outline-secondary btn-sm"><span class="oi oi-chevron-left"></span></a>
            Trips for {{ template.name }} template
            <span class="dropdown ajax-blocker">
                <a href="#_" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-plus mr-2"></span>New
                </a>
                <div class="dropdown-menu shadow dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'template-trip-create' parent %}"><span class="oi oi-document mr-2"></span>New Trip</a>
                    <a class="dropdown-item" href="{% url 'template-trip-create-activity' parent %}"><span class="oi oi-star mr-2"></span>New Activity</a>
                </div>
            </span>
        </h3>
    </div>
    <div class="col-auto">
    </div>
</div>
<script type="text/javascript">
    var row_movers = [];
</script>
{% if trips %}
<script type="text/javascript">
    var row_mover = new RowMover("RowMover", ajax_loader);
    row_movers.push(row_mover);
</script>
<a class="small" href="#_" onclick="(function(){ row_mover.clear(); ajax_loader.run('', 'toggle_extra_columns', ''); })();">
{% if show_extra_columns %}
Hide extra columns
{% else %}
Show extra columns
{% endif %}
</a>
<table class="mytable mytable-striped-sort">
    <thead>
        <td></td>
        <td></td>
        <td>Pick up</td>
        <td>Appt. time</td>
        <td>Name</td>
        <td>Address</td>
        <td>Phone #</td>
        <td>Destination</td>
        {% if show_extra_columns %}
        <td>Notes</td>
        <td>Trip Type</td>
        <td>Tags</td>
        <td>Elderly?</td>
        <td>Ambulatory?</td>
        {% else %}
        <td></td>
        {% endif %}
    </thead>
    {% for trip in trips %}
    {% if trip.sort_index == 0 %}
    <tr class="RowMover mytable-sort mytable-sort-hidden" onclick="row_mover.moveItem('')"><td colspan="{% if show_extra_columns %}13{% else %}9{% endif %}"></td></tr>
    {% endif %}
    <tr class="{% if trip.is_medical or trip.is_activity %}text-bold{% endif %}">
        <td class="mytable-col-arrows">
            <a id="trip_{{ trip.id }}"></a>
            <button class="btn btn-outline-dark btn-sm btn-row-mover" onclick="row_mover.toggle(this, '{{ trip.id }}')"><span class="oi oi-resize-height"></span></button>
        </td>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu shadow">
                    {% if trip.is_activity %}
                    <a href="{% url 'template-trip-edit-activity' trip.parent.id trip.id %}" class="dropdown-item"><span class="oi oi-pencil mr-2"></span>Edit activity</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'template-trip-delete-activity' trip.parent.id trip.id %}" class="dropdown-item text-danger"><span class="oi oi-delete mr-2"></span>Delete activity</a>
                    {% else %}
                    <a href="{% url 'template-trip-edit' trip.parent.id trip.id %}" class="dropdown-item"><span class="oi oi-pencil mr-2"></span>Edit trip</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'template-trip-copy' trip.parent.id trip.id %}" class="dropdown-item"><span class="oi oi-clipboard mr-2"></span>Copy Trip</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'client-create-from-template-trip' trip.id %}" class="dropdown-item"><span class="oi oi-person mr-2"></span>Create Client</a>
                    <a href="{% url 'template-trip-create-return' trip.parent.id trip.id %}" class="dropdown-item"><span class="oi oi-loop mr-2"></span>Create Return Trip</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'template-trip-delete' trip.parent.id trip.id %}" class="dropdown-item text-danger"><span class="oi oi-delete mr-2"></span>Delete trip</a>
                    {% endif %}
                </div>
            </div>
        </td>
        {% if trip.is_activity %}
        <td colspan=2 class="text-center edit_cell" onclick="editCell('{% url 'template-trip-edit-activity' trip.parent.id trip.id %}?focus=id_start_time', row_movers)">
            {% if trip.pick_up_time and trip.appointment_time %}
            {{ trip.pick_up_time }} - {{ trip.appointment_time }}
            {% elif trip.pick_up_time %}
            {{ trip.pick_up_time }}
            {% elif trip.appointment_time %}
            {{ trip.appointment_time }}
            {% endif %}
        </td>
        <td colspan="{% if show_extra_columns %}9{% else %}5{% endif %}" class="text-center edit_cell" onclick="editCell('{% url 'template-trip-edit-activity' trip.parent.id trip.id %}?focus=id_description', row_movers)">
            {{ trip.note }}
        </td>
        {% else %}
        <td class="mytable-col-sm edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_pick_up_time', row_movers)">
            {{ trip.pick_up_time }}
        </td>
        <td class="mytable-col-sm edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_appointment_time', row_movers)">
            {{ trip.appointment_time }}
        </td>
        <td class="mytable-col-md edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_name', row_movers)">
            {{ trip.name }}
        </td>
        <td class="mytable-col-lg edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_address', row_movers)">
            {{ trip.address }}
            {% if trip.phone_address and trip.address %}<br/>Phone #: {{ trip.phone_address }}{% endif %}
        </td>
        {% if not trip.phone_home and trip.phone_cell %}
        <td class="mytable-col-md edit_cell" style="white-space: nowrap;" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_phone_cell', row_movers)">
        {% else %}
        <td class="mytable-col-md edit_cell" style="white-space: nowrap;" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_phone_home', row_movers)">
        {% endif %}
            {{ trip.phone_home }}
            {% if trip.phone_home and trip.phone_cell %}<br/>{% endif %}
            {{ trip.phone_cell }}
        </td>
        <td class="mytable-col-lg edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_destination', row_movers)">
            {{ trip.destination }}
            {% if trip.phone_destination and trip.destination %}<br/>Phone #: {{ trip.phone_destination }}{% endif %}
        </td>
        {% if show_extra_columns %}
        <td class="mytable-col-md edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_notes', row_movers)">
            {{ trip.note }}
        </td>
        <td class="mytable-col-md edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_trip_type', row_movers)">
            {% if trip.trip_type %}
            {% if trip.is_medical %}
            <span class="badge badge-danger"><span class="oi oi-medical-cross mr-1"></span>{{trip.trip_type}}</span>
            {% else %}
            <span class="badge badge-primary"><span class="oi oi-bookmark mr-1"></span>{{trip.trip_type}}</span>
            {% endif %}
            {% endif %}
        </td>
        <td class="mytable-col-md edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_tags', row_movers)">
            {% if trip.status > 0 %}
                {% if trip.status == 1 %}
                <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>Canceled</span>
                {% elif trip.status == 2 %}
                <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>No Show</span>
                {% endif %}
            {% endif %}
            {% if trip.tags %}
                {% for tag in trip.get_styled_tag_list %}
                <span class="badge {{ tag.1 }}"><span class="oi oi-tag mr-1"></span>{{ tag.0 }}</span>
                {% endfor %}
            {% endif %}
        </td>
        <td class="mytable-col-xs edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_elderly', row_movers)">
            {% if trip.elderly %}
            <span class="oi oi-check"></span>
            {% elif trip.elderly is False %}
            <span class="oi oi-x"></span>
            {% endif %}
        </td>
        <td class="mytable-col-xs edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_ambulatory', row_movers)">
            {% if trip.ambulatory %}
            <span class="oi oi-check"></span>
            {% elif trip.ambulatory is False %}
            <span class="oi oi-x"></span>
            {% endif %}
        </td>
        {% else %}
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if trip.note %}
                    <span class="oi oi-document"></span>
                    {% else %}
                    <span class="oi oi-ellipses"></span>
                    {% endif %}
                </button>
                <div class="dropdown-menu shadow dropdown-menu-right p-2">
                    <div class="list-group list-group-flush" style="width: 300px">
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Trip Type</div>
                                <div class="col-auto">
                                    {% if trip.trip_type %}
                                    {% if trip.is_medical %}
                                    <span class="badge badge-danger"><span class="oi oi-medical-cross mr-1"></span>{{trip.trip_type}}</span>
                                    {% else %}
                                    <span class="badge badge-primary">{{trip.trip_type}}</span>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Elderly?</div>
                                <div class="col-auto">
                                    {% if trip.elderly %}
                                    <span class="oi oi-check"></span>
                                    {% elif trip.elderly is False %}
                                    <span class="oi oi-x"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Ambulatory?</div>
                                <div class="col-auto">
                                    {% if trip.ambulatory %}
                                    <span class="oi oi-check"></span>
                                    {% elif trip.ambulatory is False %}
                                    <span class="oi oi-x"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1 {% if trip.note %}list-group-item-warning{% endif %}">
                            <div class="row">
                                <div class="col text-muted">Notes</div>
                                <div class="col-auto">{% if trip.note %}{{trip.note}}{% endif %}</div>
                            </div>
                        </div>
                        {% if trip.tags %}
                        <div class="list-group-item p-1">
                        {% for tag in trip.get_styled_tag_list %}
                        <span class="badge {{ tag.1 }}"><span class="oi oi-tag mr-1"></span>{{ tag.0 }}</span>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </td>
        {% endif %}
        {% endif %}
    </tr>
    <tr class="RowMover mytable-sort mytable-sort-hidden" onclick="row_mover.moveItem('{{ trip.id }}')"><td colspan="{% if show_extra_columns %}13{% else %}9{% endif %}"></td></tr>
    {% endfor %}
</table>
{% else %}
<p>No trips have been added to this template.</p>
{% endif %}
