<div class="row">
    <div class="col">
        <h3>
            <a href="{% url 'templates' %}" class="btn btn-outline-secondary btn-sm"><span class="oi oi-chevron-left"></span></a>
            Trips for {{ template.name }} template
            <span class="btn-group dropdown ajax-blocker">
                <a class="btn btn-success btn-sm" href="{% url 'template-trip-create' parent %}"><span class="oi oi-plus mr-2"></span>New</a>
                <a href="#_" class="btn btn-success btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'template-trip-create' parent %}">New Trip</a>
                    <a class="dropdown-item" href="{% url 'template-trip-create-activity' parent %}">New Activity</a>
                </div>
            </span>
        </h3>
    </div>
    <div class="col-auto">
    </div>
</div>
{% if trips %}
<table class="mytable mytable-striped">
    <thead>
        <td></td>
        <td></td>
        <td>Pick up</td>
        <td>Appt. time</td>
        <td>Name</td>
        <td>Address</td>
        <td>Phone #</td>
        <td>Destination</td>
        <td></td>
    </thead>
    {% for trip in trips %}
    <tr class="{% if trip.is_medical or trip.is_activity %}text-bold{% endif %}">
        <td class="mytable-col-arrows">
            <a id="trip_{{ trip.id }}"></a>
            <div class="btn-group-vertical">
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0 sort-arrow" onclick="ajax_loader.run('{{ trip.id }}', 'mv', 'u')"><span class="oi oi-caret-top"></span></button>
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0 sort-arrow" onclick="ajax_loader.run('{{ trip.id }}', 'mv', 'd')"><span class="oi oi-caret-bottom"></span></button>
            </div>
        </td>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu">
                    {% if trip.is_activity %}
                    <a href="{% url 'template-trip-edit-activity' trip.parent.id trip.id %}" class="dropdown-item">Edit activity</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'template-trip-delete-activity' trip.parent.id trip.id %}" class="dropdown-item text-danger">Delete activity</a>
                    {% else %}
                    <a href="{% url 'template-trip-edit' trip.parent.id trip.id %}" class="dropdown-item">Edit trip</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'template-trip-delete' trip.parent.id trip.id %}" class="dropdown-item text-danger">Delete trip</a>
                    {% endif %}
                </div>
            </div>
        </td>
        {% if trip.is_activity %}
        <td colspan=2 class="text-center">
            {% if trip.pick_up_time and trip.appointment_time %}
            {{ trip.pick_up_time }} - {{ trip.appointment_time }}
            {% elif trip.pick_up_time %}
            {{ trip.pick_up_time }}
            {% elif trip.appointment_time %}
            {{ trip.appointment_time }}
            {% endif %}
        </td>
        <td colspan=5 class="text-center">{{ trip.note }}</td>
        {% else %}
        <td class="mytable-col-sm">{{ trip.pick_up_time }}</td>
        <td class="mytable-col-sm">{{ trip.appointment_time }}</td>
        <td class="mytable-col-md">{{ trip.name }}</td>
        <td class="mytable-col-lg">{{ trip.address }}</td>
        <td class="mytable-col-md" style="white-space: nowrap;">
            {% if trip.phone_home and trip.phone_cell %}
            {{ trip.phone_home }}<br/>{{ trip.phone_cell }}
            {% elif not trip.phone_home and trip.phone_cell %}
            {{ trip.phone_cell }}
            {% elif trip.phone_home and not trip.phone_cell %}
            {{ trip.phone_home }}
            {% endif %}
        </td>
        <td class="mytable-col-lg">{{ trip.destination }}</td>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if trip.note %}
                    <span class="oi oi-document"></span>
                    {% else %}
                    <span class="oi oi-ellipses"></span>
                    {% endif %}
                </button>
                <div class="dropdown-menu dropdown-menu-right p-2">
                    <div class="list-group list-group-flush" style="width: 300px">
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Trip Type</div>
                                <div class="col-auto">
                                    {% if trip.trip_type %}
                                    {% if trip.is_medical %}
                                    <span class="badge badge-danger"><span class="oi oi-medical-cross mr-1"></span>{{trip.trip_type}}</span>
                                    {% else %}
                                    <span class="badge badge-primary">{{trip.trip_type}}</span>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Elderly?</div>
                                <div class="col-auto">
                                    {% if trip.elderly %}
                                    <span class="oi oi-check"></span>
                                    {% elif trip.elderly is False %}
                                    <span class="oi oi-x"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Ambulatory?</div>
                                <div class="col-auto">
                                    {% if trip.ambulatory %}
                                    <span class="oi oi-check"></span>
                                    {% elif trip.ambulatory is False %}
                                    <span class="oi oi-x"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1 {% if trip.note %}list-group-item-warning{% endif %}">
                            <div class="row">
                                <div class="col text-muted">Notes</div>
                                <div class="col-auto">{% if trip.note %}{{trip.note}}{% endif %}</div>
                            </div>
                        </div>
                        {% if trip.tags %}
                        <div class="list-group-item p-1">
                        {% for tag in trip.get_tag_list %}
                        <span class="badge badge-info"><span class="oi oi-tag mr-1"></span>{{tag}}</span>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}
