<div class="row">
    <div class="col">
        <h3>
            <a href="{% url 'templates' %}" class="btn btn-outline-secondary btn-sm"><span class="oi oi-chevron-left"></span></a>
            Trips for {{ template.name }} template
            <span class="dropdown ajax-blocker">
                <a href="#_" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-plus mr-2"></span>New
                </a>
                <div class="dropdown-menu shadow dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'template-trip-create' parent %}"><span class="oi oi-document mr-2"></span>New Trip</a>
                    <a class="dropdown-item" href="{% url 'template-trip-create-activity' parent %}"><span class="oi oi-star mr-2"></span>New Activity</a>
                </div>
            </span>
        </h3>
    </div>
    <div class="col-auto">
    </div>
</div>
{% if trips %}
<div class="container m-0 p-0 mb-1">
<a class="btn btn-outline-primary btn-sm small" href="#_" onclick="ajax_loader.run('', 'toggle_extra_columns', '')">
{% if show_extra_columns %}
<span class="oi oi-collapse-left mr-2"></span>Hide extra columns
{% else %}
<span class="oi oi-collapse-right mr-2"></span>Show extra columns
{% endif %}
</a>
</div>

<table class="mytable mytable-striped-sort">
    <thead>
        <td></td>
        <td></td>
        <td>Pick up</td>
        <td>Appt. time</td>
        <td>Name</td>
        <td>Address</td>
        <td>Phone #</td>
        <td>Destination</td>
        <td>Driver</td>
        <td>Vehicle</td>
        <td>Notes</td>
        {% if show_extra_columns %}
        <td>Reminder Instructions</td>
        <td>Trip Type</td>
        <td>Tags</td>
        <td>Passenger on vehicle?</td>
        <td>Fare</td>
        <td>Elderly?</td>
        <td>Ambulatory?</td>
        {% else %}
        <td></td>
        {% endif %}
    </thead>
    {% for trip in trips %}
    {% if trip.sort_index == 0 %}
    <tr class="RowMover mytable-sort mytable-sort-hidden" onclick="row_mover.moveItem('')"><td colspan="{% if show_extra_columns %}18{% else %}12{% endif %}"></td></tr>
    {% endif %}
    <tr style="{{ trip.get_driver_style }}" class="{% if trip.appointment_time or trip.format != Trip.FORMAT_NORMAL %}text-bold{% endif %}">
        <td class="mytable-col-arrows">
            <button class="btn btn-outline-dark btn-sm btn-row-mover" onclick="row_mover.toggle(this, '{{ trip.id }}')"><span class="oi oi-resize-height"></span></button>
        </td>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button id="trip_{{ trip.id }}" class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu shadow">
                    {% if trip.format == Trip.FORMAT_ACTIVITY %}
                    <a href="{% url 'template-trip-edit-activity' trip.parent.id trip.id %}" class="dropdown-item"><span class="oi oi-pencil mr-2"></span>Edit activity</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'template-trip-copy' trip.parent.id trip.id %}" class="dropdown-item"><span class="oi oi-clipboard mr-2"></span>Copy activity</a>
                    <div class="dropdown-divider"></div>
                    {% if trip.status > 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '0')" class="dropdown-item"><span class="oi oi-reload mr-2"></span>Reset Status</a>{% endif %}
                    {% if trip.status == 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '1')" class="dropdown-item"><span class="oi oi-circle-x mr-2"></span>Set as canceled</a>{% endif %}
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'template-trip-delete-activity' trip.parent.id trip.id %}" class="dropdown-item text-danger"><span class="oi oi-delete mr-2"></span>Delete activity</a>
                    {% else %}
                    <a href="{% url 'template-trip-edit' trip.parent.id trip.id %}" class="dropdown-item"><span class="oi oi-pencil mr-2"></span>Edit trip</a>
                    <div class="dropdown-divider"></div>
                    {% if trip.status > 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '0')" class="dropdown-item"><span class="oi oi-reload mr-2"></span>Reset Status</a>{% endif %}
                    {% if trip.status == 0 %}<a href="#_" onclick="ajax_loader.run('{{ trip.id }}', 'toggle_canceled', '1')" class="dropdown-item"><span class="oi oi-circle-x mr-2"></span>Set as canceled</a>{% endif %}
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'template-trip-copy' trip.parent.id trip.id %}" class="dropdown-item"><span class="oi oi-clipboard mr-2"></span>Copy Trip</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'client-create-from-template-trip' trip.id %}" class="dropdown-item"><span class="oi oi-person mr-2"></span>Create Client</a>
                    {% if trip.address and trip.destination %}
                    <a href="" data-toggle="modal" data-target="#modal_create_dest_{{trip.id}}" class="dropdown-item"><span class="oi oi-pin mr-2"></span>Create/Edit Destination</a>
                    {% elif trip.address %}
                    <a href="{% url 'destination-create-from-template-trip' trip.id 1 %}" class="dropdown-item"><span class="oi oi-pin mr-2"></span>Create/Edit Destination</a>
                    {% elif trip.destination %}
                    <a href="{% url 'destination-create-from-template-trip' trip.id 0 %}" class="dropdown-item"><span class="oi oi-pin mr-2"></span>Create/Edit Destination</a>
                    {% endif %}
                    <a href="{% url 'template-trip-create-return' trip.parent.id trip.id %}" class="dropdown-item"><span class="oi oi-loop mr-2"></span>Create Return Trip</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'template-trip-delete' trip.parent.id trip.id %}" class="dropdown-item text-danger"><span class="oi oi-delete mr-2"></span>Delete trip</a>
                    {% endif %}
                </div>
            </div>
            {% if trip.address and trip.destination %}
            <!-- Create/Edit Destination Modal -->
            <div class="modal ajax-blocker" id="modal_create_dest_{{trip.id}}" tabindex="-1" role="dialog" aria-labelledby="modal_create_dest_title_{{trip.id}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_create_dest_title_{{trip.id}">Select a Destination to create/edit</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="list-group text-left">
                                <a class="list-group-item" href="{% url 'destination-create-from-template-trip' trip.id 1 %}">
                                    {{trip.address}}
                                    {% if trip.phone_address %}
                                    <br/>{{trip.phone_address}}
                                    {% endif %}
                                </a>
                                <a class="list-group-item" href="{% url 'destination-create-from-template-trip' trip.id 0 %}">
                                    {{trip.destination}}
                                    {% if trip.phone_destination %}
                                    <br/>{{trip.phone_destination}}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </td>
        {% if trip.format == Trip.FORMAT_ACTIVITY %}
        <td colspan=2 class="text-center edit_cell" onclick="editCell('{% url 'template-trip-edit-activity' trip.parent.id trip.id %}?focus=id_start_time', row_movers)">
            {% if trip.pick_up_time and trip.appointment_time %}
            {{ trip.pick_up_time }} - {{ trip.appointment_time }}
            {% elif trip.pick_up_time %}
            {{ trip.pick_up_time }}
            {% elif trip.appointment_time %}
            {{ trip.appointment_time }}
            {% endif %}
        </td>
        <td colspan="{% if show_extra_columns %}14{% else %}8{% endif %}" class="text-left edit_cell" onclick="editCell('{% url 'template-trip-edit-activity' trip.parent.id trip.id %}?focus=id_description', row_movers)">
            {% if trip.driver %}
                {% if trip.passenger %}
                <span class="badge badge-light text-success mr-1"><span class="oi oi-person"></span></span>
                {% else %}
                <span class="badge badge-light text-danger mr-1"><span class="oi oi-person"></span></span>
                {% endif %}
            {% endif %}
            {{ trip.note }}
        </td>
        {% else %}
        <td class="mytable-col-sm edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_pick_up_time', row_movers)">
            {{ trip.pick_up_time }}
        </td>
        <td class="mytable-col-sm edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_appointment_time', row_movers)">
            {{ trip.appointment_time }}
        </td>
        <td class="mytable-col-md edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_name', row_movers)">
            {{ trip.name }}
        </td>
        <td class="mytable-col-lg edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_address', row_movers)">
            {{ trip.address }}
            {% if trip.phone_address and trip.address %}<br/>Phone #: {{ trip.phone_address }}{% endif %}
        </td>
        <td class="mytable-col-md edit_cell" style="white-space: nowrap;" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus={{ trip.get_form_phone_focus }}', row_movers)">
            {{ trip.phone_home }}
            {% if trip.phone_home and trip.phone_cell %}<br/>{% endif %}
            {{ trip.phone_cell }}
            {% if trip.phone_home or trip.phone_cell %}<br/>{% endif %}
            {{ trip.phone_alt }}
        </td>
        <td class="mytable-col-lg edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_destination', row_movers)">
            {{ trip.destination }}
            {% if trip.phone_destination and trip.destination %}<br/>Phone #: {{ trip.phone_destination }}{% endif %}
        </td>
        <td class="mytable-col-md edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_driver', row_movers)">
            {% if trip.driver %}
            {{ trip.driver }}
            {% endif %}
        </td>
        <td class="mytable-col-md edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_vehicle', row_movers)">
            {% if trip.vehicle %}
            {{ trip.vehicle }}
            {% endif %}
        </td>
        <td class="mytable-col-lg edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_notes', row_movers)">
            {{ trip.note }}
        </td>
        {% if show_extra_columns %}
        <td class="mytable-col-md edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_reminder_instructions', row_movers)">
            {{ trip.reminder_instructions }}
        </td>
        <td class="mytable-col-md edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_trip_type', row_movers)">
            {% if trip.trip_type %}
            {% if trip.is_medical %}
            <span class="badge badge-danger"><span class="oi oi-medical-cross mr-1"></span>{{trip.trip_type}}</span>
            {% else %}
            <span class="badge badge-primary"><span class="oi oi-bookmark mr-1"></span>{{trip.trip_type}}</span>
            {% endif %}
            {% endif %}
        </td>
        <td class="mytable-col-md edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=tag_list', row_movers)">
            {% if trip.status > 0 %}
                {% if trip.status == 1 %}
                <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>Canceled</span>
                {% endif %}
            {% endif %}
            {% if trip.tags %}
                {% for tag in trip.get_styled_tag_list %}
                <span class="badge {{ tag.1 }}"><span class="oi oi-tag mr-1"></span>{{ tag.0 }}</span>
                {% endfor %}
            {% endif %}
        </td>
        <td class="mytable-col-sm edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_passenger', row_movers)">
            {% if trip.passenger %}
            <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
            {% elif trip.passenger is False %}
            <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_fare', row_movers)">
            {% if trip.fare > 0 %}
            ${{ trip.get_fare_str }}
            {% endif %}
        </td>
        <td class="mytable-col-xs edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_elderly', row_movers)">
            {% if trip.elderly %}
            <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
            {% elif trip.elderly is False %}
            <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
            {% endif %}
        </td>
        <td class="mytable-col-xs edit_cell" onclick="editCell('{% url 'template-trip-edit' trip.parent.id trip.id %}?focus=id_ambulatory', row_movers)">
            {% if trip.ambulatory %}
            <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
            {% elif trip.ambulatory is False %}
            <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
            {% endif %}
        </td>
        {% else %}
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if trip.reminder_instructions %}
                    <span class="oi oi-document"></span>
                    {% endif %}
                    {% if trip.tags %}
                    <span class="oi oi-tag"></span>
                    {% endif %}
                    <span class="oi oi-ellipses"></span>
                </button>
                <div class="dropdown-menu shadow dropdown-menu-right p-2">
                    <div class="list-group list-group-flush" style="width: 300px">
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Trip Type</div>
                                <div class="col-auto">
                                    {% if trip.trip_type %}
                                    {% if trip.is_medical %}
                                    <span class="badge badge-danger"><span class="oi oi-medical-cross mr-1"></span>{{trip.trip_type}}</span>
                                    {% else %}
                                    <span class="badge badge-primary">{{trip.trip_type}}</span>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Passenger on vehicle?</div>
                                <div class="col-auto">
                                    {% if trip.passenger %}
                                    <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
                                    {% elif trip.passenger is False %}
                                    <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Elderly?</div>
                                <div class="col-auto">
                                    {% if trip.elderly %}
                                    <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
                                    {% elif trip.elderly is False %}
                                    <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Ambulatory?</div>
                                <div class="col-auto">
                                    {% if trip.ambulatory %}
                                    <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
                                    {% elif trip.ambulatory is False %}
                                    <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if trip.reminder_instructions %}
                        <div class="list-group-item p-1 list-group-item-warning">
                            <div class="row">
                                <div class="col text-muted">Reminder Instructions</div>
                                <div class="col-auto">{{trip.reminder_instructions}}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trip.fare > 0 %}
                        <div class="list-group-item p-1 list-group-item-danger">
                            <div class="row">
                                <div class="col text-muted">Fare</div>
                                <div class="col-auto">${{ trip.get_fare_str }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if trip.status > 0 %}
                        <div class="list-group-item p-1">
                            {% if trip.status == 1 %}
                            <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>Canceled</span>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if trip.tags %}
                        <div class="list-group-item p-1">
                        {% for tag in trip.get_styled_tag_list %}
                        <span class="badge {{ tag.1 }}"><span class="oi oi-tag mr-1"></span>{{ tag.0 }}</span>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </td>
        {% endif %}
        {% endif %}
    </tr>
    <tr class="RowMover mytable-sort mytable-sort-hidden" onclick="row_mover.moveItem('{{ trip.id }}')"><td colspan="{% if show_extra_columns %}18{% else %}12{% endif %}"></td></tr>
    {% endfor %}
</table>
<script type="text/javascript">
    var row_movers = [];
    {% if trips %}
    var row_mover = new RowMover("RowMover", ajax_loader);
    row_movers.push(row_mover);
    {% endif %}

    setEditButtonStyleFromHash('#trip_', window.location.hash);
</script>
{% else %}
<p>No trips have been added to this template.</p>
{% endif %}
