<div class="container ml-0">
    <div class="row">
        <div class="col p-0">
            <h3>Clients <a class="btn btn-success btn-sm" href="{% url 'client-create' %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
        </div>
        <div class="col-auto p-0">
            <a class="btn btn-primary" href="{% url 'client-xlsx' %}"><span class="oi oi-data-transfer-download mr-2"></span>Download as Excel</a>
        </div>
    </div>
</div>
<div class="container ml-0 border p-2 mb-3" style="background: #eee;">
    <div class="row">
        <div class="col">
            <h5>Filter{% if filtered_count < unfiltered_count %} ({{filtered_count}}/{{unfiltered_count}} visible){% endif %}</h5>
        </div>
        {% if is_filtered %}
        <div class="col-auto">
            <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_reset', '')"><span class="oi oi-delete mr-2"></span>Reset Filter</button>
        </div>
        {% endif %}
    </div>
    <div class="mt-2">
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_elderly == 1 %}Elderly{% elif filter_elderly == 2 %}Non-Elderly{% else %}---------{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item {% if filter_elderly == 0 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_elderly', '0')">---------</a>
                <a class="dropdown-item {% if filter_elderly == 1 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_elderly', '1')">Elderly</a>
                <a class="dropdown-item {% if filter_elderly == 2 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_elderly', '2')">Non-Elderly</a>
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_ambulatory == 1 %}Ambulatory{% elif filter_ambulatory == 2 %}Non-Ambulatory{% else %}---------{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item {% if filter_ambulatory == 0 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_ambulatory', '0')">---------</a>
                <a class="dropdown-item {% if filter_ambulatory == 1 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_ambulatory', '1')">Ambulatory</a>
                <a class="dropdown-item {% if filter_ambulatory == 2 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_ambulatory', '2')">Non-Ambulatory</a>
            </div>
        </span>
    </div>
    <div class="mt-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modal_filter_search">
                <span class="oi oi-magnifying-glass mr-2"></span>Search
            </button>

            <!-- Modal -->
            <div class="modal ajax-blocker" id="modal_filter_search" tabindex="-1" role="dialog" aria-labelledby="modal_filter_search_title" aria-hidden="true">
                <div class="modal-dialog modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_filter_search_title">Filter clients by name/address</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="filter_search_form">
                            <div class="modal-body">
                                <input id="filter_search" type="text" class="form-control" placeholder="Enter search terms"></input>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">
                                    <span class="oi oi-magnifying-glass mr-2"></span>Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#filter_search_form').on('submit', function(e){
                    e.preventDefault();
                    $('#modal_filter_search').modal('hide');
                    ajax_loader.run('', 'filter_search', $('#filter_search').val());
                });
                $('#modal_filter_search').on('show.bs.modal', function(){
                    $('#filter_search').val('{{filter_search}}');
                });
                $('#modal_filter_search').on('shown.bs.modal', function(){ 
                    $('#filter_search').focus();
                    $('#filter_search').select();
                });
            </script>
    {% if filter_search %}
    <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_search', '')"><span class="oi oi-delete mr-2"></span>Remove filter: <strong>{{ filter_search }}</strong></button>
    {% endif %}
    </div>
</div>
{% if clients %}
<a class="small" href="#_" onclick="ajax_loader.run('', 'toggle_extra_columns', '')">
{% if show_extra_columns %}
Hide extra columns
{% else %}
Show extra columns
{% endif %}
</a>
<table class="mytable mytable-striped">
    <thead>
        <td></td>
        <td>
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '0')">
                Name
                {% if sort_mode == 0 %}<span class="oi oi-sort-ascending"></span>{% endif %}
            </a>
        </td>
        <td>
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '1')">
                Address
                {% if sort_mode == 1 %}<span class="oi oi-sort-ascending"></span>{% endif %}
            </a>
        </td>
        <td>
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '2')">
                Phone (Home)
                {% if sort_mode == 2 %}<span class="oi oi-sort-ascending"></span>{% endif %}
            </a>
        </td>
        <td>
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '3')">
                Phone (Cell)
                {% if sort_mode == 3 %}<span class="oi oi-sort-ascending"></span>{% endif %}
            </a>
        </td>
        {% if show_extra_columns %}
        <td>
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '4')">
                Elderly?
                {% if sort_mode == 4 %}<span class="oi oi-sort-ascending"></span>{% endif %}
            </a>
        </td>
        <td>
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '5')">
                Ambulatory?
                {% if sort_mode == 5 %}<span class="oi oi-sort-ascending"></span>{% endif %}
            </a>
        </td>
        <td>
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '6')">
                Tags
                {% if sort_mode == 6 %}<span class="oi oi-sort-ascending"></span>{% endif %}
            </a>
        </td>
        {% else %}
        <td></td>
        {% endif %}
    </thead>
    {% for client in clients %}
    <tr>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button id="client_{{ client.id }}" class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu shadow">
                    <a href="{% url 'client-edit' client.id %}" class="dropdown-item"><span class="oi oi-pencil mr-2"></span>Edit client</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'trip-create-from-client' 'edit' client.id %}" class="dropdown-item"><span class="oi oi-document mr-2"></span>Create trip from client</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'client-payments' client.id %}" class="dropdown-item"><span class="oi oi-dollar mr-2"></span>View Payments</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'client-delete' client.id %}" class="dropdown-item text-danger"><span class="oi oi-delete mr-2"></span>Delete client</a>
                </div>
            </div>
        </td>
        <td class="mytable-col-lg">{{ client.name }}</td>
        <td class="mytable-col-lg">{{ client.address }}</td>
        <td class="mytable-col-md">{{ client.phone_home }}</td>
        <td class="mytable-col-md">{{ client.phone_cell }}</td>
        {% if show_extra_columns %}
        <td class="mytable-col-xs">
            {% if client.elderly %}
            <span class="oi oi-check"></span>
            {% elif client.elderly is False %}
            <span class="oi oi-x"></span>
            {% endif %}
        </td>
        <td class="mytable-col-xs">
            {% if client.ambulatory %}
            <span class="oi oi-check"></span>
            {% elif client.ambulatory is False %}
            <span class="oi oi-x"></span>
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if client.tags %}
            {% for tag in client.get_styled_tag_list %}
            <span class="badge {{ tag.1 }}"><span class="oi oi-tag mr-1"></span>{{ tag.0 }}</span>
            {% endfor %}
            {% endif %}
        </td>
        {% else %}
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if client.tags %}
                    <span class="oi oi-tag"></span>
                    {% else %}
                    <span class="oi oi-ellipses"></span>
                    {% endif %}
                </button>
                <div class="dropdown-menu shadow dropdown-menu-right p-2">
                    <div class="list-group list-group-flush" style="width: 300px">
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Elderly?</div>
                                <div class="col-auto">
                                    {% if client.elderly %}
                                    <span class="oi oi-check"></span>
                                    {% elif client.elderly is False %}
                                    <span class="oi oi-x"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Ambulatory?</div>
                                <div class="col-auto">
                                    {% if client.ambulatory %}
                                    <span class="oi oi-check"></span>
                                    {% elif client.ambulatory is False %}
                                    <span class="oi oi-x"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if client.tags %}
                        <div class="list-group-item p-1">
                        {% for tag in client.get_styled_tag_list %}
                        <span class="badge {{ tag.1 }}"><span class="oi oi-tag mr-1"></span>{{ tag.0 }}</span>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<script type="text/javascript">
    var hash = window.location.hash;
    if (hash != "") {
        if (hash.startsWith('#client_')) {
            setEditButtonStyleFromHash(hash);
        }
    }
</script>
{% else %}
<p>There are no clients. {% if filtered_count < unfiltered_count %}Try <a href="#_" onclick="ajax_loader.run('', 'filter_reset', '')">resetting the filter</a> to view all clients.{% endif %}</p>
{% endif %}
