<div class="container ml-0">
    <div class="row">
        <div class="col p-0">
            <h3>Clients <a class="btn btn-success btn-sm" href="{% url 'client-create' %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
        </div>
        <div class="col-auto p-0">
            <a class="btn btn-primary" href="{% url 'client-xlsx' %}"><span class="oi oi-data-transfer-download mr-2"></span>Download as Excel</a>
        </div>
    </div>
</div>
<div class="container ml-0 border p-2 mb-3" style="background: #eee;">
    <div class="row">
        <div class="col">
            <h5>Filter{% if filtered_count < unfiltered_count %} ({{filtered_count}}/{{unfiltered_count}} visible){% endif %}</h5>
        </div>
        {% if is_filtered %}
        <div class="col-auto">
            <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_reset', '')"><span class="oi oi-delete mr-2"></span>Reset Filter</button>
        </div>
        {% endif %}
    </div>
    <div class="mt-2">
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_elderly == 1 %}Elderly
                {% elif filter_elderly == 2 %}Non-Elderly
                {% elif filter_elderly == 3 %}Unknown
                {% else %}All Ages
                {% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item {% if filter_elderly == 0 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_elderly', '0')">All Ages</a>
                <a class="dropdown-item {% if filter_elderly == 1 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_elderly', '1')">Elderly</a>
                <a class="dropdown-item {% if filter_elderly == 2 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_elderly', '2')">Non-Elderly</a>
                <a class="dropdown-item {% if filter_elderly == 3 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_elderly', '3')">Unknown</a>
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_ambulatory == 1 %}Ambulatory
                {% elif filter_ambulatory == 2 %}Non-Ambulatory
                {% elif filter_ambulatory == 3 %}Unknown
                {% else %}All Mobilities
                {% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item {% if filter_ambulatory == 0 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_ambulatory', '0')">All Mobilities</a>
                <a class="dropdown-item {% if filter_ambulatory == 1 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_ambulatory', '1')">Ambulatory</a>
                <a class="dropdown-item {% if filter_ambulatory == 2 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_ambulatory', '2')">Non-Ambulatory</a>
                <a class="dropdown-item {% if filter_ambulatory == 3 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_ambulatory', '3')">Unknown</a>
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_staff == 1 %}Staff{% elif filter_staff == 2 %}Non-Staff{% else %}Staff &amp; Non-Staff{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item {% if filter_staff == 0 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_staff', '0')">Staff &amp; Non-Staff</a>
                <a class="dropdown-item {% if filter_staff == 1 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_staff', '1')">Staff</a>
                <a class="dropdown-item {% if filter_staff == 2 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_staff', '2')">Non-Staff</a>
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_active == 1 %}Active{% elif filter_active == 2 %}Non-Active{% else %}All Statuses{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item {% if filter_active == 0 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_active', '0')">All Statuses</a>
                <a class="dropdown-item {% if filter_active == 1 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_active', '1')">Active</a>
                <a class="dropdown-item {% if filter_active == 2 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_active', '2')">Non-Active</a>
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_transit_policy == 1 %}Transit Policy: Acknowledged{% elif filter_transit_policy == 2 %}Transit Policy: Not Acknowledged{% else %}Transit Policy: All{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item {% if filter_transit_policy == 0 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_transit_policy', '0')">Transit Policy: All</a>
                <a class="dropdown-item {% if filter_transit_policy == 1 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_transit_policy', '1')">Transit Policy: Acknowledged</a>
                <a class="dropdown-item {% if filter_transit_policy == 2 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_transit_policy', '2')">Transit Policy: Not Acknowledged</a>
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_usage_style == 1 %}Usage Style: Regular{% elif filter_usage_style == 2 %}Usage Style: Field Trips{% else %}Usage Style: All{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item {% if filter_usage_style == 0 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_usage_style', '0')">Usage Style: All</a>
                <a class="dropdown-item {% if filter_usage_style == 1 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_usage_style', '1')">Usage Style: Regular</a>
                <a class="dropdown-item {% if filter_usage_style == 2 %}active{% endif %}" href="#_" onclick="ajax_loader.run('', 'filter_usage_style', '2')">Usage Style: Field Trips</a>
            </div>
        </span>
    </div>
    <div class="mt-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modal_filter_search">
                <span class="oi oi-magnifying-glass mr-2"></span>Search
            </button>

            <!-- Modal -->
            <div class="modal ajax-blocker" id="modal_filter_search" tabindex="-1" role="dialog" aria-labelledby="modal_filter_search_title" aria-hidden="true">
                <div class="modal-dialog modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_filter_search_title">Filter clients by name/address/etc.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="filter_search_form">
                            <div class="modal-body">
                                <input id="filter_search" type="text" class="form-control" placeholder="Enter search terms"></input>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">
                                    <span class="oi oi-magnifying-glass mr-2"></span>Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    {% if filter_search %}
    <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_search', '')"><span class="oi oi-delete mr-2"></span>Remove filter: <strong>{{ filter_search }}</strong></button>
    {% endif %}
    </div>
</div>
{% if clients %}
<div class="container m-0 p-0 mb-1">
<a class="btn btn-outline-primary btn-sm small" href="#_" onclick="ajax_loader.run('', 'toggle_extra_columns', '')">
{% if show_extra_columns %}
<span class="oi oi-collapse-left mr-2"></span>Hide extra columns
{% else %}
<span class="oi oi-collapse-right mr-2"></span>Show extra columns
{% endif %}
</a>
</div>

<table class="mytable mytable-striped">
    <thead>
        <td></td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '0')">
                {% if sort_mode == 0 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Name
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '1')">
                {% if sort_mode == 1 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Address
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '2')">
                {% if sort_mode == 2 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Phone (Home)
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '3')">
                {% if sort_mode == 3 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Phone (Cell)
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '4')">
                {% if sort_mode == 4 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Phone (Alternate)
            </a>
        </td>
        {% if show_extra_columns %}
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '5')">
                {% if sort_mode == 5 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Elderly?
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '6')">
                {% if sort_mode == 6 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Ambulatory?
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '7')">
                {% if sort_mode == 7 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Tags
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '8')">
                {% if sort_mode == 8 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Is active?
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '9')">
                {% if sort_mode == 9 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Transit Policy Acknowledged?
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '10')">
                {% if sort_mode == 10 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Usage Style
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '11')">
                {% if sort_mode == 11 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Reminder Instructions
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '12')">
                {% if sort_mode == 12 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Trip Creation Notes
            </a>
        </td>
        {% else %}
        <td></td>
        {% endif %}
    </thead>
    {% for client in clients %}
    <tr>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button id="client_{{ client.id }}" class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu shadow">
                    <a href="{% url 'client-edit' client.id %}" class="dropdown-item"><span class="oi oi-pencil mr-2"></span>Edit client</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'search' %}?name={{client.name|urlencode}}" class="dropdown-item" target="_blank"><span class="oi oi-magnifying-glass mr-2"></span>Search for trips</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'trip-create-from-client' 'edit' client.id %}" class="dropdown-item"><span class="oi oi-document mr-2"></span>Create trip from client</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'client-payments' client.id %}" class="dropdown-item"><span class="oi oi-dollar mr-2"></span>View Payments</a>
                    <a href="{% url 'client-report-this-month' client.id %}" class="dropdown-item"><span class="oi oi-graph mr-2"></span>View Report</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'client-delete' client.id %}" class="dropdown-item text-danger"><span class="oi oi-delete mr-2"></span>Delete client</a>
                </div>
            </div>
        </td>
        <td class="mytable-col-lg">{{ client.name }}{% if client.staff %}<span class="badge badge-secondary ml-1">Staff</span>{% endif %}</td>
        <td class="mytable-col-lg">{{ client.address }}</td>
        <td class="mytable-col-md">{{ client.phone_home }}</td>
        <td class="mytable-col-md">{{ client.phone_cell }}</td>
        <td class="mytable-col-md">{{ client.phone_alt }}</td>
        {% if show_extra_columns %}
        <td class="mytable-col-xs">
            {% if client.elderly %}
            <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
            {% elif client.elderly is False %}
            <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
            {% endif %}
        </td>
        <td class="mytable-col-xs">
            {% if client.ambulatory %}
            <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
            {% elif client.ambulatory is False %}
            <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if client.tags %}
            {% for tag in client.get_styled_tag_list %}
            <span class="badge {{ tag.1 }}"><span class="oi oi-tag mr-1"></span>{{ tag.0 }}</span>
            {% endfor %}
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if client.is_active %}
            <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
            {% elif client.is_active is False %}
            <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
            {% endif %}
        </td>
        <td class="text-center">
            {% if client.is_transit_policy_acknowledged %}
            <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
            {% elif client.is_transit_policy_acknowledged is False %}
            <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
            {% endif %}
        </td>
        <td class="text-center">
            {{ client.get_usage_style_str }}
        </td>
        <td class="mytable-col-lg">
            {{ client.reminder_instructions }}
        </td>
        <td class="mytable-col-lg">
            {{ client.trip_creation_notes }}
        </td>
        {% else %}
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm w-100 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if client.is_transit_policy_acknowledged %}
                    <span class="oi oi-thumb-up"></span>
                    {% endif %}
                    {% if client.tags %}
                    <span class="oi oi-tag"></span>
                    {% else %}
                    <span class="oi oi-ellipses"></span>
                    {% endif %}
                </button>
                <div class="dropdown-menu shadow dropdown-menu-right p-2">
                    <div class="list-group list-group-flush" style="width: 300px">
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Elderly?</div>
                                <div class="col-auto">
                                    {% if client.elderly %}
                                    <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
                                    {% elif client.elderly is False %}
                                    <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Ambulatory?</div>
                                <div class="col-auto">
                                    {% if client.ambulatory %}
                                    <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
                                    {% elif client.ambulatory is False %}
                                    <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if client.tags %}
                        <div class="list-group-item p-1">
                        {% for tag in client.get_styled_tag_list %}
                        <span class="badge {{ tag.1 }}"><span class="oi oi-tag mr-1"></span>{{ tag.0 }}</span>
                        {% endfor %}
                        </div>
                        {% endif %}
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted">Is active?</div>
                                <div class="col-auto">
                                    {% if client.is_active %}
                                    <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
                                    {% elif client.is_active is False %}
                                    <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item p-1">
                            <div class="row">
                                <div class="col text-muted"><span class="oi oi-thumb-up mr-1"></span>Transit Policy Acknowledged?</div>
                                <div class="col-auto">
                                    {% if client.is_transit_policy_acknowledged %}
                                    <span class="alert alert-success p-0 pl-1 pr-1"><span class="oi oi-check"></span></span>
                                    {% elif client.is_transit_policy_acknowledged is False %}
                                    <span class="alert alert-danger p-0 pl-1 pr-1"><span class="oi oi-x"></span></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if client.reminder_instructions %}
                        <div class="list-group-item p-1 list-group-item-warning">
                            <div class="row">
                                <div class="col text-muted">Reminder Instructions</div>
                                <div class="col-auto">{{ client.reminder_instructions }}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if client.trip_creation_notes %}
                        <div class="list-group-item p-1 list-group-item-warning">
                            <div class="row">
                                <div class="col text-muted">Trip Creation Notes</div>
                                <div class="col-auto">{{ client.trip_creation_notes }}</div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% if clients.paginator.num_pages > 1 %}
<nav class="mt-2">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{% if clients.has_previous %}?page={{ clients.previous_page_number }}{% endif %}">&laquo;</a></li>
        {% for page in clients.paginator.page_range %}
        {% if page > client_page_ranges.page_start and page <= client_page_ranges.page_end %}
        <li class="page-item {% if clients.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="page-item"><a class="page-link" href="{% if clients.has_next %}?page={{ clients.next_page_number }}{% endif %}">&raquo;</a></li>
    </ul>
</nav>
{% endif %}
<p>Showing results {{ client_page_ranges.item_count_start }}-{{ client_page_ranges.item_count_end }} of {{ clients.paginator.count }}</p>
<script type="text/javascript">
    setEditButtonStyleFromHash('#client_', window.location.hash);
</script>
{% else %}
<p>There are no clients. {% if filtered_count < unfiltered_count %}Try <a href="#_" onclick="ajax_loader.run('', 'filter_reset', '')">resetting the filter</a> to view all clients.{% endif %}</p>
{% endif %}
<script type="text/javascript">
    setSearchModal('#filter_search_form', '#modal_filter_search', '#filter_search', '{{filter_search}}', function(s) { ajax_loader.run('', 'filter_search', $(s).val()); });
</script>
