<h3>Clients <a class="btn btn-secondary" href="{% url 'client-create' %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
{% if clients %}
<table class="mytable mytable-striped">
    <thead>
        <td></td>
        <td>Name</td>
        <td>Address</td>
        <td>Phone (Home)</td>
        <td>Phone (Cell)</td>
        <td>Elderly?</td>
        <td>Ambulatory?</td>
    </thead>
    {% for client in clients %}
    <tr>
        <td class="mytable-col-xs">
            <a id="client_{{ client.id }}"></a>
            <div class="dropdown" id="edit_client_{{client.id}}">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu">
                    <a href="{% url 'client-edit' client.id %}" class="dropdown-item">Edit client</a>
                    <hr/>
                    <a href="{% url 'client-delete' client.id %}" class="dropdown-item text-danger">Delete client</a>
                </div>
                <script type="text/javascript">
                    $('#edit_client_{{client.id}}').on('show.bs.dropdown', ajax_loader.stop);
                    $('#edit_client_{{client.id}}').on('hide.bs.dropdown', ajax_loader.restart);
                </script>
            </div>
        </td>
        <td class="mytable-col-lg">{{ client.name }}</td>
        <td class="mytable-col-lg">{{ client.address }}</td>
        <td class="mytable-col-md">{{ client.phone_home }}</td>
        <td class="mytable-col-md">{{ client.phone_cell }}</td>
        <td class="mytable-col-sm"><span class="oi {% if client.elderly %}oi-check{% elif client.elderly is False %}oi-x{% endif %}"></span></td>
        <td class="mytable-col-sm"><span class="oi {% if client.ambulatory %}oi-check{% elif client.ambulatory is False %}oi-x{% endif %}"></span></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
