{% extends "base_generic.html" %}

{% block auth_content %}
{% load static %}
<h2>
    {% if is_new %}
    New Client
    {% else %}
    Client Edit
    {% endif %}
</h2>
{% if is_dupe %}
<div class="alert alert-primary" role="alert">An existing client with the name '{{client.name}}' was found.</div>
{% endif %}
<form class="mb-4" action="" method="post">
    {% csrf_token %}
    <datalist id='client-names'>
        {% for name in names %}
        <option value="{{ name }}">
        {% endfor %}
    </datalist>
    <datalist id='addresses'>
        {% for address in addresses %}
        <option value="{{ address }}">
        {% endfor %}
    </datalist>
    <div class="container ml-0">
        <div class="row">
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <div class="mb-2"><label for="{{ form.name.id_for_label }}"><strong>{{ form.name.label }}</strong></label><br/>{{ form.name }}</div>
                    <div class="mb-2"><label for="{{ form.address.id_for_label }}"><strong>{{ form.address.label }}</strong></label><br/>{{ form.address }}</div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.phone_home.id_for_label }}"><strong>{{ form.phone_home.label }}</strong></label><br/>{{ form.phone_home }}</div>
                    <div class="mb-2"><label for="{{ form.phone_cell.id_for_label }}"><strong>{{ form.phone_cell.label }}</strong></label><br/>{{ form.phone_cell }}</div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.elderly.id_for_label }}"><strong>{{ form.elderly.label }}</strong></label><br/>{{ form.elderly }}</div>
                    <div class="mb-2"><label for="{{ form.ambulatory.id_for_label }}"><strong>{{ form.ambulatory.label }}</strong></label><br/>{{ form.ambulatory }}</div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.tags.id_for_label }}"><strong>{{ form.tags.label }}</strong></label><br/>{{ form.tags }}
                        {% if frequent_tags %}
                        <br/><span class="text-muted">Frequently used: </span>
                        {% for tag in frequent_tags %}
                        <span><a class="badge {{ tag.getStyle }}" href="#_" onclick="addFrequentTag('{{tag.tag}}')"><span class="oi oi-tag mr-1"></span>{{tag.tag}}</a> </span>
                        <script type="text/javascript">
                            function addFrequentTag(tag) {
                                if ($('#id_tags').val() == "") {
                                    $('#id_tags').val(tag);
                                    return;
                                }

                                var split_tags = $('#id_tags').val().split(',');
                                for (i in split_tags) {
                                    if ($.trim(split_tags[i]) == tag)
                                        return;
                                }

                                $('#id_tags').val($('#id_tags').val() + (", " + tag));
                            }
                        </script>
                        {% endfor %}
                        {% endif %}
                    </div>
                </fieldset>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-wrap mt-2">
            <div class="mr-auto mb-3">
                <button class="btn btn-success btn-lg m-2" type="submit" name="save"><span class="oi oi-check mr-2"></span>Save Changes</button>
                <button class="btn btn-secondary btn-lg m-2" type="submit" name="cancel" formnovalidate><span class="oi oi-x mr-2"></span>Cancel Changes</button>
            </div>
            {% if not is_new %}
            <div>
                <button class="btn btn-danger btn-lg m-2" type="submit" name="delete" formnovalidate><span class="oi oi-delete mr-2"></span>Delete {{client.get_class_name}}</button>
            </div>
            {% endif %}
        </div>
    </div>
</form>

{% block javascript %}
<script type="text/javascript" src="{% static 'js/validate.js' %}"></script>
{% endblock %}
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
