{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}{% if is_new %}New Client{% else %}Client Edit | {{client}}{% endif %} | {% endif %}
{% endblock %}

{% block auth_content %}
{% load static %}

<h2>
    {% if is_new %}
    New Client
    {% else %}
    Client Edit
    {% endif %}
</h2>
{% if is_dupe %}
<div class="alert alert-primary" role="alert">An existing client with the name '{{client.name}}' was found.</div>
{% endif %}
<form class="mb-4" action="" method="post" onsubmit="return checkForm(this, event);">
    {% csrf_token %}
    <datalist id='client-names'>
        {% for name in names %}
        <option value="{{ name }}">
        {% endfor %}
    </datalist>
    <datalist id='addresses'>
        {% for address in addresses %}
        <option value="{{ address }}">
        {% endfor %}
    </datalist>
    <div class="container ml-0">
        <div class="row">
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <div class="mb-2"><label for="{{ form.name.id_for_label }}"><strong>{{ form.name.label }}</strong></label><br/>{{ form.name }}</div>
                    <div class="mb-2">
                        <label for="{{ form.address.id_for_label }}">
                            <strong>{{ form.address.label }}</strong>
                        </label>
                        <div class="row">
                            <div class="col-auto">
                                {{ form.address }}
                            </div>
                            <div class="col-auto pt-2">
                                <input class="ml-4" type="checkbox" id="toggle_address" name="toggle_address">
                                <label for="toggle_address">No address</label>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger d-none" id="alert_address"><span class="oi oi-circle-x mr-2"></span>Enter an address.</div>
                    <hr/>
                    <div class="mb-2">
                        <label for="{{ form.phone_home.id_for_label }}">
                            <strong>{{ form.phone_home.label }}</strong>
                        </label>
                        <div class="row">
                            <div class="col-auto">
                                {{ form.phone_home }}
                            </div>
                            <div class="col-auto pt-2">
                                <input class="ml-4" type="checkbox" id="toggle_phone_home" name="toggle_phone_home">
                                <label for="toggle_phone_home">No home phone</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="{{ form.phone_cell.id_for_label }}">
                            <strong>{{ form.phone_cell.label }}</strong>
                        </label>
                        <div class="row">
                            <div class="col-auto">
                                {{ form.phone_cell }}
                            </div>
                            <div class="col-auto pt-2">
                                <input class="ml-4" type="checkbox" id="toggle_phone_cell" name="toggle_phone_cell">
                                <label for="toggle_phone_cell">No cell phone</label>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger d-none" id="alert_phone"><span class="oi oi-circle-x mr-2"></span>Enter a phone number.</div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.elderly.id_for_label }}"><strong>{{ form.elderly.label }}</strong></label><br/>{{ form.elderly }}</div>
                    <div class="mb-2"><label for="{{ form.ambulatory.id_for_label }}"><strong>{{ form.ambulatory.label }}</strong></label><br/>{{ form.ambulatory }}</div>
                    <div class="alert alert-warning d-none" id="alert_info"><span class="oi oi-warning mr-2"></span>If possible, select the client's elderly / ambulatory status.</div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.tags.id_for_label }}"><strong>{{ form.tags.label }}</strong></label><br/>{{ form.tags }}
                        <div id="tag_list"></div>
                    </div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.staff.id_for_label }}"><strong>{{ form.staff.label }}</strong></label><br/>{{ form.staff }}</div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.is_active.id_for_label }}"><strong>{{ form.is_active.label }}</strong><br/><span class="small text-muted">{{ form.is_active.help_text }}</span></label><br/>{{ form.is_active }}</div>
                    <hr/>
                    <div class="mb-2">
                        <label for="{{ form.update_trips.id_for_label }}"><strong>{{ form.update_trips.label }}</strong><br/><span class="small text-muted">{{ form.update_trips.help_text }}</span></label>
                        <br/>{{ form.update_trips }}<span class="alert alert-warning p-1 ml-3 small"><span class="oi oi-warning mr-2"></span>Please use this option with caution!</span>
                    </div>
                </fieldset>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-wrap mt-2">
            <div class="mr-auto mb-3">
                <button class="btn btn-success btn-lg m-2" type="submit" name="save"><span class="oi oi-check mr-2"></span>Save Changes</button>
                <button class="btn btn-secondary btn-lg m-2" type="submit" name="cancel" formnovalidate><span class="oi oi-x mr-2"></span>Cancel Changes</button>
            </div>
            {% if not is_new %}
            <div>
                <button class="btn btn-danger btn-lg m-2" type="submit" name="delete" formnovalidate><span class="oi oi-delete mr-2"></span>Delete {{client.get_class_name}}</button>
            </div>
            {% endif %}
        </div>
    </div>
</form>

<div id="tag_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please select a tag to add to this client</h5>
            </div>
            <div class="modal-body">
                <div class="list-group list-group-flush">
                    {% if tags %}
                    {% for tag in tags %}
                    <div class="list-group-item">
                        <a href="#_" class="btn btn-sm {{tag.get_button_style}} text-bold" onclick="addTag('{{tag.name}}')"><span class="oi oi-tag mr-2"></span>{{tag.name}}</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>There are no tags.</p>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <span class="oi oi-x mr-2"></span>Close
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'transit/js/validate.js' %}"></script>
<script type="text/javascript" src="{% static 'transit/js/client/edit.js' %}"></script>
<script type="text/javascript">
    setupRequiredFields(["#id_address", "#id_phone_home", "#id_phone_cell"]);

    {% if not is_new %}
    initCheckboxByField("#toggle_address", "#id_address");
    initCheckboxByField("#toggle_phone_home", "#id_phone_home");
    initCheckboxByField("#toggle_phone_cell", "#id_phone_cell");
    {% endif %}

    checkAlertAddress();
    checkAlertPhone();
    checkAlertInfo();

    setupFormEvents();

    createTagList();
</script>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
