{% extends "base_generic.html" %}

{% block auth_content %}
{% load static %}
<h2>
    {% if is_new %}
    New Client
    {% else %}
    Client Edit
    {% endif %}
</h2>
{% if is_dupe %}
<div class="alert alert-primary" role="alert">An existing client with the name '{{client.name}}' was found.</div>
{% endif %}
<form class="mb-4" action="" method="post" onsubmit="return checkForm(this, event);">
    {% csrf_token %}
    <datalist id='client-names'>
        {% for name in names %}
        <option value="{{ name }}">
        {% endfor %}
    </datalist>
    <datalist id='addresses'>
        {% for address in addresses %}
        <option value="{{ address }}">
        {% endfor %}
    </datalist>
    <div class="container ml-0">
        <div class="row">
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <div class="mb-2"><label for="{{ form.name.id_for_label }}"><strong>{{ form.name.label }}</strong></label><br/>{{ form.name }}</div>
                    <div class="mb-2">
                        <label for="{{ form.address.id_for_label }}">
                            <strong>{{ form.address.label }}</strong>
                        </label>
                        <div class="row">
                            <div class="col-auto">
                                {{ form.address }}
                            </div>
                            <div class="col-auto pt-2">
                                <input class="ml-4" type="checkbox" id="toggle_address" name="toggle_address">
                                <label for="toggle_address">No address</label>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger d-none" id="alert_address"><span class="oi oi-circle-x mr-2"></span>Enter an address.</div>
                    <hr/>
                    <div class="mb-2">
                        <label for="{{ form.phone_home.id_for_label }}">
                            <strong>{{ form.phone_home.label }}</strong>
                        </label>
                        <div class="row">
                            <div class="col-auto">
                                {{ form.phone_home }}
                            </div>
                            <div class="col-auto pt-2">
                                <input class="ml-4" type="checkbox" id="toggle_phone_home" name="toggle_phone_home">
                                <label for="toggle_phone_home">No home phone</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="{{ form.phone_cell.id_for_label }}">
                            <strong>{{ form.phone_cell.label }}</strong>
                        </label>
                        <div class="row">
                            <div class="col-auto">
                                {{ form.phone_cell }}
                            </div>
                            <div class="col-auto pt-2">
                                <input class="ml-4" type="checkbox" id="toggle_phone_cell" name="toggle_phone_cell">
                                <label for="toggle_phone_cell">No cell phone</label>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger d-none" id="alert_phone"><span class="oi oi-circle-x mr-2"></span>Enter a phone number.</div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.elderly.id_for_label }}"><strong>{{ form.elderly.label }}</strong></label><br/>{{ form.elderly }}</div>
                    <div class="mb-2"><label for="{{ form.ambulatory.id_for_label }}"><strong>{{ form.ambulatory.label }}</strong></label><br/>{{ form.ambulatory }}</div>
                    <div class="alert alert-warning d-none" id="alert_info"><span class="oi oi-warning mr-2"></span>If possible, select the client's elderly / ambulatory status.</div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.tags.id_for_label }}"><strong>{{ form.tags.label }}</strong></label><br/>{{ form.tags }}
                        {% if frequent_tags %}
                        <br/><span class="text-muted">Frequently used: </span>
                        {% for tag in frequent_tags %}
                        <span><a class="badge {{ tag.getStyle }}" href="#_" onclick="addFrequentTag('{{tag.tag}}')"><span class="oi oi-tag mr-1"></span>{{tag.tag}}</a> </span>
                        <script type="text/javascript">
                            function addFrequentTag(tag) {
                                if ($('#id_tags').val() == "") {
                                    $('#id_tags').val(tag);
                                    return;
                                }

                                var split_tags = $('#id_tags').val().split(',');
                                for (i in split_tags) {
                                    if ($.trim(split_tags[i]) == tag)
                                        return;
                                }

                                $('#id_tags').val($('#id_tags').val() + (", " + tag));
                            }
                        </script>
                        {% endfor %}
                        {% endif %}
                    </div>
                </fieldset>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-wrap mt-2">
            <div class="mr-auto mb-3">
                <button class="btn btn-success btn-lg m-2" type="submit" name="save"><span class="oi oi-check mr-2"></span>Save Changes</button>
                <button class="btn btn-secondary btn-lg m-2" type="submit" name="cancel" formnovalidate><span class="oi oi-x mr-2"></span>Cancel Changes</button>
            </div>
            {% if not is_new %}
            <div>
                <button class="btn btn-danger btn-lg m-2" type="submit" name="delete" formnovalidate><span class="oi oi-delete mr-2"></span>Delete {{client.get_class_name}}</button>
            </div>
            {% endif %}
        </div>
    </div>
</form>

{% block javascript %}
<script type="text/javascript" src="{% static 'js/validate.js' %}"></script>
<script type="text/javascript">
    function initField(cb, field) {
        if ($(field).val() == "") {
            $(cb).prop("checked", true);
            toggleField(cb, field);
        }
    }
    function toggleField(cb, field) {
        if ($(cb).is(":checked")) {
            $(field).attr("required", false);
            $(field).attr("disabled", true);
            $(field).val("");
        }
        else {
            $(field).attr("required", true);
            $(field).attr("disabled", false);
        }
    }
    function checkAlertAddress() {
        if ($("#id_address").val() != "" || $("#toggle_address").is(":checked") == true) {
            $("#alert_address").addClass("d-none");
        }
        else {
            $("#alert_address").removeClass("d-none");
        }
    }
    function checkAlertPhone() {
        var has_number = ($("#id_phone_home").val() != "" || $("#id_phone_cell").val() != "");
        var both_checked = ($("#toggle_phone_home").is(":checked") == true && $("#toggle_phone_cell").is(":checked") == true);
        if (has_number || both_checked) {
            $("#alert_phone").addClass("d-none");
        }
        else {
            $("#alert_phone").removeClass("d-none");
        }
    }
    function checkAlertInfo() {
        if ($("#id_elderly").val() == "unknown" || $("#id_ambulatory").val() == "unknown") {
            $("#alert_info").removeClass("d-none");
        }
        else {
            $("#alert_info").addClass("d-none");
        }
    }

    $("#id_address").attr("required", true);
    $("#id_phone_home").attr("required", true);
    $("#id_phone_cell").attr("required", true);

    {% if not is_new %}
    initField("#toggle_address", "#id_address");
    initField("#toggle_phone_home", "#id_phone_home");
    initField("#toggle_phone_cell", "#id_phone_cell");
    {% endif %}

    checkAlertAddress();
    checkAlertPhone();
    checkAlertInfo();

    $("#toggle_address").on("click", function() { toggleField("#toggle_address", "#id_address"); checkAlertAddress(); } );
    $("#toggle_phone_home").on("click", function() { toggleField("#toggle_phone_home", "#id_phone_home"); checkAlertPhone(); } );
    $("#toggle_phone_cell").on("click", function() { toggleField("#toggle_phone_cell", "#id_phone_cell"); checkAlertPhone(); } );

    $("#id_address").on("change", checkAlertAddress);
    $("#id_phone_home").on("change", checkAlertPhone);
    $("#id_phone_cell").on("change", checkAlertPhone);
    $("#id_elderly").on("change", checkAlertInfo);
    $("#id_ambulatory").on("change", checkAlertInfo);
</script>
{% endblock %}
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
