{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}Update trips for Client | {{client.name}} | {% endif %}
{% endblock %}

{% block auth_content %}
<h2>Update trips for Client</h2>
<div class="alert alert-warning">
    Changes to <strong>{{client.name}}</strong> have been saved.<br/>
    {% if trips or template_trips %}
    Below is a preview of the changes that will be made to existing trips that matched the client's prior information.<br/>
    <strong>Please carefully review the changes before clicking "Update"!</strong><br/>
    If you are unsure or do not wish to make these changes, <a class="alert-link" href="{% url 'clients' %}#client_{{client.id}}">click here</a> to return to the Clients page.
    {% endif %}
</div>
<hr/>
<h3>Trips</h3>
{% if trips %}
<table class="mytable mytable-striped">
    <thead>
        <td>Date</td>
        <td>Name</td>
        <td>Address</td>
        <td>Destination</td>
        <td>Phone (Home)</td>
        <td>Phone (Cell)</td>
        <td>Phone (Alt)</td>
        <td>Elderly?</td>
        <td>Ambulatory?</td>
        <td>Reminder Instructions</td>
    </thead>
    {% for trip in trips %}
    <tr class="small">
        <td class="mytable-col-md">{{trip.trip.date}}</td>
        <td class="mytable-col-lg">
            {% if trip.updated.0 %}
            <span class="text-danger">- {{trip.trip.name}}</span><br/>
            <span class="text-success">+ {{client.name}}</span>
            {% else %}
            {{ trip.trip.name }}
            {% endif %}
        </td>
        <td class="mytable-col-lg">
            {% if trip.updated.1 %}
            <span class="text-danger">- {{trip.trip.address}}</span><br/>
            <span class="text-success">+ {{client.address}}</span>
            {% else %}
            {{ trip.trip.address }}
            {% endif %}
        </td>
        <td class="mytable-col-lg">
            {% if trip.updated.2 %}
            <span class="text-danger">- {{trip.trip.destination}}</span><br/>
            <span class="text-success">+ {{client.address}}</span>
            {% else %}
            {{ trip.trip.destination }}
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if trip.updated.3 %}
            <span class="text-danger">- {{trip.trip.phone_home}}</span><br/>
            <span class="text-success">+ {{client.phone_home}}</span>
            {% else %}
            {{ trip.trip.phone_home }}
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if trip.updated.4 %}
            <span class="text-danger">- {{trip.trip.phone_cell}}</span><br/>
            <span class="text-success">+ {{client.phone_cell}}</span>
            {% else %}
            {{ trip.trip.phone_cell }}
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if trip.updated.5 %}
            <span class="text-danger">- {{trip.trip.phone_alt}}</span><br/>
            <span class="text-success">+ {{client.phone_alt}}</span>
            {% else %}
            {{ trip.trip.phone_alt }}
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if trip.updated.6 %}
            <span class="text-danger">- {% if trip.trip.elderly == None %}?{% else %}{{trip.trip.elderly}}{% endif %}</span><br/>
            <span class="text-success">+ {% if client.elderly == None %}?{% else %}{{client.elderly}}{% endif %}</span>
            {% else %}
            {% if trip.trip.elderly == None %}?{% else %}{{ trip.trip.elderly }}{% endif %}
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if trip.updated.7 %}
            <span class="text-danger">- {% if trip.trip.ambulatory == None %}?{% else %}{{trip.trip.ambulatory}}{% endif %}</span><br/>
            <span class="text-success">+ {% if client.ambulatory == None %}?{% else %}{{client.ambulatory}}{% endif %}</span>
            {% else %}
            {% if trip.trip.ambulatory == None %}?{% else %}{{ trip.trip.ambulatory }}{% endif %}
            {% endif %}
        </td>
        <td class="mytable-col-xl">
            {% if trip.updated.8 %}
            <span class="text-danger">- {{trip.trip.reminder_instructions}}</span><br/>
            <span class="text-success">+ {{client.reminder_instructions}}</span>
            {% else %}
            {{ trip.trip.reminder_instructions }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no trips that need to be updated.</p>
{% endif %}

<hr/>

<h3>Template Trips</h3>
{% if template_trips %}
<table class="mytable mytable-striped">
    <thead>
        <td>Template</td>
        <td>Name</td>
        <td>Address</td>
        <td>Destination</td>
        <td>Phone (Home)</td>
        <td>Phone (Cell)</td>
        <td>Phone (Alt)</td>
        <td>Elderly?</td>
        <td>Ambulatory?</td>
        <td>Reminder Instructions</td>
    </thead>
    {% for trip in template_trips %}
    <tr class="small">
        <td class="mytable-col-md">{{trip.trip.parent}}</td>
        <td class="mytable-col-lg">
            {% if trip.updated.0 %}
            <span class="text-danger">- {{trip.trip.name}}</span><br/>
            <span class="text-success">+ {{client.name}}</span>
            {% else %}
            {{ trip.trip.name }}
            {% endif %}
        </td>
        <td class="mytable-col-lg">
            {% if trip.updated.1 %}
            <span class="text-danger">- {{trip.trip.address}}</span><br/>
            <span class="text-success">+ {{client.address}}</span>
            {% else %}
            {{ trip.trip.address }}
            {% endif %}
        </td>
        <td class="mytable-col-lg">
            {% if trip.updated.2 %}
            <span class="text-danger">- {{trip.trip.destination}}</span><br/>
            <span class="text-success">+ {{client.address}}</span>
            {% else %}
            {{ trip.trip.destination }}
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if trip.updated.3 %}
            <span class="text-danger">- {{trip.trip.phone_home}}</span><br/>
            <span class="text-success">+ {{client.phone_home}}</span>
            {% else %}
            {{ trip.trip.phone_home }}
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if trip.updated.4 %}
            <span class="text-danger">- {{trip.trip.phone_cell}}</span><br/>
            <span class="text-success">+ {{client.phone_cell}}</span>
            {% else %}
            {{ trip.trip.phone_cell }}
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if trip.updated.5 %}
            <span class="text-danger">- {{trip.trip.phone_alt}}</span><br/>
            <span class="text-success">+ {{client.phone_alt}}</span>
            {% else %}
            {{ trip.trip.phone_alt }}
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if trip.updated.6 %}
            <span class="text-danger">- {% if trip.trip.elderly == None %}?{% else %}{{trip.trip.elderly}}{% endif %}</span><br/>
            <span class="text-success">+ {% if client.elderly == None %}?{% else %}{{client.elderly}}{% endif %}</span>
            {% else %}
            {% if trip.trip.elderly == None %}?{% else %}{{ trip.trip.elderly }}{% endif %}
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {% if trip.updated.7 %}
            <span class="text-danger">- {% if trip.trip.ambulatory == None %}?{% else %}{{trip.trip.ambulatory}}{% endif %}</span><br/>
            <span class="text-success">+ {% if client.ambulatory == None %}?{% else %}{{client.ambulatory}}{% endif %}</span>
            {% else %}
            {% if trip.trip.ambulatory == None %}?{% else %}{{ trip.trip.ambulatory }}{% endif %}
            {% endif %}
        </td>
        <td class="mytable-col-xl">
            {% if trip.updated.8 %}
            <span class="text-danger">- {{trip.trip.reminder_instructions}}</span><br/>
            <span class="text-success">+ {{client.reminder_instructions}}</span>
            {% else %}
            {{ trip.trip.reminder_instructions }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no template trips that need to be updated.</p>
{% endif %}

<hr/>

{% if trips or template_trips %}
<form class="mb-4" action="" method="post" onsubmit="return checkForm(this, event);">
    {% csrf_token %}
    <div class="d-flex flex-wrap mt-2">
        <div class="mr-auto mb-3">
            <button class="btn btn-success btn-lg m-2" type="submit" name="save"><span class="oi oi-check mr-2"></span>Update</button>
            <button class="btn btn-secondary btn-lg m-2" type="submit" name="cancel" formnovalidate><span class="oi oi-x mr-2"></span>Cancel</button>
        </div>
    </div>
</form>
{% else %}
<div class="mb-4">
    <div class="d-flex flex-wrap mt-2">
        <div class="mr-auto mb-3">
            {% if existing_clients|length > 1 %}
            <a href="{% url 'client-fix-dupes' client.id %}" class="btn btn-primary btn-lg m-2"><span class="oi oi-arrow-left mr-2"></span>Return to Clients</a>
            {% else %}
            <a href="{% url 'clients' %}#client_{{client.id}}" class="btn btn-primary btn-lg m-2"><span class="oi oi-arrow-left mr-2"></span>Return to Clients</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}


{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
