<h3>Event Log <a href="" class="btn btn-primary btn-sm" onclick="ajax_loader.run()"><span class="oi oi-reload mr-2"></span>Refresh</a></h3>
<p class="text-muted small">Events that match your current IP address will be shown in bold. Your current IP address is: <strong>{{ current_ip }}</strong></p>
<div class="container ml-0 border p-2 mb-3" style="background: #eee;">
    <div class="row">
        <div class="col">
            <h5>Filter{% if filtered_count < unfiltered_count %} ({{filtered_count}}/{{unfiltered_count}} visible){% endif %}</h5>
        </div>
        {% if is_filtered %}
        <div class="col-auto">
            <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_reset', '')"><span class="oi oi-delete mr-2"></span>Reset Filter</button>
        </div>
        {% endif %}
    </div>
    <div class="mt-2">
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_action is None %}All Actions{% else %}{% for action in actions %}{% if filter_action == action.id %}Action: {{ action.name }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <button class="dropdown-item {% if filter_action is None %}active{% endif %}" onclick="ajax_loader.run('', 'filter_action', '')">All Actions</button>
                {% for action in actions %}
                <button class="dropdown-item {% if filter_action == action.id %}active{% endif %}" onclick="ajax_loader.run('', 'filter_action', '{{action.id}}')">{{action.name}}</button>
                {% endfor %}
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_target is None %}All Targets{% else %}{% for target in targets %}{% if filter_target == target.id %}Target: {{ target.name }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <button class="dropdown-item {% if filter_target is None %}active{% endif %}" onclick="ajax_loader.run('', 'filter_target', '')">All Targets</button>
                {% for target in targets %}
                <button class="dropdown-item {% if filter_target == target.id %}active{% endif %}" onclick="ajax_loader.run('', 'filter_target', '{{target.id}}')">{{target.name}}</button>
                {% endfor %}
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_username is None %}All Users{% else %}{% for user in users %}{% if filter_username == user.username %}User: {{ user.username }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <button class="dropdown-item {% if filter_username is None %}active{% endif %}" onclick="ajax_loader.run('', 'filter_username', '')">All Users</button>
                {% for user in users %}
                <button class="dropdown-item {% if filter_username == user.username %}active{% endif %}" onclick="ajax_loader.run('', 'filter_username', '{{ user.username }}')">{{ user.username }}</button>
                {% endfor %}
            </div>
        </span>
    </div>
    <div class="mt-2">
        <span class="mr-2">Start Date</span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_date_start_month == 0 %}-- Month --{% else %}{% for date_month in date_months %}{% if filter_date_start_month == date_month.id %}{{ date_month.name }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <button class="dropdown-item {% if filter_date_start_month == 0 %}active{% endif %}" onclick="ajax_loader.run('', 'filter_date_start_month', '0')">-- Month --</button>
                {% for date_month in date_months %}
                <button class="dropdown-item {% if filter_date_start_month == date_month.id %}active{% endif %}" onclick="ajax_loader.run('', 'filter_date_start_month', '{{date_month.id}}')">{{date_month.name}}</button>
                {% endfor %}
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_date_start_day == 0 %}-- Day --{% else %}{% for date_day in date_days %}{% if filter_date_start_day == date_day %}{{ date_day }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <button class="dropdown-item {% if filter_date_start_day == 0 %}active{% endif %}" onclick="ajax_loader.run('', 'filter_date_start_day', '0')">-- Day --</button>
                {% for date_day in date_days %}
                <button class="dropdown-item {% if filter_date_start_day == date_day %}active{% endif %}" onclick="ajax_loader.run('', 'filter_date_start_day', '{{date_day}}')">{{date_day}}</button>
                {% endfor %}
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_date_start_year == 0 %}-- Year --{% else %}{% for date_year in date_years %}{% if filter_date_start_year == date_year %}{{ date_year }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <button class="dropdown-item {% if filter_date_start_year == 0 %}active{% endif %}" onclick="ajax_loader.run('', 'filter_date_start_year', '0')">-- Year --</button>
                {% for date_year in date_years %}
                <button class="dropdown-item {% if filter_date_start_year == date_year %}active{% endif %}" onclick="ajax_loader.run('', 'filter_date_start_year', '{{date_year}}')">{{date_year}}</button>
                {% endfor %}
            </div>
        </span>
    </div>
    <div class="mt-2">
        <span class="mr-2">End Date</span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_date_end_month == 0 %}-- Month --{% else %}{% for date_month in date_months %}{% if filter_date_end_month == date_month.id %}{{ date_month.name }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <button class="dropdown-item {% if filter_date_end_month == 0 %}active{% endif %}" onclick="ajax_loader.run('', 'filter_date_end_month', '0')">-- Month --</button>
                {% for date_month in date_months %}
                <button class="dropdown-item {% if filter_date_end_month == date_month.id %}active{% endif %}" onclick="ajax_loader.run('', 'filter_date_end_month', '{{date_month.id}}')">{{date_month.name}}</button>
                {% endfor %}
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_date_end_day == 0 %}-- Day --{% else %}{% for date_day in date_days %}{% if filter_date_end_day == date_day %}{{ date_day }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <button class="dropdown-item {% if filter_date_end_day == 0 %}active{% endif %}" onclick="ajax_loader.run('', 'filter_date_end_day', '0')">-- Day --</button>
                {% for date_day in date_days %}
                <button class="dropdown-item {% if filter_date_end_day == date_day %}active{% endif %}" onclick="ajax_loader.run('', 'filter_date_end_day', '{{date_day}}')">{{date_day}}</button>
                {% endfor %}
            </div>
        </span>
        <span class="dropdown ajax-blocker">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_date_end_year == 0 %}-- Year --{% else %}{% for date_year in date_years %}{% if filter_date_end_year == date_year %}{{ date_year }}{% endif %}{% endfor %}{% endif %}
            </button>
            <div class="dropdown-menu shadow">
                <button class="dropdown-item {% if filter_date_end_year == 0 %}active{% endif %}" onclick="ajax_loader.run('', 'filter_date_end_year', '0')">-- Year --</button>
                {% for date_year in date_years %}
                <button class="dropdown-item {% if filter_date_end_year == date_year %}active{% endif %}" onclick="ajax_loader.run('', 'filter_date_end_year', '{{date_year}}')">{{date_year}}</button>
                {% endfor %}
            </div>
        </span>
    </div>
    <div class="mt-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modal_filter_search">
                <span class="oi oi-magnifying-glass mr-2"></span>Search
            </button>

            <!-- Modal -->
            <div class="modal ajax-blocker" id="modal_filter_search" tabindex="-1" role="dialog" aria-labelledby="modal_filter_search_title" aria-hidden="true">
                <div class="modal-dialog modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_filter_search_title">Filter events by description</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="filter_search_form">
                            <div class="modal-body">
                                <input id="filter_search" type="text" class="form-control" placeholder="Enter search terms"></input>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">
                                    <span class="oi oi-magnifying-glass mr-2"></span>Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    {% if filter_search %}
    <button class="btn btn-outline-danger btn-sm" onclick="ajax_loader.run('', 'filter_search', '')"><span class="oi oi-delete mr-2"></span>Remove filter: <strong>{{ filter_search }}</strong></button>
    {% endif %}
    </div>
</div>
{% if logged_events %}
<table class="mytable mytable-striped">
    <thead>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '0')">
                {% if sort_mode == 0 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Date &amp; Time
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '1')">
                {% if sort_mode == 1 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Username
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '2')">
                {% if sort_mode == 2 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                IP Address
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '3')">
                {% if sort_mode == 3 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Action
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '4')">
                {% if sort_mode == 4 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Target
            </a>
        </td>
        <td class="text-nowrap">
            <a class="text-dark" href="#_" onclick="ajax_loader.run('', 'sort', '5')">
                {% if sort_mode == 5 %}<span class="oi oi-sort-{% if sort_mode_dir == 1 %}descending{% else %}ascending{% endif %}"></span>{% endif %}
                Description
            </a>
        </td>
    </thead>
    {% for event in logged_events %}
    <tr {% if event.ip_address and current_ip == event.ip_address %}style="font-weight:bold;"{% endif %}>
        <td class="mytable-col-lg">
            <a class="text-dark text-bold" href="#_" onclick="ajax_loader.run('', 'filter_date_single_day', '{{ event.timestamp|date:"Y-m-d" }}')">
                {{ event.timestamp|date:"F j, Y" }}
            </a> - {{ event.timestamp|date:"g:i A" }}</span></td>
        <td class="mytable-col-md">{{ event.username }}</td>
        <td class="mytable-col-md">{% if event.ip_address %}{{ event.ip_address }}{% endif %}</td>
        <td class="mytable-col-md">{{ event.get_action_str }}</td>
        <td class="mytable-col-md">{{ event.get_model_str }}</td>
        <td class="mytable-col-xxl">{{ event.event_desc }}</td>
    </tr>
    {% endfor %}
</table>
{% if logged_events.paginator.num_pages > 1 %}
<nav class="mt-2">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{% if logged_events.has_previous %}?page={{ logged_events.previous_page_number }}{% endif %}">&laquo;</a></li>
        {% for page in logged_events.paginator.page_range %}
        {% if page > page_ranges.page_start and page <= page_ranges.page_end %}
        <li class="page-item {% if logged_events.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="page-item"><a class="page-link" href="{% if logged_events.has_next %}?page={{ logged_events.next_page_number }}{% endif %}">&raquo;</a></li>
    </ul>
</nav>
{% endif %}
<p>Showing results {{ page_ranges.item_count_start }}-{{ page_ranges.item_count_end }} of {{ logged_events.paginator.count }}</p>
<script type="text/javascript">
    setSearchModal('#filter_search_form', '#modal_filter_search', '#filter_search', '{{filter_search}}', function(s) { ajax_loader.run('', 'filter_search', $(s).val()); });
</script>
{% if user.is_superuser %}
<hr/>
<h3>For Administrators</h3>
<a class="btn btn-danger btn-sm" href="#_" onclick="clearLog()"><span class="oi oi-delete mr-2"></span>Clear Log</a>
<script type="text/javascript">
    function clearLog() {
        if (confirm("Delete ALL events from the log? This can not be undone!")) {
            ajax_loader.run('', 'clear_log', '');
        }
    }
</script>
{% endif %}
{% else %}
<p>There are no logged events. {% if filtered_count < unfiltered_count %}Try <a href="#_" onclick="ajax_loader.run('', 'filter_reset', '')">resetting the filter</a> to view all events.{% endif %}</p>
{% endif %}
