<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Stow, MA Council on Aging Transportation</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> #}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">Stow COA Transit Dept.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% block sidebar %}
                <ul class="nav navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Schedule</a>
                        <div class="dropdown-menu shadow">
                            {% if perms.transit.change_trip %}
                            <a class="dropdown-item" href="{% url 'schedule-today' 'edit' %}"><span class="oi oi-spreadsheet mr-2"></span>Edit Schedule</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'schedule-today' 'read-only' %}"><span class="oi oi-spreadsheet mr-2"></span>View Schedule</a>
                            {% endif %}
                            {% if perms.transit.change_vehicle %}
                            <a class="dropdown-item" href="{% url 'schedule-today' 'view' %}"><span class="oi oi-task mr-2"></span>View Schedule</a>
                            {% endif %}
                            {% if perms.transit.view_trip %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'search' %}"><span class="oi oi-magnifying-glass mr-2"></span>Search</a>
                            {% endif %}
                            {% if perms.transit.view_client or perms.transit.view_destination or perms.transit.view_template %}
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            {% if perms.transit.view_client %}
                            <a class="dropdown-item" href="{% url 'clients' %}"><span class="oi oi-people mr-2"></span>Clients</a>
                            {% endif %}
                            {% if perms.transit.view_destination %}
                            <a class="dropdown-item" href="{% url 'destinations' %}"><span class="oi oi-pin mr-2"></span>Destinations</a>
                            {% endif %}
                            {% if perms.transit.view_template %}
                            <a class="dropdown-item" href="{% url 'templates' %}"><span class="oi oi-list mr-2"></span>Templates</a>
                            {% endif %}
                            {% if perms.transit.view_driver or perms.transit.view_triptype %}
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            {% if perms.transit.view_driver %}
                            <a class="dropdown-item" href="{% url 'drivers' %}"><span class="oi oi-person mr-2"></span>Drivers</a>
                            {% endif %}
                            {% if perms.transit.view_triptype %}
                            <a class="dropdown-item" href="{% url 'triptypes' %}"><span class="oi oi-tags mr-2"></span>Trip Types</a>
                            {% endif %}
                            {% if perms.transit.view_fare %}
                            <a class="dropdown-item" href="{% url 'fares' %}"><span class="oi oi-dollar mr-2"></span>Fares</a>
                            {% endif %}
                        </div>
                    </li>
                    {% if perms.transit.change_vehicle %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"href="#" role="button" aria-haspopup="true" aria-expanded="false">Vehicles</a>
                        <div class="dropdown-menu shadow">
                            <a class="dropdown-item" href="{% url 'vehicle-status' %}"><span class="oi oi-wrench mr-2"></span>Vehicle Status</a>
                            <a class="dropdown-item" href="{% url 'vehicle-issue-create' %}"><span class="oi oi-warning mr-2"></span>Report an Issue</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'vehicles' %}"><span class="oi oi-star mr-2"></span>Vehicles</a>
                        </div>
                    </li>
                    {% endif %}
                    {% if perms.transit.view_trip %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                        <div class="dropdown-menu shadow">
                            <a class="dropdown-item" href="{% url 'report-last-month' %}"><span class="oi oi-graph mr-2"></span>View last month's report</a>
                            <a class="dropdown-item" href="{% url 'report-this-month' %}"><span class="oi oi-graph mr-2"></span>View this month's report</a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'help' %}">Help</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light btn btn-info" data-toggle="dropdown"href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-person"></span> {{ user.get_username }}
                        </a>
                        <div class="dropdown-menu shadow dropdown-menu-right">
                            {% if user.is_superuser %}
                            <a class="dropdown-item" href="/admin"><span class="oi oi-monitor mr-2"></span>View Admin Control Panel</a>
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            {% if perms.transit.change_shift and perms.transit.change_trip and perms.auth.change_user %}
                            <a class="dropdown-item" href="{% url 'excel-import' %}"><span class="oi oi-data-transfer-upload mr-2"></span>Import Excel Files</a>
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            {% if perms.auth.view_user %}
                            <a class="dropdown-item" href="{% url 'users' %}"><span class="oi oi-people mr-2"></span>Manage Users</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'password_change' %}"><span class="oi oi-key mr-2"></span>Change Password</a>
                            {% if perms.transit.change_sitesettings %}
                            <a class="dropdown-item" href="{% url 'settings' %}"><span class="oi oi-cog mr-2"></span>Settings</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}"><span class="oi oi-account-logout mr-2"></span>Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-light btn btn-secondary" href="{% url 'login' %}?next={{ request.path }}">
                            <span class="oi oi-person"></span> Login
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endblock %}
            </div>
        </nav>
        {% if notifications and user.is_authenticated and perms.transit.change_vehicleissue %}
            <div id="global-notifications" class="list-group list-group-flush">
            {% for issue in notify_vehicle_issues %}
            <strong><a href="{% url 'vehicle-issue-edit' issue.id %}" class="global-notification list-group-item list-group-item-action p-1 {% if issue.priority is 2 %}bg-danger text-light{% elif issue.priority is 1 %}bg-warning text-dark{% endif %}">{{ issue }}</a></strong>
            {% endfor %}
            {% if notify_vehicle_issues_low|length > 0 %}
            <strong><a href="{% url 'vehicle-status' %}#issues" class="global-notification list-group-item list-group-item-action p-1 bg-white">{{ notify_vehicle_issues_low|length }} low priority vehicle {% if notify_vehicle_issues_low|length == 1 %}issue{% else %}issues{% endif %}</a></strong>
            {% endif %}
            {% for vehicle in notify_vehicle_inspections %}
            <strong><a href="{% url 'vehicle-maintain-edit' vehicle.id %}" class="global-notification list-group-item list-group-item-action p-1 bg-warning text-dark">{{ vehicle }}: Due for inspection!</a></strong>
            {% endfor %}
            {% for vehicle in notify_vehicle_oil_changes %}
            <strong><a href="{% url 'vehicle-maintain-edit' vehicle.id %}" class="global-notification list-group-item list-group-item-action p-1 bg-warning text-dark">{{ vehicle }}: Due for an oil change!</a></strong>
            {% endfor %}
            </div>
        {% endif %}
        <div class="container-fluid mt-3">
            {% if user.is_authenticated %}
            <div>{% block auth_content %}{% endblock %}</div>
            {% else %}
            <div>{% block content %}{% endblock %}</div>
            {% endif %}
            <footer class="footer">
                <span class="text-muted">Developed by <a target="_blank" href="https://dorkster.github.io/">Justin Jacobs</a>
            </footer>
        </div>
    </body>
</html>
