{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}Import Excel (xlsx files) | {% endif %}
{% endblock %}

{% block auth_content %}
<h2>Import Excel (xlsx) files</h2>
{% if not import_done %}
<form class="mb-4" action="" method="post" enctype="multipart/form-data" onsubmit="return checkForm(this, event);">
    {% csrf_token %}
    {{ form.as_p }}
    <hr>
    <div class="d-flex flex-wrap mt-2">
        <div class="mr-auto mb-4">
            <button class="btn btn-success btn-lg m-2" type="submit"><span class="oi oi-data-transfer-upload mr-2"></span>Upload</button>
        </div>
    </div>
</form>
{% else %}
<p>Import completed. <a href="{% url 'excel-import' %}">Click here</a> to upload more.
{% if errors %}
<h3>Errors</h3>
<ul class="list-group small">
{% for error in errors %}
    <li class="list-group-item list-group-item-danger p-1">{{ error }}</li>
{% endfor %}
</ul>
<hr/>
{% endif %}
{% if trips or shifts%}
<ul class="list-group small">
    {% for shift in shifts %}
    <li class="list-group-item p-1">Imported shift: <strong>{{ shift }}</strong></li>
    {% endfor %}
    {% for trip in trips %}
    <li class="list-group-item p-1">Imported {% if trip.is_activity %}activity{% else %}trip{% endif %}: <strong>{{ trip }}</strong></li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
