{% extends "base_generic.html" %}

{% block auth_content %}
<h2>Help</h2>
<hr/>
<div class="container ml-0">
    <div class="row">
        {% if topics %}
        <div class="col-xs-auto pb-4">
            <div class="list-group">
            {% for topic in topics %}
            <a href="{% url 'help-topic' topic.1 %}" class="list-group-item list-group-item-action {% if topic.1 == topic_current.1 %}active{% endif %}">{{ topic.0 }}</a>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="col">
            <h3>{{ topic_current.0 }}</h3>
            {% block help_content %}
            {% endblock %}
            <div class="row">
                <div class="col-auto mr-auto">
                    {% if topic_prev %}
                    <a href="{% url 'help-topic' topic_prev.1 %}" class="btn btn-primary"><span class="oi oi-arrow-left mr-2"></span>{{ topic_prev.0 }}</a>
                    {% endif %}
                </div>
                <div class="col-auto">
                    {% if topic_next %}
                    <a href="{% url 'help-topic' topic_next.1 %}" class="btn btn-primary">{{ topic_next.0 }}<span class="oi oi-arrow-right ml-2"></span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
