{% extends "base_generic.html" %}

{% block auth_content %}
<h2>Welcome, {{ user }}!</h2>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Drivers</h3>
            <div class="list-group">
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'schedule-today' 'view' %}">
                    <span class="oi oi-task mr-2"></span><strong>View schedule</strong>
                </a>
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'vehicle-status' %}">
                    <span class="oi oi-wrench mr-2"></span>View vehicle status
                </a>
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'vehicle-issue-create' %}">
                    <span class="oi oi-warning mr-2"></span>Report a vehicle issue
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Administrative Staff</h3>
            <div class="list-group">
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'schedule-today' 'edit' %}">
                    <span class="oi oi-spreadsheet mr-2"></span><strong>Edit schedule</strong>
                </a>
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'report-this-month' %}">
                    <span class="oi oi-graph mr-2"></span>View latest report
                </a>
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'clients' %}">
                    <span class="oi oi-people mr-2"></span>Edit clients
                </a>
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'templates' %}">
                    <span class="oi oi-list mr-2"></span>Edit templates
                </a>
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'search' %}">
                    <span class="oi oi-magnifying-glass mr-2"></span>Search Trips
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
