{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}Search | {% endif %}
{% endblock %}

{% block auth_content %}
<h2>Search for Trips</h2>
<form class="mb-4" action="" method="get" onsubmit="return checkForm(this, event);">
    <div class="container ml-0">
        <div class="row">
            <div class="col-md border m-1 p-2">
                <div class="mb-2"><label for="{{ form.name.id_for_label }}"><strong>{{ form.name.label }}</strong></label><br/>{{ form.name }}</div>
                <div class="mb-2"><label for="{{ form.address.id_for_label }}"><strong>{{ form.address.label }}</strong></label><br/>{{ form.address }}</div>
                <div class="mb-2"><label for="{{ form.destination.id_for_label }}"><strong>{{ form.destination.label }}</strong></label><br/>{{ form.destination }}</div>
            </div>
            <div class="col-md border m-1 p-2">
                <div class="mb-2"><label for="{{ form.driver.id_for_label }}"><strong>{{ form.driver.label }}</strong></label><br/>{{ form.driver }}</div>
                <div class="mb-2"><label for="{{ form.vehicle.id_for_label }}"><strong>{{ form.vehicle.label }}</strong></label><br/>{{ form.vehicle }}</div>
            </div>
            <div class="col-md border m-1 p-2">
                <div class="mb-2"><label for="{{ form.start_date.id_for_label }}"><strong>{{ form.start_date.label }}</strong></label><br/>{{ form.start_date }}</div>
                <div class="mb-2"><label for="{{ form.end_date.id_for_label }}"><strong>{{ form.end_date.label }}</strong></label><br/>{{ form.end_date }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md border m-1 p-2">
                <div class="mb-2"><label for="{{ form.notes.id_for_label }}"><strong>{{ form.notes.label }}</strong></label><br/>{{ form.notes }}</div>
                <div class="mb-2"><label for="{{ form.elderly.id_for_label }}"><strong>{{ form.elderly.label }}</strong></label><br/>{{ form.elderly }}</div>
                <div class="mb-2"><label for="{{ form.ambulatory.id_for_label }}"><strong>{{ form.ambulatory.label }}</strong></label><br/>{{ form.ambulatory }}</div>
            </div>
            <div class="col-md border m-1 p-2">
                <div class="mb-2"><label for="{{ form.trip_type.id_for_label }}"><strong>{{ form.trip_type.label }}</strong></label><br/>{{ form.trip_type }}</div>
                <div class="mb-2"><label for="{{ form.tags.id_for_label }}"><strong>{{ form.tags.label }}</strong></label><br/>{{ form.tags }}</div>
                <div class="mb-2"><label for="{{ form.status.id_for_label }}"><strong>{{ form.status.label }}</strong></label><br/>{{ form.status }}</div>
            </div>
        </div>
        <button class="btn btn-success btn-lg mt-4" type="submit" name="search"><span class="oi oi-magnifying-glass mr-2"></span>Search</button>
    </div>
</form>
{% if results %}
<hr/>
<table class="mytable mytable-striped">
    <thead>
        {% if perms.transit.change_trip %}
        <td></td>
        {% endif %}
        <td>Date</td>
        <td>Name</td>
        <td>Address</td>
        <td>Destination</td>
        <td>Driver</td>
        <td>Vehicle</td>
        <td>Start Miles</td>
        <td>Start Time</td>
        <td>End Miles</td>
        <td>End Time</td>
        <td>Notes</td>
        <td>Trip Type / Tags</td>
        <td>Fare</td>
        <td>Money Collected</td>
        <td>Elderly?</td>
        <td>Ambulatory?</td>
    </thead>
{% for trip in results %}
<tr style="background: #{{ trip.get_driver_color }};">
        {% if perms.transit.change_trip %}
        <td class="mytable-col-xs"><a href="{% url 'trip-edit' 'edit' trip.id %}">Edit</a></td>
        <td class="mytable-col-md"><a href="{% url 'schedule' 'edit' trip.date.year trip.date.month trip.date.day %}#trip_{{trip.id}}">{{trip.date}}</a></td>
        {% else %}
        <td class="mytable-col-md"><a href="{% url 'schedule' 'read-only' trip.date.year trip.date.month trip.date.day %}#trip_{{trip.id}}">{{trip.date}}</a></td>
        {% endif %}
        <td class="mytable-col-lg">{{trip.name}}</td>
        <td class="mytable-col-lg">{{trip.address}}</td>
        <td class="mytable-col-lg">{{trip.destination}}</td>
        <td class="mytable-col-md">{% if trip.driver %}{{trip.driver}}{% endif %}</td>
        <td class="mytable-col-md">{% if trip.vehicle %}{{trip.vehicle}}{% endif %}</td>
        <td class="mytable-col-sm">
            {% if trip.check_start_miles %}
                {{ trip.start_miles }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.check_start_time %}
                {{ trip.start_time }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.check_end_miles %}
                {{ trip.end_miles }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.check_end_time %}
                {{ trip.end_time }}
            {% else %}
                <span title="Missing log data" class="oi oi-minus lg-icon"></span>
            {% endif %}
        </td>
        <td class="mytable-col-md">
            {{ trip.note }}
        </td>
        <td class="mytable-col-md">
            {% if trip.trip_type %}
            {% if trip.is_medical %}
            <span class="badge badge-danger"><span class="oi oi-medical-cross mr-1"></span>{{trip.trip_type}}</span>
            {% else %}
            <span class="badge badge-primary"><span class="oi oi-bookmark mr-1"></span>{{trip.trip_type}}</span>
            {% endif %}
            {% endif %}
            {% if trip.status > 0 %}
                {% if trip.status == 1 %}
                <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>Canceled</span>
                {% elif trip.status == 2 %}
                <span class="badge badge-secondary"><span class="oi oi-ban mr-1"></span>No Show</span>
                {% endif %}
            {% endif %}
            {% if trip.tags %}
                {% for tag in trip.get_styled_tag_list %}
                <span class="badge {{ tag.1 }}"><span class="oi oi-tag mr-1"></span>{{ tag.0 }}</span>
                {% endfor %}
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.fare > 0 %}
            ${{ trip.get_fare_str }}
            {% endif %}
        </td>
        <td class="mytable-col-sm">
            {% if trip.collected_cash > 0 %}
            Cash: ${{ trip.get_collected_cash_str }}
            {% endif %}
            {% if trip.collected_cash > 0 and trip.collected_check > 0 %}
            <br/>
            {% endif %}
            {% if trip.collected_check > 0 %}
            Check: ${{ trip.get_collected_check_str }}
            {% endif %}
        </td>
        <td class="mytable-col-xs">
            {% if trip.elderly %}
            <span class="oi oi-check"></span>
            {% elif trip.elderly is False %}
            <span class="oi oi-x"></span>
            {% endif %}
        </td>
        <td class="mytable-col-xs">
            {% if trip.ambulatory %}
            <span class="oi oi-check"></span>
            {% elif trip.ambulatory is False %}
            <span class="oi oi-x"></span>
            {% endif %}
        </td>
{% endfor %}
</table>
{% if results.paginator.num_pages > 1 %}
<nav class="mt-2">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#_" onclick="{% if results.has_previous %}setParam('page', {{ results.previous_page_number }}){% endif %}">&laquo;</a></li>
        {% for page in results.paginator.page_range %}
        {% if page > page_range_start and page <= page_range_end %}
        <li class="page-item {% if results.number == page %}active{% endif %}"><a class="page-link" href="#_" onclick="setParam('page', {{ page }})">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="page-item"><a class="page-link" href="#_" onclick="{% if results.has_next %}setParam('page', {{ results.next_page_number }}){% endif %}">&raquo;</a></li>
    </ul>
</nav>
{% endif %}
<p>Showing results {{ result_start }}-{{ result_end }} of {{ results.paginator.count }}</p>
{% elif searched %}
<hr/>
<p>No results found.</p>
{% endif %}
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
