@media print {
    nav, #global-notifications, #notify_vehicle_issues, .footer, h3 a.btn, .top-right-nav {
        display: none !important;
    }
    body.bg-light {
        background: none !important;
    }
    .mytable-hoverhi tr:hover {
        background: transparent;
        font-weight: unset;
    }
    .mytable-hoverhi tr:hover:nth-child(2n+2) {
        background: rgba(0,0,0,0.04);
        font-weight: unset;
    }
}

.mytable-col-address {
    width: 24em;
}
