@media print {
    #print-print, #print-close, #print-filter, #print-filter-hr {
        display: none;
    }
    .mytable * {
        font-size: 93%;
    }
}

body.bg-light {
    background: none !important;
}

nav {
    display: none !important;
}

#notify_vehicle_issues {
    display: none;
}

.footer {
    display: none;
}

#global-notifications {
    display: none !important;
}

.mytable, .mytable td, .mytable thead {
    page-break-inside: avoid;
}
