<h3>Fares <a class="btn btn-success btn-sm" href="{% url 'fare-create' %}"><span class="oi oi-plus mr-2"></span>New</a></h3>
{% if fares %}
<script type="text/javascript">
    var row_mover = new RowMover("RowMover", ajax_loader);
</script>
<table class="mytable mytable-striped-sort">
    <thead>
        <td></td>
        <td></td>
        <td>Name</td>
        <td>Fare</td>
    </thead>
    {% for fare in fares %}
    {% if fare.sort_index == 0 %}
    <tr class="RowMover mytable-sort mytable-sort-hidden" onclick="row_mover.moveItem('')"><td colspan="4"></td></tr>
    {% endif %}
    <tr>
        <td class="mytable-col-arrows">
            <a id="fare_{{ fare.id }}"></a>
            <button class="btn btn-outline-dark btn-sm btn-row-mover" onclick="row_mover.toggle(this, '{{ fare.id }}')"><span class="oi oi-resize-height"></span></button>
        </td>
        <td class="mytable-col-xs">
            <div class="dropdown ajax-blocker">
                <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-pencil"></span>
                </button>
                <div class="dropdown-menu shadow">
                    <a href="{% url 'fare-edit' fare.id %}" class="dropdown-item"><span class="oi oi-pencil mr-2"></span>Edit Fare</a>
                    {% if perms.transit.delete_fare %}
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'fare-delete' fare.id %}" class="dropdown-item text-danger"><span class="oi oi-delete mr-2"></span>Delete Fare</a>
                    {% endif %}
                </div>
            </div>
        </td>
        <td class="mytable-col-lg">{{ fare.name }}</td>
        <td class="mytable-col-md">${{ fare.get_fare_str }}</td>
    </tr>
    <tr class="RowMover mytable-sort mytable-sort-hidden" onclick="row_mover.moveItem('{{ fare.id }}')"><td colspan="4"></td></tr>
    {% endfor %}
</table>
{% else %}
<p>There are no fares.</p>
{% endif %}
