{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}{% if is_new %}New {{ trip.get_class_name }}{% else %}{{ trip.get_class_name }} Edit | {{trip}}{% endif %} | {% endif %}
{% endblock %}

{% block auth_content %}
{% load static %}
<h2>
    {% if is_new %}New {{ trip.get_class_name }}{% else %}{{ trip.get_class_name }} Edit{% endif %}
</h2>
{% if is_return_trip %}
<div class="alert alert-primary" role="alert">Return trip created. Use <a class="alert-link" href="#_" onclick="document.getElementById('trip_form').submit();return false;">Save Changes</a> to confirm.</div>
{% endif %}
<form id="trip_form" class="mb-4" action="" method="post" onsubmit="return checkForm(this, event);">
    {% csrf_token %}
    <datalist id='client-names'>
        {% for client in clients %}
        <option value="{{ client.name }}">
        {% endfor %}
    </datalist>
    <datalist id='addresses'>
        {% if destinations|length_is:"0" %}
        {% for address in addresses %}
        <option value="{{ address }}">
        {% endfor %}
        {% else %}
        <option value="">
        {% for destination in destinations %}
        <option value="{{ destination.address }}">
        {% endfor %}
        {% endif %}
    </datalist>
    <div class="container ml-0">
        <div class="row">
            <div class="col-md border m-1 pt-1">
                <fieldset class="form-group">
                    <legend>{{ form.date.label }}</legend>
                    <div>{{ form.date }}</div>
                </fieldset>
            </div>
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <legend>{{ form.status.label }}</legend>
                    <div class="mb-2">{{ form.status }}</div>
                    <div id="cancel_date" class="collapse">
                        <legend>{{ form.cancel_date.label }}</legend>
                        <div class="mb-2">{{ form.cancel_date }}</div>
                        <legend>{{ form.cancel_time.label }}
                            <a href="#_" class="btn btn-sm btn-secondary ml-2" title="Get the current time" onclick="getCurrentTime('id_cancel_time')"><span class="oi oi-clock"></span></a>
                        </legend>
                        <div class="mb-2">{{ form.cancel_time }}</div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            {% if trip.format == Trip.FORMAT_ACTIVITY %}
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <legend>Activity Information</legend>
                    <div class="mb-2"><label for="{{ form.start_time.id_for_label }}"><strong>{{ form.start_time.label }}</strong></label><br/>{{ form.start_time }}</div>
                    <div class="mb-2"><label for="{{ form.end_time.id_for_label }}"><strong>{{ form.end_time.label }}</strong></label><br/>{{ form.end_time }}</div>
                    <div class="mb-2"><label for="{{ form.description.id_for_label }}"><strong>{{ form.description.label }}</strong></label><br/>{{ form.description }}</div>
                    <div class="mb-2"><label for="{{ form.activity_color.id_for_label }}"><strong>{{ form.activity_color.label }}</strong></label><br/>{{ form.activity_color }}</div>
                </fieldset>
            </div>
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <legend>Driver Information</legend>
                    <div class="mb-2"><label for="{{ form.driver.id_for_label }}"><strong>{{ form.driver.label }}</strong></label><br/>{{ form.driver }}</div>
                    <div class="mb-2"><label for="{{ form.driver_is_available.id_for_label }}"><strong>{{ form.driver_is_available.label }}</strong></label><br/>{{ form.driver_is_available }}</div>
                </fieldset>
            </div>
            {% else %}
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <legend>Client Information</legend>
                    <div class="mb-2"><label for="{{ form.name.id_for_label }}"><strong>{{ form.name.label }}</strong></label><br/>{{ form.name }}</div>
                    <div class="mb-2"><label for="{{ form.phone_home.id_for_label }}"><strong>{{ form.phone_home.label }}</strong></label>
                        <a title="Get the client's home phone number" href="#_" class="btn btn-secondary btn-sm ml-2" onclick="getClientPhone(0)"><span class="oi oi-phone"></span></a>
                        <br/>{{ form.phone_home }}
                    </div>
                    <div class="mb-2"><label for="{{ form.phone_cell.id_for_label }}"><strong>{{ form.phone_cell.label }}</strong></label>
                        <a title="Get the client's cell phone number" href="#_" class="btn btn-secondary btn-sm ml-2" onclick="getClientPhone(1)"><span class="oi oi-phone"></span></a>
                        <br/>{{ form.phone_cell }}
                    </div>
                    <div class="mb-2"><label for="{{ form.phone_alt.id_for_label }}"><strong>{{ form.phone_alt.label }}</strong></label>
                        <a title="Get the client's alternate phone number" href="#_" class="btn btn-secondary btn-sm ml-2" onclick="getClientPhone(2)"><span class="oi oi-phone"></span></a>
                        <br/>{{ form.phone_alt }}
                    </div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.elderly.id_for_label }}"><strong>{{ form.elderly.label }}</strong></label><br/>{{ form.elderly }}</div>
                    <div class="mb-2"><label for="{{ form.ambulatory.id_for_label }}"><strong>{{ form.ambulatory.label }}</strong></label><br/>{{ form.ambulatory }}</div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.notes.id_for_label }}"><strong>{{ form.notes.label }}</strong></label><br/>{{ form.notes }}</div>
                    <a href="#_" onclick="focusVolunteer()">Set a volunteer driver?</a>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.reminder_instructions.id_for_label }}"><strong>{{ form.reminder_instructions.label }}</strong></label><br/>{{ form.reminder_instructions }}</div>
                </fieldset>
            </div>
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <legend>Trip Information</legend>
                    <div class="mb-2"><label for="{{ form.pick_up_time.id_for_label }}"><strong>{{ form.pick_up_time.label }}</strong></label><br/>{{ form.pick_up_time }}</div>
                    <div class="mb-2"><label for="{{ form.appointment_time.id_for_label }}"><strong>{{ form.appointment_time.label }}</strong></label><br/>{{ form.appointment_time }}</div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.address.id_for_label }}"><strong>{{ form.address.label }}</strong></label>
                        <a href="#_" class="btn btn-sm btn-secondary ml-2" title="Get the client's home address" onclick="getClientAddress(9)"><span class="oi oi-home"></span></a>
                        <br/>{{ form.address }}</div>
                    <div class="mb-2"><label for="{{ form.phone_address.id_for_label }}"><strong>{{ form.phone_address.label }}</strong></label>
                        <a title="Get the pick-up phone number" href="#_" class="btn btn-secondary btn-sm ml-2" onclick="getDestinationPhone(0)"><span class="oi oi-phone"></span></a>
                        <br/>{{ form.phone_address }}
                    </div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.destination.id_for_label }}"><strong>{{ form.destination.label }}</strong></label>
                        <a href="#_" class="btn btn-sm btn-secondary ml-2" title="Get the client's home address" onclick="getClientAddress(1)"><span class="oi oi-home"></span></a>
                        <br/>{{ form.destination }}</div>
                    <div class="mb-2"><label for="{{ form.phone_destination.id_for_label }}"><strong>{{ form.phone_destination.label }}</strong></label>
                        <a title="Get the destination phone number" href="#_" class="btn btn-secondary btn-sm ml-2" onclick="getDestinationPhone(1)"><span class="oi oi-phone"></span></a>
                        <br/>{{ form.phone_destination }}
                    </div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.trip_type.id_for_label }}"><strong>{{ form.trip_type.label }}</strong></label><br/>{{ form.trip_type }}</div>
                    <div class="mb-2"><label for="{{ form.tags.id_for_label }}"><strong>{{ form.tags.label }}</strong></label><br/>{{ form.tags }}
                        <div id="tag_list"></div>
                    </div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.passenger.id_for_label }}"><strong>{{ form.passenger.label }}</strong></label><br/>{{ form.passenger }}</div>
                </fieldset>
            </div>
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <legend>Log Information</legend>
                    <div class="mb-2"><label for="{{ form.driver.id_for_label }}"><strong>{{ form.driver.label }}</strong></label><br/>{{ form.driver }}</div>
                    <div class="mb-2"><label for="{{ form.vehicle.id_for_label }}"><strong>{{ form.vehicle.label }}</strong></label><br/>{{ form.vehicle }}</div>
                    <div class="mb-2"><label for="{{ form.volunteer.id_for_label }}"><strong>{{ form.volunteer.label }}</strong></label><br/>{{ form.volunteer }}</div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.start_miles.id_for_label }}"><strong>{{ form.start_miles.label }}</strong></label><br/>{{ form.start_miles }}</div>
                    <div class="mb-2"><label for="{{ form.start_time.id_for_label }}"><strong>{{ form.start_time.label }}</strong></label>
                        <a href="#_" class="btn btn-sm btn-secondary ml-2" title="Get the current time" onclick="getCurrentTime('id_start_time')"><span class="oi oi-clock"></span></a>
                        <br/>{{ form.start_time }}
                    </div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.end_miles.id_for_label }}"><strong>{{ form.end_miles.label }}</strong></label><br/>{{ form.end_miles }}</div>
                    <div class="mb-2"><label for="{{ form.end_time.id_for_label }}"><strong>{{ form.end_time.label }}</strong></label>
                        <a href="#_" class="btn btn-sm btn-secondary ml-2" title="Get the current time" onclick="getCurrentTime('id_end_time')"><span class="oi oi-clock"></span></a>
                        <br/>{{ form.end_time }}
                    </div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.fare.id_for_label }}"><strong>{{ form.fare.label }}</strong></label>
                        <a title="Show the fare selection dialog" href="#_" class="btn btn-secondary btn-sm ml-2" onclick="showFareDialog()"><span class="oi oi-dollar"></span></a>
                        <br/>{{ form.fare }}</div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.collected_cash.id_for_label }}"><strong>{{ form.collected_cash.label }}</strong></label><br/>{{ form.collected_cash }}</div>
                    <div class="mb-2"><label for="{{ form.collected_check.id_for_label }}"><strong>{{ form.collected_check.label }}</strong></label><br/>{{ form.collected_check }}</div>
                </fieldset>
            </div>
            {% endif %}
        </div>
        <hr/>
        {% if is_new and trip.format == Trip.FORMAT_NORMAL and not is_return_trip %}
        {{ form.create_return_trip }}
        {{ form.add_client }}
        {{ form.add_dest1 }}
        {{ form.add_dest2 }}
        <a id="create_return_trip_btn" class="btn btn-outline-dark mt-1 mb-1" href="#_" onclick="toggleReturnTrip(this)"><span class="oi oi-circle-x mr-2"></span>Create a return trip</a>
        <a id="add_client_btn" class="btn btn-outline-dark disabled mt-1 mb-1" href="#_" onclick="toggleAddClient(this)"><span class="oi oi-circle-x mr-2"></span>Add to Clients</a>
        <a id="add_dest1_btn" class="btn btn-outline-dark disabled mt-1 mb-1" href="#_" onclick="toggleAddDestination(this, 0)"><span class="oi oi-circle-x mr-2"></span>Add Pick-Up Address to Destinations</a>
        <a id="add_dest2_btn" class="btn btn-outline-dark disabled mt-1 mb-1" href="#_" onclick="toggleAddDestination(this, 1)"><span class="oi oi-circle-x mr-2"></span>Add Destination Address to Destinations</a>
        <hr/>
        {% endif %}
        <div class="d-flex flex-wrap mt-2">
            <div class="mr-auto mb-3">
                <button class="btn btn-success btn-lg m-2" type="submit" name="save"><span class="oi oi-check mr-2"></span>Save Changes</button>
                <button class="btn btn-secondary btn-lg m-2" type="submit" name="cancel" formnovalidate><span class="oi oi-x mr-2"></span>Cancel Changes</button>
            </div>
            {% if not is_new %}
            <div>
                <button class="btn btn-danger btn-lg m-2" type="submit" name="delete" formnovalidate><span class="oi oi-delete mr-2"></span>Delete {{trip.get_class_name}}</button>
            </div>
            {% endif %}
        </div>
        <hr/>
        {% if not is_new %}
        <div class="d-flex flex-wrap m-2">
            <a href="{% url 'loggedevent-list' %}?quicksearch={{trip|urlencode}}" target="_blank" class="btn btn-secondary btn-sm"><span class="oi oi-magnifying-glass mr-2"></span>Search for trip in Event Log</a>
        </div>
        {% endif %}
    </div>
</form>

{% if fares %}
<div id="fare_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please select a fare for this trip</h5>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    {% for fare in fares %}
                    <a href="#_" class="list-group-item list-group-item-success list-group-item-action" onclick="setFare('{{fare.get_fare_str}}')">
                        <div class="row justify-content-between">
                            <div class="col">
                                {{fare.name}}
                            </div>
                            <div class="col-auto">
                                <strong>${{fare.get_fare_str}}</strong>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <span class="oi oi-x mr-2"></span>Close
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div id="tag_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please select a tag to add to this trip</h5>
            </div>
            <div class="modal-body">
                {% if tags %}
                <div class="d-flex flex-wrap">
                    {% for tag in tags %}
                    <div class="p-2 tag-grid-item">
                        <a href="#_" class="btn btn-sm {{tag.get_button_style}} text-bold" onclick="addTag('{{tag.name}}')"><span class="oi oi-tag mr-2"></span>{{tag.name}}</a>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>There are no tags.</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <span class="oi oi-x mr-2"></span>Close
                </button>
            </div>
        </div>
    </div>
</div>

<div id="client_notice_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 id="client_notice_header" class="modal-title">Please select a tag to add to this trip</h5>
            </div>
            <div id="client_notice_body" class="modal-body text-danger text-bold">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <span class="oi oi-x mr-2"></span>Close
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'transit/js/validate.js' %}"></script>
<script type="text/javascript" src="{% static 'transit/js/trip/edit.js' %}"></script>
{% if trip.format == Trip.FORMAT_NORMAL %}
{{ clients_json|json_script:"clients-tag" }}
{{ destinations_json|json_script:"destinations-tag" }}
{{ driver_vehicle_pairs|json_script:"driver-vehicle-pairs-tag" }}
{{ tags_json|json_script:"tags-tag" }}
{% endif %}
<script type="text/javascript">
    setStatusColor();
    setCancelDateVisibility();
    focusFromParam();
    setupFormEvents();
    setupDatePickerEvents("#id_date_year", "#id_date_month", "#id_date_day");
    setupDatePickerEvents("#id_cancel_date_year", "#id_cancel_date_month", "#id_cancel_date_day");

    {% if trip.format == Trip.FORMAT_NORMAL %}
    var clients = JSON.parse(JSON.parse(document.getElementById("clients-tag").textContent));
    var destinations = JSON.parse(JSON.parse(document.getElementById("destinations-tag").textContent));
    var driver_vehicle_pairs = JSON.parse(JSON.parse(document.getElementById("driver-vehicle-pairs-tag").textContent));
    var tags = JSON.parse(JSON.parse(document.getElementById("tags-tag").textContent));

    setupFormEventsTrip();

    {% if fares and is_new and not is_return_trip %}
    showFareDialog();
    {% endif %}

    createTagList();
    {% endif %}
</script>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
