{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}Drop Off | {{trip}} | {% endif %}
{% endblock %}

{% block auth_content %}
{% load static %}
<h2>Drop Off</h2>
<form class="mb-4" action="" method="post" onsubmit="return checkForm(this, event);">
    {% csrf_token %}
    <div class="container ml-0">
        <div class="row">
            <div class="col border m-1 pt-1">
                <fieldset class="form-group">
                    <legend class="mb-0">{{ trip.name }}</legend>
                    <div>
                        <span class="text-muted small">{{ trip.date }}</span><br/>
                        <span class="badge badge-light border text-muted text-wrap text-left"><span class="oi oi-home mr-2"></span><strong>{{ trip.address }}</strong></span><br/>
                        <span class="badge badge-success border border-success text-wrap text-left"><span class="oi oi-arrow-right mr-2"></span><strong>{{ trip.destination }}</strong></span>
                    </div>
                    <hr/>
                    <div class="mb-2"><label for="{{ form.miles.id_for_label }}"><strong>{{ form.miles.label }}</strong></label><br/>{{ form.miles }}</div>
                    <div id="full_miles_desc"></div>
                    <div id="full_miles" class="full-miles"></div>
                    <div id="mile_suggestion_typo_warning" class="mb-3" style="font-size: 120%; display: none;">
                        <span class="text-danger">
                            <em><strong>Please check for typos.</strong></em>
                        </span>
                    </div>
                    <div id="mile_suggestion" class="mb-3" style="font-size: 120%; display: none;">
                        <span class="text-danger">
                            <em>Did you mean: <span id="mile_suggestion_prefix"></span><strong><span id="mile_suggestion_suffix"></span></strong>?</em>
                            <a id="mile_suggestion_button" href="#_" class="ml-2 btn btn-success" data-suggestion="" onclick="useSuggestion(this, mile_data)">Yes</a>
                        </span>
                    </div>
                    <div id="mile_suggestion_error" class="mb-3" style="font-size: 120%; display: none;">
                        <span class="text-danger">
                            <em>No suggested fixes.</em>
                            <a id="mile_suggestion_error_button" href="#_" class="ml-2 btn btn-danger" data-suggestion="" onclick="mileageErrorTryAgain(mile_data)">Try Again</a>
                        </span>
                    </div>
                    <div class="mb-2"><label for="{{ form.time.id_for_label }}"><strong>{{ form.time.label }}</strong></label>
                        <a href="#_" class="btn btn-sm btn-secondary ml-2" title="Get the current time" onclick="getCurrentTime('id_time')"><span class="oi oi-clock"></span></a>
                        <br/>{{ form.time }}</div>
                    {{ form.additional_pickups }}
                </fieldset>
            </div>
        </div>
        {% if additional_pickups %}
        <hr/>
        <h3>More drop-offs at:<br/>
            <span class="badge badge-secondary text-wrap text-left">{{ trip.destination }}</span>
        </h3>
        <div class="list-group">
            {% for pickup in additional_pickups %}
            <a href="#_" class="list-group-item list-group-item-action" id="additional_pickup_{{ pickup.id }}" onclick="toggleAdditionalPickup('additional_pickup_{{ pickup.id }}')" data-id="{{ pickup.id }}">
                <h5>{{ pickup.name }}</h5>
                From: <strong>{{ pickup.address }}</strong>
            </a>
            {% endfor %}
        </div>
        {% endif %}
        <hr/>
        <div class="d-flex flex-wrap mt-2">
            <div class="mr-auto mb-3">
                <button class="btn btn-success btn-lg m-2" type="submit" name="save"><span class="oi oi-check mr-2"></span>Save Changes</button>
                <button class="btn btn-secondary btn-lg m-2" type="submit" name="cancel" formnovalidate><span class="oi oi-x mr-2"></span>Cancel Changes</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="{% static 'transit/js/validate.js' %}"></script>
<script type="text/javascript" src="{% static 'transit/js/trip/start_end.js' %}"></script>
<script type="text/javascript">
    var mile_data = { "start": {}, "prev": {} };

    {% for key,val in start_miles.items %}
        {% if key == trip.vehicle.name %}
        mile_data["start"]["{{ key }}"] = "{{ val }}";
        {% endif %}
    {% endfor %}
    {% for key,val in prev_miles.items %}
        {% if key == trip.vehicle.name %}
        mile_data["prev"]["{{ key }}"] = "{{ val }}";
        {% endif %}
    {% endfor %}

    setupFormEvents(mile_data);
    showFullMiles(mile_data);
</script>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
