.mytable {
    font-size: 10pt;
}

.mytable thead {
    font-weight: bold;
}

.mytable td {
    padding: 0.25em;
    border: 1px solid #777 !important;
}

.mytable-col-xs {
    text-align: center !important;
    width: 4em;
}

.mytable-col-sm {
    text-align: center !important;
    width: 6em;
}

.mytable-col-md {
    width: 8em;
}

.mytable-col-lg {
    width: 16em;
}

.mytable-col-xl {
    width: 48em;
}

.mytable-col-arrows {
    text-align: center !important;
    width: 3em;
}

.mytable thead {
    background: rgba(0,0,0,0.1);
}

.mytable-striped tr:nth-child(even) {
    background: rgba(0,0,0,0.04);
}

.form-control-width-fix {
    width: auto !important;
    display: inline !important;
}

.full-miles * {
    font-size: 24pt;
}

.lg-icon {
    font-size: 16pt;
}

.footer {
    width: 100%;
    text-align: right;
    font-size: 8pt;
    padding: 1em;
    margin-top: 1em;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.text-bold {
    font-weight: bold;
}

.sort-arrow {
    /* line-height: 1.2em; */
    font-size: 75%;
}
