<h3>Vehicles <a class="btn btn-secondary" href="{% url 'vehicle-create' %}">Add new</a></h3>
{% if vehicles %}
<table class="mytable mytable-striped">
    <thead>
        <td></td>
        <td></td>
        <td>Name</td>
        <td>Is logged?</td>
    </thead>
    {% for vehicle in vehicles %}
    <tr>
        <td class="mytable-col-arrows">
            <a id="vehicle_{{ vehicle_.id }}"></a>
            <div class="btn-group-vertical">
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0" onclick="ajax_loader.run('{{ vehicle.id }}', 'mv', 'u')"><span class="oi oi-chevron-top"></span></button>
                <button class="btn btn-outline-dark btn-sm pt-0 pb-0" onclick="ajax_loader.run('{{ vehicle.id }}', 'mv', 'd')"><span class="oi oi-chevron-bottom"></span></button>
            </div>
        </td>
        <td class="mytable-col-xs">
            <a class="btn btn-outline-dark btn-sm" href="{% url 'vehicle-edit' vehicle.id %}">Edit</a>
        </td>
        <td class="mytable-col-lg">{{ vehicle.name }}</td>
        <td class="mytable-col-sm"><span class="oi {% if vehicle.is_logged %}oi-check{% elif vehicle.is_logged is False %}oi-x{% endif %}"></span></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
