{% extends "base_generic.html" %}
{% block title_section %}
{% if user.is_authenticated %}Average Trip Time Analysis: Regenerate Data | {% endif %}
{% endblock %}

{% block auth_content %}
<h3>Average Trip Time Analysis: Regenerate Data</h3>
<div class="container ml-0">
    <p>Current dataset: {{ trip_delta_times|length }} entries</p>
    {% if regen %}
    <div class="alert alert-info">Dataset updated!</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-primary btn-lg m-2" type="submit" name="regen" formnovalidate><span class="oi oi-reload mr-2"></span>Regenerate</button>
    </form>
</div>
{% endblock %}

{% block content %}
<p>You are not authorized. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endblock %}
