.mytable {
    font-size: 10pt;
}

.mytable thead {
    font-weight: bold;
}

.mytable td {
    padding: 0.25em;
    border: 1px solid #777 !important;
}

.mytable td.edit_cell:hover {
    background: #00000011;
    cursor: pointer;
}

.mytable-col-xxs {
    text-align: center !important;
    width: 2em;
}

.mytable-col-xs {
    text-align: center !important;
    width: 4em;
}

.mytable-col-sm {
    text-align: center !important;
    width: 6em;
}

.mytable-col-md {
    width: 8em;
}

.mytable-col-lg {
    width: 16em;
}

.mytable-col-xl {
    width: 48em;
}

.mytable-col-xxl {
    width: 64em;
}

.mytable-col-arrows {
    text-align: center !important;
    width: 3em;
}

.mytable thead {
    background: rgba(0,0,0,0.1);
}

.mytable-striped tr:nth-child(2n+2) {
    background: rgba(0,0,0,0.04);
}

.mytable-striped-sort tr:nth-child(4n+4) {
    background: rgba(0,0,0,0.04);
}

.mytable-sort {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-image: linear-gradient(#cccccc, #ffffff);
    font-size: 80%;
}

.mytable-sort:hover {
    background-image: linear-gradient(#bbbbbb, #eeeeee);
}

.mytable-sort td {
    padding-top: 0;
    padding-bottom: 0;
}

.mytable-sort-hidden {
    display: none;
}

.mytable-hoverhi tr:hover {
    background: #fff3cd;
    font-weight: bold;
}

.mytable-zero {
    color: rgba(0,0,0,0.2);
}

.form-control-width-fix {
    width: auto !important;
    display: inline !important;
}

.form-control-color {
    width: 4em !important;
}

.full-miles * {
    font-size: 24pt;
}

.lg-icon {
    font-size: 16pt;
}

.footer {
    width: 100%;
    text-align: right;
    font-size: 8pt;
    padding: 1em;
    margin-top: 1em;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.text-bold {
    font-weight: bold;
}

.sort-arrow {
    /* line-height: 1.2em; */
    font-size: 75%;
}

.global-notification {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag-grid-item {
    flex: 1 1 33%;
}

@media (max-width: 991.98px) {
    .tag-grid-item {
        flex: 1 1 50%;
    }
}

@media (max-width: 575.98px) {
    .tag-grid-item {
        flex: 1 1 100%;
    }
}

.ajax-loading {
    height: 0.4em;
    animation-name: ajax-loading-keyframes;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

@keyframes ajax-loading-keyframes {
    from { width: 1%; }
    to { width: 100%; }
}
